<div class="px-0 px-xl-5">
  <div class="row g-5 pt-3">
    <div
      class="col pe-0 pe-xl-2"
      data-title="CERFA 3916"
      data-position="top"
      data-intro="...une date d'ouverture; Si celle-ci correspond vous pourrez laisser cette date, sinon vous devrez la modifier en recherchant par exemple dans vos emails..."
    >
      <label for="inputOpenDate" class="form-label text-label">Date d'ouverture
        <span class="d-none d-md-inline">:</span></label>
      <EmberFlatpickr
        placeholder="Modifier la date d'ouverture"
        @date={{this.openDate}}
        @locale="fr"
        @onChange={{null}}
        @onClose={{this.onChangeOpen}}
        @mode="single"
        class="form-select form-select-sm calendar-icon"
        aria-label="opening date"
        id="picker1"
      />

      {{#if this.errorOpenDate}}
        <p class="text-warning m-0 p-0 mt-1">Veuillez choisir une autre date, non postérieure à la première TX
          {{format-date @firsttx}}</p>
      {{/if}}
    </div>
    <div
      class="col ps-2 ps-xl-3 pe-0 pe-xl-2"
      data-title="CERFA 3916"
      data-position="top"
      data-intro="...Ensuite si le compte a été clos, veuillez le signaler ici et entrer la date de clôture..."
    >
      <label for="inputCloseDate" class="form-label text-label">
        Date de fermeture
        <span class="d-none d-md-inline">(<strong>si compte clos</strong>
          ) :</span>
        <App::Icon @icon="ion:information-circle-outline" width="20" />
        <BsTooltip @placement="right">La date proposée est uniquement à titre indicatif: il s'agit de la date détectée
          de votre dernière transaction sur ce compte.
          <strong>Cette date apparaitra si vous cochez la case 'Compte Clôturé ?'. Vous pourrez ensuite la valider ou la
            modifier...</strong>
        </BsTooltip>
      </label>
      {{#if this.closed}}
        <EmberFlatpickr
          placeholder="Modifier la date de clôture"
          @date={{this.closeDate}}
          @locale="fr"
          @onChange={{null}}
          @onClose={{this.onChangeClose}}
          @mode="single"
          class="form-select form-select-sm calendar-icon"
          aria-label="closing date"
          id="picker2"
        />

        <input
          class="form-check-input ms-1 me-2"
          type="checkbox"
          id="AccountClosed"
          {{on "change" this.toggleCheck}}
          checked
        />
        <label for="AccountClosed"><span class="d-none d-md-inline">Compte </span>clôturé ?</label>
      {{else}}
        <input class="form-check-input ms-1 me-2" type="checkbox" id="AccountClosed" {{on "change" this.toggleCheck}} />
        <label for="AccountClosed"><span class="d-none d-md-inline">Compte </span>clôturé ?</label>
      {{/if}}

      {{#if this.errorCloseDate}}
        <p class="text-warning m-0 p-0 mt-1">Veuillez choisir une autre date, non antérieure à la dernière TX
          {{format-date @lasttx}}</p>
      {{/if}}
    </div>
    <div
      class="col"
      data-title="CERFA 3916"
      data-intro="...Enfin, un identifiant de compte vous sera demandé (consultez la documentation pour remplir ce champ si nécessaire)."
    >
      <label for="inputAccount" class="form-label text-label">ID associé
        <span class="d-none d-md-inline">(N° de compte, email, N° Id...) :</span></label>
      {{! template-lint-disable require-input-label }}
      <input
        type="text"
        id="inputAccount"
        class="form-control calendar-item"
        placeholder={{@account.id}}
        aria-label="account"
        required
        {{on "change" this.setAccount}}
      />
    </div>
  </div>
</div>