<div class="row flex-resp">
  <div class="col col-lg-7 px-1 mb-4">
    <div class="card position-relative custom-cardstyle-stats">
      <Synthesis::Stats @dates={{this.selectedDates}} />
    </div>
    <div class="card custom-cardstyle-evolution mt-2 h-60">
      <Synthesis::Evolution @dates={{this.selectedDates}} @error={{this.errorRange}} />
    </div>
  </div>
  <div class="col col-lg-5 px-1 mb-3 mb-md-0">
    <Synthesis::Types @dates={{this.selectedDates}} @onChange={{this.selectDates}} />
    <Synthesis::Balances @date={{this.endDate}} />
    <div class="row gx-2 flex-grow-1 pt-2">
      <div class="col-9">
        <Synthesis::Wallets @onSelected={{this.onWalletSelected}} />
      </div>
      <div class="col-3">
        <div class="card custom-cardstyle-doc">
          <LinkTo @route="document" class="custom-card-2">
            <img src="/synthese/Synth-Doc.jpg" alt="doc-img" />
            <div class="custom-card-doc px-1 px-md-3 pt-2">
              <p>Allez voir la doc...</p>
            </div>
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>