<BsModal @open={{@open}} @backdropClose={{false}} @onShow={{this.reset}} @onHide={{@onHide}} @size="xl" as |modal|>
  <modal.header>
    <h4 class="modal-title">
      Ajouter un nouveau portefeuille
    </h4>
  </modal.header>
  <modal.body>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="d-flex me-auto input-group filter-search">
          <span class="input-group-text" id="input-search">
            <App::Icon @icon="ion:search" width="15" height="15" class="bi bi-search" />
          </span>
          <Input
            @type="text"
            @value={{@searchedItem}}
            class="form-control input-search"
            placeholder="Rechercher..."
            tabindex="-1"
            aria-label="Rechercher..."
            aria-describedby="input-search"
            {{on "input" this.filterWallets}}
          />
        </div>
      </div>
      <div class="col-md-6">
        <App::PageNavigator
          @userPage={{this.page}}
          @maxPage={{this.maxPage}}
          @onUserPageChanged={{this.onUserPageChanged}}
          class="float-end"
        />
      </div>
    </div>
    <div class="row">
      {{#each this.pageCustodialWallets as |wallet|}}
        <div class="col-xl-3 col-lg-4 col-md-6 mb-2">
          <div
            class="card selectable-wallet {{if (eq this.selected wallet.name) 'selected'}}"
            role="button"
            {{on "click" (fn this.selectWallet wallet.name)}}
          >
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1 ms-3">
                  {{wallet.name}}
                </div>
                <div class="flex-shrink-0">
                  {{! template-lint-disable require-valid-alt-text no-redundant-role }}
                  <img role="presentation" src={{wallet.logo}} />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </modal.body>
  <modal.footer>
    {{#if this.invalidSelection}}
      <div class="me-auto text-danger">
        Veuillez sélectionner un portefeuille
      </div>
    {{/if}}
    <BsButton @type="primary" {{on "click" this.addWallet}} disabled={{this.wasm.addEmptyWalletTask.isRunning}}>
      Ajouter
      {{#if (eq this.selected "")}}
        <BsTooltip @title="Veuillez d'abord sélectionner un portefeuille" />
      {{/if}}
    </BsButton>
    <BsButton {{on "click" modal.close}}>Annuler</BsButton>
  </modal.footer>
</BsModal>