<BsButton
  {{download filename=@filename fileUrl=this.fileUrl}}
  @type={{"none"}}
  class="wallet-action-icon"
  disabled={{this.downloadingThisFile}}
  {{on "click" this.buildDownloadFile}}
>
  {{#if this.downloadingThisFile}}
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  {{else}}
    <App::Icon @icon="ion:download-outline" width="18" />
    <BsTooltip @placement="right">Télécharger fichier</BsTooltip>
  {{/if}}
</BsButton>