{{! template-lint-disable no-duplicate-id }}
<div id="intro-wallet" class="d-flex flex-column">
  <div
    class="row pt-1 pb-3 border-bottom"
    data-title="Portefeuilles"
    data-intro="Bienvenue 👋 Vous allez pouvoir manuellement ajouter tous vos comptes d'actifs numériques via cette partie de page!"
  >
    <div class="col-lg-12 d-flex flex-md-column">
      <div class="add-import">
        <div class="title">
          <label for="inputFile" class="text-center add-import-title">Importer un ou plusieurs nouveau(x) fichier(s)</label>
          <p class="add-import-fichier" id="inputFile">Format(s) de fichier admis: JSON, CSV, XLSX</p>
        </div>
        <div class="width-media">
          <div class="input-group justify-content-evenly">
            {{! template-lint-disable require-input-label }}
            <input
              type="file"
              class="form-control upload"
              id="file-input"
              multiple
              aria-describedby="file-input"
              aria-label="Upload"
              data-title="Première étape"
              data-intro="Un clique sur cette zone vous permettra de choisir UN fichier voire même PLUSIEURS fichiers (Tips: appuyer sur la touche shift puis sélectionner plusieurs fichiers pour cela) dans la fenêtre qui s'affichera..."
              {{on "change" this.upload}}
            />
            <BsButton @disabled={{this.isAddingFiles}} @type="primary" id="addFilesButton" {{on "click" this.add}}>
              {{#if this.isAddingFiles}}
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                En cours
              {{else}}
                Ajouter
              {{/if}}
            </BsButton>
          </div>
        </div>
        {{#if this.didAddedFiles}}
          <div class="width-media">
            <BsProgress as |pg|>
              <pg.bar @value={{this.progressValue}} @minValue={{10}} @showLabel={{true}} @type="success" />
            </BsProgress>
          </div>
        {{else}}
          <div class="width-media">
            <BsProgress as |pg|>
              <pg.bar @value={{0}} @showLabel={{true}} @type="success" />
            </BsProgress>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{! Table }}
  <div class="row mt-3">
    <div class="col-lg-9 d-flex">
      <div class="d-flex flex-column w-100">
        <p class="add-import-title mb-2">Historique des fichiers importés</p>
        <div
          class="wallets"
          data-title="Récapitulatif"
          data-intro="Ce tableau vous permettra de voir un récapitulatif de tous les fichiers que vous aurez importés, qu'ils soient de types CSV ou JSON, ainsi que les transactions rapatriées depuis la page Outils et l'utilisation des API. En outre ce tableau vous montrera les transactions ajoutées après calculs du moteur CryptoFiscaFacile..."
        >
          <table class="table wallet-table scroll-behaviour-smooth" data-test-table-wallets>
            <thead>
              <tr class="line-height-head">
                <th scope="col">Type</th>
                {{! template-lint-disable no-invalid-interactive }}
                <th scope="col" {{on "click" (fn this.sortPf this.pfSortOrder)}}>
                  <div class="d-flex justify-content-between">
                    <div>Portefeuille</div>
                    {{#if (eq this.pfSortOrder "DESC")}}
                      <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-down-circle-outline" /></div>
                    {{else if (eq this.pfSortOrder "ASC")}}
                      <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-up-circle-outline" /></div>
                    {{else}}
                      <div class="sort-icon me-3"><App::Icon @icon="ion:remove-outline" /></div>
                    {{/if}}
                  </div>
                </th>
                <th
                  scope="col"
                  data-title="Transactions"
                  data-intro="...Il se peut que nous ayons AJOUTE moins de transactions que le nombre de transactions TROUVEES! C'est tout à fait normal, le moteur CryptoFiscaFacile détermine les associations de transactions et détecte même les potentiels doublons. Il sera donc tout à fait normal de retrouver un résultat du type [X transactions trouvées (Y ajoutées)] avec X plus grand que Y."
                >Résultats</th>
                {{! template-lint-disable no-invalid-interactive }}
                <th scope="col" {{on "click" (fn this.sortName this.nameSortOrder)}}>
                  <div class="d-flex justify-content-between">
                    <div>Fichier</div>
                    {{#if (eq this.nameSortOrder "DESC")}}
                      <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-down-circle-outline" /></div>
                    {{else if (eq this.nameSortOrder "ASC")}}
                      <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-up-circle-outline" /></div>
                    {{else}}
                      <div class="sort-icon me-3"><App::Icon @icon="ion:remove-outline" /></div>
                    {{/if}}
                  </div>
                </th>
                <th
                  scope="col"
                  data-title="Transactions"
                  data-intro="Il se peut également que le moteur CryptoFiscaFacile rencontre des transactions qu'il ne connait pas. Afin de mettre à jour l'application, nous vous proposons de transmettre les informations utiles (et complètement anonymes) pour que le moteur évolue..."
                >Erreur(s)</th>
                <th
                  scope="col"
                  data-title="Transactions"
                  data-intro="Vous aurez également la possibilité de supprimer un fichier et ses transactions..."
                ></th>
              </tr>
            </thead>
            {{#if this.wasm.getWalletsTask.isRunning}}
              <tbody>
                <tr class="line-height-tx none">
                  <td colspan="6">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden"></span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            {{else}}
              {{#if this.sortedHistory}}
                <tbody>
                  {{#each this.sortedHistory as |data|}}
                    <UserWallets::Wallet @wallet={{data}} />
                  {{/each}}
                </tbody>
              {{else}}
                <tbody>
                  {{! data is empty, so display empty line }}
                  <tr class="line-height-wallets none">
                    <td colspan="6">
                      AUCUN IMPORT
                    </td>
                  </tr>
                </tbody>
              {{/if}}
            {{/if}}
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-flex car">
      {{#if this.wasm.getWalletsTask.isRunning}}
        <div class="d-flex justify-content-center align-items-start mt-5 pt-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      {{else}}
        <UserWallets::List @wallets={{this.wasm.wallets}} />
      {{/if}}
    </div>
  </div>
</div>