<tr class="line-height-wallets {{unless this.addressesCollapsed 'expanded'}}">
  <td>{{@wallet.ext}}</td>
  {{#if @wallet.kind}}
    <td>{{@wallet.kind}}</td>
    <td>{{@wallet.result}}</td>
    <td>{{@wallet.name}}</td>
    {{#if @wallet.unknowns}}
      <td>
        <UserWallets::Transmit @data={{@wallet}} />
      </td>
    {{else}}
      <td>-</td>
    {{/if}}
    <td>
      <UserWallets::Download @filename={{@wallet.name}} />
      <Removal @filename={{@wallet.name}} />
      {{#if @wallet.bcAddresses}}
        <div class="float-end">
          <BsButton
            @type={{"none"}}
            class="collapse-icon {{if this.addressesCollapsed 'collapsed'}}"
            {{on "click" this.toggle}}
          >
            <App::Icon @icon="ion:chevron-down" width="18" />
          </BsButton>
        </div>
      {{/if}}
    </td>
  {{else if @wallet.error}}
    <td class="text-danger"><strong>**ERREUR**</strong></td>
    <td>{{@wallet.error}}</td>
    <td>{{@wallet.name}}</td>
    <td>-</td>
    <td></td>
  {{else}}
    <td>-</td>
    <td class="text-warning"><strong>**NOUVEAU**</strong></td>
    <td>-</td>
    {{#if @wallet.unknowns}}
      <td>
        <UserWallets::Transmit @data={{@wallet}} />
      </td>
    {{else}}
      <td>-</td>
    {{/if}}
    <td>
      <Removal @filename={{@wallet.name}} />
    </td>
  {{/if}}
</tr>
{{#if @wallet.bcAddresses}}
  <tr>
    <td class="border-0 p-0" colspan="6">
      <BsCollapse @collapsed={{this.addressesCollapsed}}>
        <table class="table m-0 p-0">
          <tbody>
            {{#each @wallet.bcAddresses as |addr|}}
              <tr>
                <td></td>
                <td colspan="3">{{addr}}</td>
                <td></td>
                <td></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </BsCollapse>
    </td>
  </tr>
{{/if}}