<div
  class="help mb-4 me-4 pulsate-fwd"
  data-title="Bienvenue"
  data-intro="N'oubliez pas, si vous êtes bloqué, vous pouvez cliquer à tout moment sur l'aide interactive en bas à droite de chaque page, de vous rendre du la page Documentation, voire de contacter l'équipe qui sera là pour vous aider... Bonne déclaration !"
>
  <button class="help-button" type="button" {{intro @target autoStart=this.autoStart onExit=this.onIntroExit}}>
    <App::Icon @icon="ion:help-circle" width="50" />
    <BsTooltip class="zindex" @placement="left">Cliquez ici pour ouvrir l'aide interactive</BsTooltip>
  </button>
</div>