{{! template-lint-disable no-duplicate-id }}
<div id="intro-tx" class="h-100">
  <div
    class="d-flex flex-column mx-1 mx-sm-3 h-100"
    data-title="Transactions"
    data-intro="Bienvenue 👋 Ici se retrouvera l'ensemble de vos transactions (ou TX) extraites de tous les fichiers importés ainsi que de toutes les APIs utilisées. Cette page est primordiale afin d'effectuer la catégorisation des TX qui n'ont pas pu l'être automatiquement via le moteur CryptoFiscaFacile. Laissez vous guider..."
  >
    <div
      class="d-flex justify-content-between align-items-center my-3"
      data-title="Barre de validation"
      data-intro="Cette barre vous permettra de vous aider dans la catégorisation de vos transactions :"
    >
      {{! FILTER button - open a window to select filter option(s) }}
      <button
        type="button"
        class="btn btn-primary d-flex justify-content-evenly align-items-center align-content-center color"
        data-test-tx-table-filter-button
        data-title="Filtrer"
        data-intro="Appuyez sur ce bouton. Une fenêtre glissante apparaitra sur la gauche. Dans cette fenêtre il vous sera possible de filtrer sur vos transactions : par date, par nom de portefeuille, par catégorie ou ensemble de catégories ainsi que par type(s) de coin. Très utile lorsque vous devez traiter beaucoup de TX... Cliquer de nouveau pour faire disparaitre la fenêtre de gauche."
        {{offcanvas-toggler "offcanvas-filter"}}
      >
        <App::Icon @icon="ion:funnel" width="15" />
        <p class="m-0 ms-1">FILTRER</p>
      </button>
      <div class="d-flex flex-column mx-2 mx-lg-0 w-50 align-items-center">
        <div
          class="d-flex input-group filter-search"
          data-title="Rechercher"
          data-intro="Il est également possible de rechercher 🔎 n'importe quel mot clé dans vos TX. Hormis les dates et les montants, toutes les colonnes sont activées avec la recherche..."
        >
          <span class="input-group-text" id="input-search">
            <App::Icon @icon="ion:search" width="15" height="15" class="bi bi-search" />
          </span>
          <Input
            @type="text"
            @value={{@searchedItem}}
            class="form-control input-search"
            placeholder="Rechercher..."
            tabindex="-1"
            aria-label="Rechercher..."
            aria-describedby="input-search"
            {{on "input" this.searchItem}}
            {{offcanvas-hider "offcanvas-filter"}}
          />
        </div>
        {{! Display the total of TX }}
        <h5
          class="total mb-0 mt-2"
          data-title="Total"
          data-intro="Afin de bien identifier le nombre réel total de TX, ce champ vous montrera cette information..."
        ><strong>TOTAL TX : {{this.totalTx}}</strong></h5>
      </div>
      <TxTable::Validate />
    </div>

    {{! Beg of full TX table}}
    <div class="d-flex justify-content-around my-1">
      <div class="row my-1 w-25">
        <label class="ms-1 d-none d-xl-inline col-md-7 col-form-label text-end label-paddingtop font-small p-0 me-1">Nb
          lignes à afficher :</label>
        <div class="col-9 col-md-4 p-0">
          <select
            class="form-select form-select-sm"
            id="pageSizeSelect"
            {{on "change" this.setPageSize}}
            {{offcanvas-hider "offcanvas-filter"}}
          >
            {{#each (array 10 20 30 40 50 100 200 500) as |size|}}
              {{#if (eq this.pageSize size)}}
                <option value={{size}} selected>{{size}}</option>
              {{else}}
                <option value={{size}}>{{size}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
      </div>

      <App::PageNavigator
        @userPage={{this.page}}
        @maxPage={{this.maxPage}}
        @onUserPageChanged={{this.onUserPageChanged}}
      />
    </div>

    <div class="table-responsive card-body p-0 h-100" {{this.pageSizeModifier this.setDefaultPageSizeNumber}}>
      <table class="table tx-table table-head-fixed text-nowrap m-0 p-0 mb-md-0" id="txTable">
        <thead
          data-title="Table des TX"
          data-intro="Grâce à ce tableau, vous pourrez manipuler les TX qui doivent l'être (catégorisation) et observer n'importe quelle transaction passée sur tous les portefeuilles que vous détenez..."
        >
          <tr>
            {{! template-lint-disable no-invalid-interactive }}
            <th>
              <Input
                @type="checkbox"
                @checked={{this.allTxsSelected}}
                class="align-middle form-check-input mt-0"
                id="multiple-categorization-checkbox"
                indeterminate={{this.allSelectionIndeterminate}}
              />
              <TxTable::TxItem::CategUpdateButton @onClick={{this.onMultiUpdateCategory}} />
            </th>
            <th
              {{on "click" (fn this.sortDate @dateSortOrder)}}
              data-title="Date des TX"
              data-intro="Vous retrouverez ici les dates de vos TX aux secondes près ⏲. Un appui sur le libellé de cette colonne vous permettra de trier les TX par ordre chronologique croissant ou décroissant..."
            >
              <div class="d-flex justify-content-between">
                <div>DATE</div>
                {{#if (eq @dateSortOrder "DESC")}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-down-circle-outline" /></div>
                {{else if (eq @dateSortOrder "ASC")}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-up-circle-outline" /></div>
                {{else}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:remove-outline" /></div>
                {{/if}}
              </div>
            </th>
            {{! template-lint-disable no-invalid-interactive }}
            <th
              {{on "click" (fn this.sortPf @pfSortOrder)}}
              data-title="Vos Portefeuilles"
              data-intro="Cette colonne vous donnera les noms des portefeuilles que vous détenez. Un appui sur le libellé de cette colonne vous permettra de trier ces portefeuilles par ordre alphabétique croissant ou décroissant..."
            >
              <div class="d-flex justify-content-between">
                <div>PORTEFEUILLE</div>
                {{#if (eq @pfSortOrder "DESC")}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-down-circle-outline" /></div>
                {{else if (eq @pfSortOrder "ASC")}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-up-circle-outline" /></div>
                {{else}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:remove-outline" /></div>
                {{/if}}
              </div>
            </th>
            {{! template-lint-disable no-invalid-interactive }}
            <th
              {{on "click" (fn this.sortCat @catSortOrder)}}
              data-title="Catégorie des TX"
              data-intro="Cette colonne vous donnera les catégories des TX détectées. Un appui sur le libellé de cette colonne vous permettra de trier ces catégories par ordre alphabétique croissant ou décroissant..."
            >
              <div class="d-flex justify-content-between">
                <div>CATEGORIE</div>
                {{#if (eq @catSortOrder "DESC")}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-down-circle-outline" /></div>
                {{else if (eq @catSortOrder "ASC")}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:chevron-up-circle-outline" /></div>
                {{else}}
                  <div class="sort-icon me-3"><App::Icon @icon="ion:remove-outline" /></div>
                {{/if}}
              </div>
            </th>
            <th
              colspan="2"
              data-title="La TX"
              data-intro="Vous pourrez visualiser les TX via ces 3 colonnes DE ou Sortie - VERS ou Entrée, et FRAIS. L'intitulé DE se réfèrera à tout échange de symboles (par ex.: DE 50000 EUR vers 1 BTC), tandis que l'intitulé SORTIE se comprendra comme le coin qui sortira du portefeuille dans le cas d'un retrait."
            >DE/SORTIE</th>
            <th
              colspan="2"
              data-title="La TX"
              data-intro="L'intitulé VERS se réfèrera à tout échange de symboles (par ex.: de 50000 EUR VERS 1 BTC), tandis que l'intitulé ENTREE se comprendra comme le coin qui entrera dans le portefeuille, dans le cas d'un dépôt."
            >VERS/ENTREE</th>
            <th
              colspan="2"
              data-title="La TX"
              data-intro="La colonne FRAIS vous donnera les frais éventuels de la transaction..."
            >FRAIS</th>
            <th
              data-title="Boite à outils"
              data-intro="Dans cette colonne apparaitra un statut pour chaque TX, et le cas échéant, une CLE A MOLETTE 🔧 qui vous permettra de CATEGORISER la dite TX (Une fenêtre apparaitra et vous demandera d'ajouter la bonne catégorisation pour la transaction, ex.: TX qui sera finalement relative à un AIRDROP...); une icone qui vous permettra de supprimer la dernière catégoriation et une icôné vous permettant de rentrer un montant fiat si celui ci est erroné."
              {{on "click" this.toggleAmountsHidden}}
            ><App::Icon @icon={{if this.amountsHidden "ion:eye-off-outline" "ion:eye-outline"}} width="20" />
              <BsTooltip>Masquer les montants</BsTooltip></th>
          </tr>
        </thead>
        <tbody class="tx-body">
          {{#if this.isFecthingTransactions}}
            <tr class="line-height-tx none">
              <td colspan="11">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
              </td>
            </tr>
          {{else}}
            {{#if this.pageSortedTransactions}}
              <TxTable::CategUpdateModal
                @onHidden={{this.onUpdateCategoryModalHidden}}
                @open={{this.updateCategoryModalVisible}}
                @txs={{this.updateCategoryTxs}}
              />
              <TxTable::CoinDetailModal
                @onHidden={{this.onCoinDetailModalHidden}}
                @open={{this.coinDetailModalVisible}}
                @symbol={{this.coinDetailModalSymbol}}
              />
              {{#each this.pageSortedTransactions as |tx|}}
                <tr class="line-height-tx">
                  <TxTable::TxItem
                    @allowedCategoryForSelection={{this.selectedCategory}}
                    @onUpdateCategory={{this.onUpdateCategory}}
                    @onShowCoinDetail={{this.onShowCoinDetail}}
                    @onSelected={{this.onTxSelected}}
                    @secretMode={{this.amountsHidden}}
                    @selected={{call (fn this.isTxSelected tx)}}
                    @tx={{tx}}
                  />
                </tr>
              {{/each}}
            {{else}}
              {{! data is empty, so display empty line }}
              <tr class="line-height-tx none">
                <td colspan="11">
                  AUCUNE TRANSACTION
                </td>
              </tr>
            {{/if}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{! OFFCANVAS for Filters HTML }}
<Bs::Offcanvas @id="offcanvas-filter" @open={{this.offcanvasFilterVisible}}>
  <Bs::Offcanvas::Header>
    <h5 class="offcanvas-title" id="offcanvasFilterLabel">FILTRER PAR :</h5>
    <button
      type="button"
      class="btn-close text-reset"
      aria-label="Close"
      {{offcanvas-hider "offcanvas-filter"}}
    ></button>
  </Bs::Offcanvas::Header>
  <Bs::Offcanvas::Body>
    <div class="d-flex m-2 flex-column justify-content-center mb-4">
      <Calendar @dates={{@selectedDates}} @onChange={{this.selectDates}} />
    </div>
    <div class="d-flex flex-column m-2 mt-4 mb-4">
      <label for="wallet-select">Portefeuilles</label>
      {{! template-lint-disable require-input-label }}
      <select
        name="wallets"
        id="wallet-select"
        class="form-select"
        aria-label="multiple select wallets"
        multiple
        size="4"
        {{on "change" this.selectWallet}}
      >
        {{#if this.hasSelectedWallet}}
          <option value="all">--Tout--</option>
        {{else}}
          <option value="all" selected>--Tout--</option>
        {{/if}}
        {{#each this.walletOptions as |walletOption|}}
          {{#if walletOption.selected}}
            <option selected value={{walletOption.name}}>{{walletOption.name}}</option>
          {{else}}
            <option value={{walletOption.name}}>{{walletOption.name}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
    <div class="d-flex flex-column m-2 mt-4 mb-4">
      <div class="d-flex flex-column">
        <label for="categ-select">Catégories</label>
        {{! template-lint-disable require-input-label }}
        <select
          name="categ"
          multiple
          size="5"
          id="categ-select"
          class="form-select"
          aria-label="multiple select categ"
          {{on "change" this.selectCategory}}
        >
          {{#if this.hasSelectedCategory}}
            <option value="all">--Toutes--</option>
          {{else}}
            <option value="all" selected>--Toutes--</option>
          {{/if}}
          {{#each this.categoryOptions as |categoryOption|}}
            {{#if categoryOption.selected}}
              <option selected value={{categoryOption.name}}>{{categoryOption.name}}</option>
            {{else}}
              <option value={{categoryOption.name}}>{{categoryOption.name}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="d-flex flex-column m-2">
      <div class="d-flex flex-column">
        <label for="coin-select">Coins</label>
        {{! template-lint-disable require-input-label }}
        <select
          name="coin"
          multiple
          size="6"
          id="coin-select"
          class="form-select"
          aria-label="multiple select coins"
          {{on "change" this.selectCoin}}
        >
          {{#if this.hasSelectedCoin}}
            <option value="all">--Tout--</option>
          {{else}}
            <option value="all" selected>--Tout--</option>
          {{/if}}
          {{#each this.coinOptions as |coinOption|}}
            {{#if coinOption.selected}}
              <option selected value={{coinOption.name}}>{{coinOption.name}}</option>
            {{else}}
              <option value={{coinOption.name}}>{{coinOption.name}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
  </Bs::Offcanvas::Body>
</Bs::Offcanvas>