<BsButton
  @type={{if this.wasm.transactions "primary" "secondary"}}
  data-test-tx-table-validate-button
  aria-label="Close"
  {{on "click" this.setCheckConsistency}}
  class="d-flex justify-content-evenly align-items-center align-content-center color
    {{if this.wasm.transactions '' 'disabled'}}"
  data-title="Validation"
  data-intro="Ce bouton vous servira à terminer la catégorisation afin d'éviter toute erreur de calcul. L'appui sur ce BOUTON ne devra se faire qu'au moment où vous aurez catégorisé TOUTES les TX qui devaient l'être HORMIS celles relatives aux ICO ainsi que celles que vous n'avez pas pu catégoriser. Une fenêtre apparaitra alors afin de vous guider dans la suite des opérations..."
  {{offcanvas-hider "offcanvas-filter"}}
>
  <p class="m-0 me-1">VALIDER</p>
  <App::Icon @icon="ion:shield-checkmark" width="15" />
  <BsTooltip @placement="top" @viewportSelector="table">Veuillez d'abord importer vos transactions...</BsTooltip>
</BsButton>

{{! Modal for TX VALIDATION PROCESS HTML }}
<BsModal @open={{this.consistencyState}} @backdropClose={{false}} @onHidden={{this.hidden1}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      {{! template-lint-disable no-whitespace-within-word }}
      <h4 class="modal-title">Validation des TX
        <span class="badge bg-secondary">1</span>
      </h4>
    </modal.header>
    <modal.body>
      <div class="container">
        {{#if this.consistencyCategVsToFrom}}
          <BsAlert class="m-0 py-1 text-center" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
            <strong>Attention !</strong>
            Certaines TX contiennent des erreurs dans leur(s) tag(s) "DE/SORTIE" ou "VERS/ENTREE". Veuillez contacter le
            support en vous appuyant sur les champs suivants :
          </BsAlert>
          <div class="mx-2 my-3 destinataire">
            <label for="dest" class="form-label">Email de destination :
            </label>
            <div class="d-flex">
              {{! template-lint-disable require-input-label }}
              <input
                class="form-control textsm"
                type="text"
                id="dest"
                value="contact-project+c1560-cryptofiscafacile-29728701-issue-@incoming.gitlab.com"
                aria-label="readonly input"
                readonly
              />
              <CopyButton
                class="btn btn-primary color"
                @target="#dest"
                @onSuccess={{this.onSuccess}}
                @onError={{this.onError}}
              >
                <App::Icon @icon="ion:clipboard-outline" />
                <BsTooltip @placement="right">Copier texte
                </BsTooltip>
              </CopyButton>
            </div>
          </div>
          <div class="mx-2 my-3 objet">
            <label for="object" class="form-label">Objet de l'email :
            </label>
            <div class="d-flex">
              {{! template-lint-disable require-input-label }}
              <input
                class="form-control textsm"
                type="text"
                id="object"
                value="[CONSIST_TOFROM] STEP 1 - Erreurs dans tag(s) DE/SORTIE ou VERS/ENTREE"
                aria-label="readonly input"
                readonly
              />
              <CopyButton
                class="btn btn-primary color"
                @target="#object"
                @onSuccess={{this.onSuccess}}
                @onError={{this.onError}}
              >
                <App::Icon @icon="ion:clipboard-outline" />
                <BsTooltip @placement="right">Copier texte
                </BsTooltip>
              </CopyButton>
            </div>
          </div>
          <div class="mx-2 my-3 corps">
            <div class="d-flex flex-column my-1">
              <label for="unknowns" class="form-label">Corps du mail :
              </label>
              <span>
                <strong>Veuillez fournir au support le texte ainsi que les lignes de vos transactions contenant les
                  informations ci-dessous :</strong>
              </span>
            </div>
            <div class="d-flex">
              <textarea class="form-control textsm" id="unknowns" rows="9" wrap="off" readonly>
                {{#each
                  this.consistencyCategVsToFrom
                  as |data|
                }}[{{data.wallet}}]:{{data.date}}-{{data.id}};{{data.error}}<br />{{/each}}
              </textarea>
              <CopyButton
                class="btn btn-primary color"
                @target="#unknowns"
                @onSuccess={{this.onSuccess}}
                @onError={{this.onError}}
              >
                <App::Icon @icon="ion:clipboard-outline" />
                <BsTooltip @placement="right">Copier texte
                </BsTooltip>
              </CopyButton>
            </div>
          </div>
        {{else}}
          <BsAlert class="m-0 py-1 text-center" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
            <strong>Bravo !</strong>
            Aucune erreur concernant les entrées/sorties dans votre table des transactions n'a été trouvée. Vous pouvez
            maintenant passer à la suite en cliquant sur Suivant...
          </BsAlert>
        {{/if}}
      </div>
    </modal.body>
    <modal.footer class="justify-content-between">
      <div class="d-flex justify-content-end w-100">
        <div>
          <BsButton {{on "click" this.close}}>
            Annuler</BsButton>
          <BsButton
            data-test-validate-next-button-1
            class="btn btn-primary"
            {{on "click" this.setCheckConsistencyAlmost}}
          >Suivant</BsButton>
        </div>
      </div>
    </modal.footer>
  </div>
</BsModal>

<BsModal @open={{this.consistencyAlmost}} @backdropClose={{false}} @onHidden={{this.hidden2}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      {{! template-lint-disable no-whitespace-within-word }}
      <h4 class="modal-title">Validation des TX
        <span class="badge bg-secondary">2</span>
      </h4>
    </modal.header>
    <modal.body>
      <div class="container">
        {{#if this.unprocessedTx}}
          <BsAlert
            class="m-0 py-1 mb-2 text-center"
            @visible={{true}}
            @fade={{true}}
            @type="warning"
            @dismissible={{false}}
          >
            <strong>Attention !</strong>
            Nous détectons des transactions potentiellement en lien...
          </BsAlert>
          <div class="d-flex">
            <div class="list-group w-100">
              {{#if this.unprocessedTx}}
                <p class="mb-1 font-small text-center"><strong>Veuillez sélectionner ci-dessous une transaction :</strong></p>
                <div class="neg-scroll">
                  <table class="table table-sm table-borderless table-hover scroll">
                    <thead>
                      <tr>
                        <th>Port.</th>
                        <th>Montants</th>
                        <th>Cat.</th>
                        <th>Date</th>
                        <th>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if this.consistencyAlmostTx}}
                        {{#each this.consistencyAlmostTx as |item|}}
                          <tr>
                            <td class="neg-width1">{{item.tx.wallet}}</td>
                            <td class="neg-width2">{{item.tx.amounts}}</td>
                            <td class="neg-width3">{{item.tx.category}}
                              <span class="d-inline-block">
                                <App::Icon @icon="ion:information-circle-outline" width="13" />
                                <BsTooltip @placement="left" @delayHide={{100}}>{{item.error}}
                                </BsTooltip>
                              </span></td>
                            <td class="neg-width4">{{format-date item.tx.date}}</td>
                            <td class="neg-width5">
                              <div class="form-check p-0">
                                {{#if (eq item.tx.id this.firstTx)}}
                                  <input
                                    class="form-check-input ms-1"
                                    type="checkbox"
                                    id={{item.tx.id}}
                                    checked
                                    {{on "change" this.selectAlmost}}
                                  />
                                {{else}}
                                  <input
                                    class="form-check-input ms-1"
                                    type="checkbox"
                                    id={{item.tx.id}}
                                    {{on "change" this.selectAlmost}}
                                  />
                                {{/if}}
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      {{else}}
                        {{#each this.unprocessedTx as |item|}}
                          <tr>
                            <td class="neg-width1">{{item.tx.wallet}}</td>
                            <td class="neg-width2">{{item.tx.amounts}}</td>
                            <td class="neg-width3">{{item.tx.category}}
                              <span class="d-inline-block">
                                <App::Icon @icon="ion:information-circle-outline" width="13" />
                                <BsTooltip @placement="left" @delayHide={{100}}>{{item.error}}
                                </BsTooltip>
                              </span></td>
                            <td class="neg-width4">{{format-date item.tx.date}}</td>
                            <td class="neg-width5">
                              <div class="form-check p-0">
                                <input
                                  class="form-check-input ms-1"
                                  type="checkbox"
                                  id={{item.tx.id}}
                                  {{on "change" this.selectAlmost}}
                                />
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      {{/if}}
                    </tbody>
                  </table>
                </div>
                <hr class="my-2" />
                {{#if this.toShow}}
                  <p class="mb-1 font-small text-center"><strong>Puis une transaction dont le montant (+frais)
                      permettrait d'en déduire un Transfert :</strong></p>
                  <div class="neg-scroll">
                    <table class="table table-sm table-borderless table-hover scroll">
                      <thead>
                        <tr>
                          <th>Port.</th>
                          <th>Montants</th>
                          <th>Cat.</th>
                          <th>Date</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#if this.consistencyRelated}}
                          {{#each this.consistencyRelated as |related|}}
                            {{#each related as |item|}}
                              <tr>
                                <td class="neg-width1">{{item.wallet}}</td>
                                <td class="neg-width2">{{item.amounts}}</td>
                                <td class="neg-width3">{{item.category}}</td>
                                <td class="neg-width4">{{format-date item.date}}</td>
                                <td class="neg-width5">
                                  <div class="form-check p-0">
                                    <input
                                      class="form-check-input ms-1"
                                      type="checkbox"
                                      id={{item.id}}
                                      {{on "change" this.selectAlmost2}}
                                    />
                                  </div>
                                </td>
                              </tr>
                            {{/each}}
                          {{/each}}
                        {{else}}
                          <tr>
                            <td colspan="6" class="text-center">Aucune TX en lien. Avez-vous importé toutes vos
                              transactions ?</td>
                          </tr>
                        {{/if}}
                      </tbody>
                    </table>
                  </div>
                {{/if}}
              {{else}}
                <div class="d-flex flex-column">
                  <div class="text-center list-group-item list-group-item-action list-group-item-light">
                    <div class="d-flex justify-content-center">
                      <div>Aucune erreur associée ! Veuillez contacter le support.</div>
                    </div>
                  </div>
                </div>
                <hr />
              {{/if}}
            </div>
          </div>
          <BsAlert
            class="m-0 py-1 font-small text-center"
            @visible={{true}}
            @fade={{true}}
            @type="danger"
            @dismissible={{false}}
          >
            Veillez tout d'abord à bien importer TOUTES vos transactions ; si le problème persiste, contactez le
            support... Vous pouvez néanmoins cliquer sur Suivant mais vous ne pourrez générer vos rapports !
          </BsAlert>
        {{else}}
          <BsAlert class="m-0 py-1 text-center" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
            <strong>Bravo !</strong>
            Aucune détection d'anomalie de transfert(s) potentiel(s) n'a été remontée par le moteur. Vous pouvez
            maintenant passer à la suite en cliquant sur Suivant...
          </BsAlert>
        {{/if}}
      </div>
    </modal.body>
    <modal.footer class="justify-content-between">
      {{#if this.mergeAlmostBtn}}
        <div class="d-flex w-25">
          <BsButton class="btn btn-primary" {{on "click" this.mergeAlmost}}>Fusion</BsButton>
        </div>
        <div class="d-flex justify-content-end w-50">
          <div>
            <BsButton {{on "click" this.close}}>Annuler</BsButton>
          </div>
        </div>
      {{else}}
        <div class="d-flex justify-content-end w-100">
          <div>
            <BsButton {{on "click" this.close}}>
              Annuler</BsButton>
            <BsButton class="btn btn-primary" {{on "click" this.setCheckConsistency}}>
              Retour</BsButton>
            <BsButton
              data-test-validate-next-button-2
              class="btn btn-primary"
              {{on "click" this.setCheckConsistencyNegativeBalance}}
            >Suivant</BsButton>
          </div>
        </div>
      {{/if}}
    </modal.footer>
  </div>
</BsModal>

<BsModal @open={{this.consistencyStateNegativeBalance}} @backdropClose={{false}} @onHidden={{this.hidden3}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      {{! template-lint-disable no-whitespace-within-word }}
      <h4 class="modal-title">Validation des TX
        <span class="badge bg-secondary">3</span>
      </h4>
    </modal.header>
    <modal.body>
      <div class="container">
        {{#if this.consistencyNegativeBalance}}
          <BsAlert
            class="m-0 py-1 mb-2 text-center"
            @visible={{true}}
            @fade={{true}}
            @type="danger"
            @dismissible={{false}}
          >
            <strong>Attention !</strong>
            Nous détectons des balances d'actifs négatives.
          </BsAlert>
          <div class="d-flex">
            <div class="list-group w-100">
              {{#if this.consistencyNegativeBalance}}
                <p class="mb-1 font-small text-center"><strong>Veuillez sélectionner ci-dessous une transaction :</strong></p>
                <div class="neg-scroll">
                  <table class="table table-sm table-borderless table-hover scroll">
                    <thead>
                      <tr>
                        <th>Port.</th>
                        <th>Montants</th>
                        <th>Cat.</th>
                        <th>Date</th>
                        <th>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each this.consistencyNegativeBalance as |item|}}
                        <tr>
                          <td class="neg-width1">{{item.tx.wallet}}</td>
                          <td class="neg-width2">{{item.tx.amounts}}</td>
                          <td class="neg-width3">{{item.tx.category}}
                            <span class="d-inline-block">
                              <App::Icon @icon="ion:information-circle-outline" width="13" />
                              <BsTooltip @placement="left" @delayHide={{1000}}>{{item.error}}
                              </BsTooltip>
                            </span></td>
                          <td class="neg-width4">{{format-date item.tx.date}}</td>
                          <td class="neg-width5">
                            <div class="form-check p-0">
                              <input
                                class="form-check-input ms-1"
                                type="radio"
                                name="flexRadioNeg"
                                id={{item.tx.id}}
                                {{on "change" this.selectNeg}}
                              />
                            </div>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <hr class="my-2" />
                {{#if this.toShow}}
                  <p class="mb-1 font-small text-center"><strong>Puis une transaction dont le montant permettrait de
                      résoudre la balance negative :</strong></p>
                  <div class="neg-scroll">
                    <table class="table table-sm table-borderless table-hover scroll">
                      <thead>
                        <tr>
                          <th>Port.</th>
                          <th>Montants</th>
                          <th>Cat.</th>
                          <th>Date</th>
                          <th>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#if this.consistencyNegativeBalanceMergeable}}
                          {{#each this.consistencyNegativeBalanceMergeable as |item|}}
                            <tr>
                              <td class="neg-width1">{{item.wallet}}</td>
                              <td class="neg-width2">{{item.amounts}}</td>
                              <td class="neg-width3">{{item.category}}</td>
                              <td class="neg-width4">{{format-date item.date}}</td>
                              <td class="neg-width5">
                                <div class="form-check p-0">
                                  <input
                                    class="form-check-input ms-1"
                                    type="radio"
                                    name="flexRadioNeg2"
                                    id={{item.id}}
                                    {{on "change" this.selectNeg2}}
                                  />
                                </div>
                              </td>
                            </tr>
                          {{/each}}
                        {{else}}
                          <tr>
                            <td colspan="6" class="text-center">Aucune TX en lien. Avez-vous importé toutes vos
                              transactions ?</td>
                          </tr>
                        {{/if}}
                      </tbody>
                    </table>
                  </div>
                {{/if}}
              {{else}}
                <div class="d-flex flex-column">
                  <div class="text-center list-group-item list-group-item-action list-group-item-light">
                    <div class="d-flex justify-content-center">
                      <div>Aucune erreur associée ! Veuillez contacter le support.</div>
                    </div>
                  </div>
                </div>
                <hr />
              {{/if}}
            </div>
          </div>
          <BsAlert
            class="m-0 py-1 font-small text-center"
            @visible={{true}}
            @fade={{true}}
            @type="danger"
            @dismissible={{false}}
          >
            Veillez tout d'abord à bien importer TOUTES vos transactions ; si le problème persiste, contactez le
            support. Vous pouvez néanmoins cliquer sur Suivant mais vous ne pourrez générer vos rapports...
          </BsAlert>
        {{else}}
          <BsAlert class="m-0 py-1 text-center" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
            <strong>Bravo !</strong>
            Aucune erreur de balance négative n'a été trouvée. Vous pouvez maintenant passer à la suite en cliquant sur
            Suivant...
          </BsAlert>
        {{/if}}
      </div>
    </modal.body>
    <modal.footer class="justify-content-between">
      {{#if this.mergeNegBtn}}
        <div class="d-flex w-25">
          <BsButton class="btn btn-primary" {{on "click" this.mergeNeg}}>Fusion</BsButton>
        </div>
        <div class="d-flex justify-content-end w-50">
          <div>
            <BsButton class="btn btn-primary" {{on "click" this.setCheckConsistencyAlmost}}>
              Retour</BsButton>
            <BsButton {{on "click" this.close}}>Annuler</BsButton>
          </div>
        </div>
      {{else}}
        <div class="d-flex justify-content-end w-100">
          <div>
            <BsButton {{on "click" this.close}}>
              Annuler</BsButton>
            <BsButton class="btn btn-primary" {{on "click" this.setCheckConsistencyAlmost}}>
              Retour</BsButton>
            <BsButton data-test-validate-next-button-3 class="btn btn-primary" {{on "click" this.onValidation}}>
              Suivant</BsButton>
          </div>
        </div>
      {{/if}}
    </modal.footer>
  </div>
</BsModal>

<BsModal @open={{this.validState}} @backdropClose={{false}} @onHidden={{this.hidden4}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Validation des TX
        <span class="badge bg-secondary">4</span>
      </h4>
    </modal.header>
    {{#if this.resultWithdrawal}}
      <modal.body>
        <div class="container">
          <BsAlert
            class="m-0 mb-1 py-1 text-center"
            @visible={{true}}
            @fade={{true}}
            @type="success"
            @dismissible={{false}}
          >
            Vous venez de caractériser la majorité des transactions
            <strong>'Retrait'</strong>
            et
            <strong>'Dépôt'</strong>...
          </BsAlert>
          <BsAlert
            class="m-0 my-1 py-1 text-center"
            @visible={{true}}
            @fade={{true}}
            @type="warning"
            @dismissible={{false}}
          >
            Cela dit nous détectons encore des Retraits non identifiés. Voici la liste de ces transactions restantes
            dans votre portefeuille... Veuillez cocher les potentielles transactions liées à des ICO ou cliquer sur
            Suivant si vous ne reconnaissez aucune transaction de type ICO :
          </BsAlert>
          <div class="d-flex custom-ico">
            {{! Liste de tous les RETRAITS }}
            <ul class="list-group list-group-flush w-100">
              {{#each this.resultWithdrawal as |item|}}
                <li class="d-flex list-group-item pe-0">
                  <div class="d-flex justify-content-between w-90">
                    <div class="with-width1">{{item.wallet}}</div>
                    <div class="with-width2">{{item.quantity}} {{item.currency}}</div>
                    <div class="with-width3">{{format-date item.date}}</div>
                  </div>
                  <div class="ps-3 w-10">
                    <input
                      class="form-check-input ms-1"
                      type="checkbox"
                      id={{item.id}}
                      {{on "change" this.toggleCheck}}
                    />
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </modal.body>
      <modal.footer>
        <BsButton {{on "click" this.close}}>Annuler</BsButton>
        <BsButton class="btn btn-primary" {{on "click" this.setCheckConsistencyNegativeBalance}}>
          Retour</BsButton>

        {{#if this.isTabId}}
          <BsButton class="btn btn-primary" {{on "click" this.setIco}}>Suivant</BsButton>
        {{else}}
          <LinkTo @route="reports">
            <BsButton data-test-validate-next-button-4 class="btn btn-primary" {{on "click" this.close}}>
              Suivant</BsButton>
          </LinkTo>
        {{/if}}
      </modal.footer>
    {{else}}
      <modal.body>
        <div class="container">
          <h6>Vous venez de caractériser les transactions
            <strong>'Retrait'</strong>
            et
            <strong>'Dépôt'</strong>. Nous ne détectons aucune transaction de type
            <strong>'Retrait'</strong>
            restant...
          </h6>
          <BsAlert class="m-0 py-1" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
            <strong>Bravo !</strong>
            Vous pouvez maintenant passer à la génération des rapports en cliquant sur Suivant...
          </BsAlert>
        </div>
      </modal.body>
      <modal.footer>
        <BsButton {{on "click" this.close}}>Annuler</BsButton>
        <BsButton class="btn btn-primary" {{on "click" this.setCheckConsistencyNegativeBalance}}>
          Retour</BsButton>
        <LinkTo @route="reports">
          <BsButton class="btn btn-primary" {{on "click" this.close}}>
            Suivant</BsButton>
        </LinkTo>
      </modal.footer>
    {{/if}}
  </div>
</BsModal>

<BsModal @open={{this.icoState}} @backdropClose={{false}} @onHidden={{this.hidden5}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Validation des TX
        <span class="badge bg-secondary">4</span>
      </h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <BsAlert
          class="m-0 mb-1 py-1 text-center"
          @visible={{true}}
          @fade={{true}}
          @type="warning"
          @dismissible={{false}}
        >
          Voici une liste des transactions de type
          <strong>'Dépôt'</strong>
          qui correspondent potentiellement à/aux transactions
          <strong>'Retrait'</strong>
          identifiées précédement
          <span class="red">pour des ICO</span>...
        </BsAlert>
        <BsAlert
          class="m-0 my-1 py-1 text-center"
          @visible={{true}}
          @fade={{true}}
          @type="danger"
          @dismissible={{false}}
        >Veuillez fusionner les transactions liées (le cas échéant) puis cliquer sur suivant pour la génération de vos
          rapports :
        </BsAlert>
        <div class="d-flex">
          <div class="list-group w-100">
            {{#if this.checkedWithdraw}}
              <div class="d-flex flex-column custom-ico2">
                <ul class="list-group list-group-flush w-100">
                  {{#each this.checkedWithdraw as |item|}}
                    <li class="d-flex list-group-item pe-0">
                      <div class="d-flex justify-content-between w-90">
                        <div class="with-width1">{{item.wallet}}</div>
                        <div class="with-width2">{{item.quantity}} {{item.currency}}</div>
                        <div class="with-width3">{{format-date item.date}}</div>
                      </div>
                      <div class="ps-3 w-10">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioWith"
                            id="flexRadioWith1"
                            {{on "click" (fn this.selectIds item.id "")}}
                          />
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
              <hr />
              <div class="d-flex flex-column custom-ico2">
                <ul class="list-group list-group-flush w-100">
                  {{#each this.resultDeposit as |deposit|}}
                    <li class="d-flex list-group-item pe-0">
                      <div class="d-flex justify-content-between w-90">
                        <div class="with-width1">{{deposit.wallet}}</div>
                        <div class="with-width2">{{deposit.quantity}} {{deposit.currency}}</div>
                        <div class="with-width3">{{format-date deposit.date}}</div>
                      </div>
                      <div class="ps-3 w-10">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDep"
                            id="flexRadioDep1"
                            {{on "click" (fn this.selectIds "" deposit.id)}}
                          />
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{else}}
              <div class="d-flex flex-column">
                <div class="text-center list-group-item list-group-item-action list-group-item-light">
                  <div class="d-flex justify-content-center">
                    <div>Aucune transaction 'Retrait'.</div>
                  </div>
                </div>
              </div>
              <hr />
            {{/if}}
          </div>
        </div>
      </div>
    </modal.body>
    <modal.footer class="justify-content-between">
      {{#if this.mergeBtn}}
        <div class="d-flex w-25">
          <BsButton class="btn btn-primary" {{on "click" this.merge}}>Fusion</BsButton>
        </div>
        <div class="d-flex justify-content-end w-50">
          <div>
            {{#if this.isTabId}}
              <BsButton class="btn btn-primary" {{on "click" this.setIco}}>Retour</BsButton>
            {{/if}}
            <BsButton {{on "click" this.close}}>Annuler</BsButton>
          </div>
        </div>
      {{else}}
        <div class="d-flex justify-content-end w-100">
          <div>
            <BsButton {{on "click" this.close}}>
              Annuler</BsButton>
            {{#if this.isTabId}}
              <BsButton class="btn btn-primary" {{on "click" this.setIco}}>Retour</BsButton>
            {{/if}}
            <LinkTo @route="reports">
              <BsButton data-test-validate-next-button-4 class="btn btn-primary" {{on "click" this.close}}>
                Suivant</BsButton>
            </LinkTo>
          </div>
        </div>
      {{/if}}
    </modal.footer>
  </div>
</BsModal>