{{#if @synth}}
  <EmberFlatpickr
    placeholder="Choisissez la période..."
    @date={{@dates}}
    @locale="fr"
    @onChange={{null}}
    @onClose={{this.onClose}}
    @maxDate={{this.max}}
    @minDate={{this.min}}
    @dateFormat="d M Y"
    @mode="range"
    class="form-select form-select-sm calendar-icon"
    aria-label=".form-select-sm"
  />
{{else}}
  <div class="d-flex justify-content-between">
    <label for="datetimepickerBeg">Dates</label>
    {{! template-lint-disable no-invalid-interactive }}
    <span class="clickable-filter" {{on "click" this.unfilter}}>Effacer Filtre</span>
  </div>
  <EmberFlatpickr
    placeholder="Choisissez la période..."
    @date={{@dates}}
    @locale="fr"
    @onChange={{null}}
    @onClose={{this.onClose}}
    @mode="range"
    class="form-select form-select-sm calendar-icon"
    aria-label=".form-select-sm"
  />
{{/if}}