<BsTab
  data-title="CERFA 2086"
  data-position="top"
  data-intro="Pour chaque année à partir de 2019 (le cas échéant), il vous sera proposé de faire un choix concerant certaines TX rentrant dans les catégories énoncées ci-dessous, afin de les prendre en compte 'valorisées' (à valeur du jour) ou non. L'avantage est l'augmentation du PRIX TOTAL d'ACQUISITION du portefeuille qui réduit donc la PLUS VALUE latente... En contre partie, il y aura plus de choses à déclarer (plus de formulaires). Suivez les indications données via les bulles d'information et/ou consultez la documentation pour de plus amples informations"
  as |tab|
>
  {{#each this.sortedCerfas as |cerfa|}}
    <tab.pane @title={{cerfa.year}}>
      <strong></strong>
      L'application vous donne 2 choix pour l'intégration des catégories suivantes au portefeuille :
      <ul>
        <li>Intérêt
          <span class="d-inline-block mx-1">
            <App::Icon @icon="ion:information-circle-outline" width="20" />
            <BsTooltip @placement="right">Ici, sélectionner le 2è choix signifiera que ces TX seront considérées comme
              intérêts à l'étranger et à ce titre à déclarer case 2TR du formulaire 2047.
            </BsTooltip>
          </span>
        </li>
        {{#if (lt cerfa.year 2021)}}
          <li>Remise Commerciale
            <span class="d-inline-block mx-1">
              <App::Icon @icon="ion:information-circle-outline" width="20" />
              <BsTooltip @placement="right">Ici, sélectionner le 2è choix signifiera que ces TX seront valorisées dans
                le portefeuille à valeur du jour. NOTE: Cela n'engendrera pas de déclaration supplémentaire.
              </BsTooltip>
            </span>
          </li>
        {{/if}}
        <li>Parrainage
          <span class="d-inline-block mx-1">
            <App::Icon @icon="ion:information-circle-outline" width="20" />
            <BsTooltip @placement="right">Ici, sélectionner le 2è choix impliquera une déclaration au titre des revenus
              non commerciaux non professionnels (régime déclaratif spécial ou micro BNC) dans les cases 5KU/5LU/5MU de
              votre 2042-C-PRO.
            </BsTooltip>
          </span>
        </li>
        <li>AirDrop
          <span class="d-inline-block mx-1">
            <App::Icon @icon="ion:information-circle-outline" width="20" />
            <BsTooltip @placement="right">Ici, sélectionner le 2è choix signifiera que ces TX seront valorisées dans le
              portefeuille à valeur du jour. NOTE: Cela n'engendrera pas de déclaration supplémentaire.
            </BsTooltip>
          </span>
        </li>
      </ul>
      <div class="d-flex">
        <strong>Pour cette année fiscale, souhaitez vous :</strong>
        <span class="d-inline-block ms-2">
          <App::Icon @icon="ion:information-circle-outline" width="20" />
          <BsTooltip @placement="right">Faites votre choix pour chaque année fiscales passées (2019, 2020, etc.) et en
            cours (année fiscale actuelle)... Attention: Vous avez le droit de changer de choix pour deux années
            différentes, mais une fois que le choix est fait et la déclaration transmise, vous ne pourrez plus revenir
            sur ce choix. Veillez donc à choisir correctement l'intégration.</BsTooltip>
        </span>
      </div>
      <div class="d-flex">
        <Reporting::CerfaBnc::Choice
          @year={{cerfa.year}}
          @choice={{cerfa.choice}}
          @made={{cerfa.isMade}}
          @locked={{cerfa.isLocked}}
          @bnc={{this.selectedBnc}}
        />
      </div>
    </tab.pane>
  {{/each}}
</BsTab>
<hr />
<div class="d-flex">
  <BsButton
    data-title="CERFA 2086"
    data-intro="Après toute modification, cliquez sur le bouton Enregistrer afin de retenir les informations."
    @type="primary"
    @onClick={{this.saveBnc}}
  >Enregistrer</BsButton>
  {{#if this.success}}
    <BsAlert
      class="m-0 mx-3 py-1 text-center"
      @visible={{true}}
      @fade={{true}}
      @fadeDuration={{800}}
      @type="success"
      @dismissible={{false}}
    >
      Enregistré avec succès !
    </BsAlert>
  {{/if}}
  {{#if this.error}}
    <BsAlert
      class="m-0 mx-3 py-1 text-center"
      @visible={{true}}
      @fade={{true}}
      @fadeDuration={{800}}
      @type="danger"
      @dismissible={{false}}
    >
      Problème dans l'enregistrement !
    </BsAlert>
  {{/if}}
</div>