<h3 class="card-title font-weight-bold mt-2 mb-0 ms-3">Évolution
  <span class="small-text">du {{format-date this.startDate}} au {{format-date this.endDate}}</span></h3>
<div class="card-body py-0 px-1">
  {{#if this.isRunning}}
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border mt-5" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
  {{else}}
    {{#if this.tokenImported}}
      {{#if @error}}
        <div class="row align-items-center custom-slide h-100">
          <div class="col d-flex flex-column">
            <p class="m-1">
              <strong>Dates sélectionnées trop rapprochées...</strong>
            </p>
            <p class="m-1">
              <strong>Veuillez sélectionner un range sup. à 7 jours</strong>
            </p>
          </div>
        </div>
      {{else}}
        <div id="chartdiv" class="h-100">
          <Ac5::Line @data={{this.aggregatedAssets}} @dateField="date" @valueFields={{this.valueFields}} />
        </div>
      {{/if}}
    {{else}}
      <div class="row align-items-center h-100">
        <div class="col text-center">
          <p class="m-1">
            {{#if this.hasWallets}}
              <strong>Aucun actif</strong>
            {{else}}
              <strong>Aucun actif importé...</strong>
              <LinkTo class="links" @route="wallets">Ajouter ?</LinkTo>
            {{/if}}
          </p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>