{{#if @locked}}
  {{#if @choice}}
    <div class="d-flex w-75">
      <h5><strong>Les ajouter au portefeuille avec leur valeur du jour en EUR</strong></h5>
    </div>
    <div class="d-flex w-25 align-items-center">
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:information-circle-outline" width="20" />
        <BsTooltip @placement="right">Sélectionner le 2è choix, çad "ajouter au portefeuille avec leur valeur du jour en
          EUR" signifie que cela va accroitre votre Prix Total d'Acquisition et faire baisser votre Plus-Value.
        </BsTooltip>
      </span>
    </div>
  {{else}}
    <div class="d-flex w-75">
      <h5><strong>Les ajouter au portefeuille avec une valeur de 0€</strong></h5>
    </div>
    <div class="d-flex w-25 align-items-center">
    </div>
  {{/if}}
{{else}}
  {{#if @choice}}
    <div class="d-flex w-75 justify-content-center align-items-center">
      <select name="bncSelected" id="bncSelect" class="form-select form-select mt-2" {{on "change" this.radioCheck}}>
        {{#if this.isMade}}
          <option value="default" selected>--- Faites votre choix ---</option>
          <option value="{{@year}}zero">Les ajouter au portefeuille avec une valeur de 0€</option>
          <option value="{{@year}}bnc">Les ajouter au portefeuille avec leur valeur du jour en EUR</option>
        {{else}}
          <option value="{{@year}}zero">Les ajouter au portefeuille avec une valeur de 0€</option>
          <option value="{{@year}}bnc" selected>Les ajouter au portefeuille avec leur valeur du jour en EUR</option>
        {{/if}}
      </select>
    </div>
    <div class="d-flex w-25 align-items-center">
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:information-circle-outline" width="20" />
        <BsTooltip @placement="right">Sélectionner le 2è choix, çad "ajouter au portefeuille avec leur valeur du jour en
          EUR" signifie que cela va accroitre votre Prix Total d'Acquisition et faire baisser votre Plus-Value.
        </BsTooltip>
      </span>
    </div>
  {{else}}
    <div class="d-flex w-75 justify-content-center align-items-center">
      <select name="bncSelected" id="bncSelect" class="form-select form-select mt-2" {{on "change" this.radioCheck}}>
        {{#if this.isMade}}
          <option value="default" selected>--- Faites votre choix ---</option>
          <option value="{{@year}}zero">Les ajouter au portefeuille avec une valeur de 0€</option>
          <option value="{{@year}}bnc">Les ajouter au portefeuille avec leur valeur du jour en EUR</option>
        {{else}}
          <option value="{{@year}}zero" selected>Les ajouter au portefeuille avec une valeur de 0€</option>
          <option value="{{@year}}bnc">Les ajouter au portefeuille avec leur valeur du jour en EUR</option>
        {{/if}}
      </select>
    </div>
    <div class="d-flex w-25 align-items-center">
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:information-circle-outline" width="20" />
        <BsTooltip @placement="right">Sélectionner le 2è choix, çad "ajouter au portefeuille avec leur valeur du jour en
          EUR" signifie que cela va accroitre votre Prix Total d'Acquisition et faire baisser votre Plus-Value.
        </BsTooltip>
      </span>
    </div>
  {{/if}}
{{/if}}