<div
  class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-2 pt-md-2 text-white slide-in-left custom-sidebar"
>
  {{! Sidebar Logo }}
  <LinkTo
    class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto mt-3 mb-3 mb-md-0 ms-1 link-dark text-decoration-none"
    data-title="Bienvenue"
    data-intro="Bienvenue sur l'application CryptoFiscaFacile 👋 Nous sommes ravis de vous aider dans votre déclaration de cryptomonnaies. Notre objectif est de rendre plus lisible les sommes engendrées par vos transactions et plus simple le calcul de leur imposition potentielle. Afin de vous guider dans toutes les étapes, suivez ce même logo sur toutes les pages de l'application. Prêt ? Allons-y ..."
    @route="index"
  >
    <span class="fs-5">
      <img src="/sidebar/logo.png" alt="Cryptofiscafacile" class="logo-cff" />
      <span class="d-none d-sm-inline font-weight-light logo-text">CryptoFiscaFacile</span>
    </span>
  </LinkTo>

  {{! Sidebar Menu }}
  <ul
    class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mt-sm-3 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
    id="menu"
  >
    <li
      class="nav-item"
      data-title="Bienvenue"
      data-intro="Retrouvez ici la page sur laquelle nous sommes, qui vous présente un résumé de vos portefeuilles afin de suivre leurs évolutions..."
    >
      <LinkTo class="nav-link px-sm-0 px-2 pe-0" @route="index">
        <App::Icon @icon="ion:bar-chart-outline" class="nav-icon bi me-2" />
        <p class="nav-font ms-1 d-none d-sm-inline">Synthèse</p>
      </LinkTo>
    </li>
    <li
      class="nav-item"
      data-title="Bienvenue"
      data-intro="Cette page vous servira à importer manuellement vos fichiers, qu'ils soient de type CSV ou XLSX ou JSON ; lle vient en complément en synthèse de la page Outils qui fournit une importation via API, car nous imaginons bien que les API ne couvriront pas la totalité de vos portefeuilles 😉 c'est pourquoi nous avons prévu cet import dit 'manuel'. Page donc cruciale qui permettra de visualiser l'import de TOUTES vos transactions..."
    >
      <LinkTo @route="wallets" class="nav-link px-sm-0 px-2 pe-0">
        <App::Icon @icon="ion:wallet-outline" class="nav-icon bi me-2" />
        <p class="nav-font ms-1 d-none d-sm-inline">Portefeuilles</p>
      </LinkTo>
    </li>
    <li
      class="nav-item ps-1 ps-md-3"
      data-title="Bienvenue"
      data-intro="Afin de faciliter l'import de vos transactions, cette page vous permettra d'ajouter des données API afin d'extraire automatiquement des transactions..."
    >
      <LinkTo @route="tools" class="nav-link px-sm-0 px-2 pe-0">
        <App::Icon @icon="ion:hammer-outline" class="nav-icon bi me-2" />
        <p class="nav-font ms-1 d-none d-sm-inline">Outils (API)</p>
      </LinkTo>
    </li>
    <li
      class="nav-item"
      data-title="Bienvenue"
      data-intro="Seconde étape cruciale, l'observation et la catégorisation finale de vos transactions : le moteur CryptoFiscaFacile est capable de produire des rapprochements ou des fusions de transactions. Néanmoins lorsqu'il existe un doute, celui-ci vous proposera toujours de choisir parmi des options. Cette page vous permettra donc de valider la complétude de vos transactions..."
    >
      <LinkTo @route="transactions" class="nav-link px-sm-0 px-2 pe-0">
        <App::Icon @icon="ion:list-outline" class="nav-icon bi me-2" />
        <p class="nav-font ms-1 d-none d-sm-inline">Transactions</p>
      </LinkTo>
    </li>
    <li
      class="nav-item"
      data-title="Bienvenue"
      data-intro="Enfin, il vous sera possible de générer les données que vous devrez donner à l'administration grâce à cette page..."
    >
      <LinkTo @route="reports" class="nav-link px-sm-0 px-2 pe-0">
        <App::Icon @icon="ion:clipboard-outline" class="nav-icon bi me-2" />
        <p class="nav-font ms-1 d-none d-sm-inline">Rapports</p>
      </LinkTo>
    </li>
    <li
      class="nav-item"
      data-title="Bienvenue"
      data-intro="Nous avons ajouté bien entendu une documentation complète afin de vous donner les détails nécessaires à la compréhension des termes et usages liés à cette déclaration..."
    >
      <LinkTo @route="document" class="nav-link px-sm-0 px-2 pe-0">
        <App::Icon @icon="ion:library-outline" class="nav-icon bi me-2" />
        <p class="nav-font ms-1 d-none d-sm-inline">Documentation</p>
      </LinkTo>
    </li>
  </ul>

  {{! Sidebar Leave Part }}
  <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
    <div class="w-100 d-flex flex-column leave">
      <div class="leave-img d-none d-sm-inline mx-1"><img alt="leave-img" src="/sidebar/quit.png" /></div>
      <div class="mb-2 mt-2 leave-comment d-none d-sm-inline mx-1">
        <p class="mb-0">N’hésitez pas à laisser un commentaire sur le Gitlab du projet:</p>
        <App::ExternalLink href="https://gitlab.com/c1560/cryptofiscafacile"><span
          >https://gitlab.com/c1560/cryptofiscafacile</span></App::ExternalLink>
      </div>
      <div>
        <div
          class="d-flex align-items-center p-2"
          data-title="Bienvenue"
          data-intro="Afin de vous garantir la disponibilité de vos données mis en cache, et afin d'éviter de passer de nouveau du temps dans l'import et la catégorisation, ce bouton vous permet d'exporter dans un fichier toute votre configuration. Ainsi il vous sera possible de migrer sur un autre ordinateur, ou de changer de navigateur tout en retrouvant votre avancement !"
        >
          <BsButton
            @type="primary"
            @size="sm"
            class="btn-sm btn-text-center btn-style p-2"
            @onClick={{this.onExportConfig}}
          >
            <span class="quit-txt d-none d-sm-inline mx-1">Exporter Configuration</span>
            <App::Icon class="ms-1 ms-md-0" @icon="ion:exit-outline" @width="14" />
          </BsButton>
        </div>
      </div>
    </div>
  </div>
</div>