<BsModal @open={{@open}} @backdropClose={{false}} @onHidden={{@onHidden}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">
        <App::Icon @icon="ion:sparkles-outline" />
        Nouvelle version CFF
        {{this.application.version}}
        <App::Icon @icon="ion:sparkles-outline" />
      </h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <BsAlert @type="info" @dismissible={{false}}>
          <p>Une nouvelle version de CFF est sortie.</p>
        </BsAlert>
        {{#if this.application.persistedVersion}}
          <p>Vos données sont actuellement en version {{this.application.persistedVersion}}.</p>
        {{/if}}

        <p>Vous trouverez tous les détails de cette mise à jour ici:
          <App::ExternalLink
            href="https://gitlab.com/c1560/cryptofiscafacile/-/releases/v{{this.application.version}}"
          >https://gitlab.com/c1560/cryptofiscafacile/-/releases/v{{this.application.version}}
          </App::ExternalLink>
        </p>
      </div>
    </modal.body>
    {{#if @onHidden}}
      <modal.footer class="justify-content-between">
        <div class="d-flex justify-content-end w-100">
          <div>
            <BsButton {{on "click" this.close}}>Fermer</BsButton>
          </div>
        </div>
      </modal.footer>
    {{/if}}
  </div>
</BsModal>