<div class="d-flex text-center py-1 w-md-25" ...attributes>
  <BsButton @type="primary" @size="sm" class="color-btn" {{on "click" this.firstPage}}>
    <App::Icon @icon="ion:play-forward-circle-outline" width="20" class="m-0 p-0" rotate={{2}} />
  </BsButton>
  <BsButton @type="primary" @size="sm" class="color-btn" {{on "click" this.previousPage}}>
    <App::Icon @icon="ion:play-circle-outline" width="20" class="m-0 p-0" rotate={{2}} />
  </BsButton>
  <span class="d-flex font-small mx-3">
    <Input
      @type="number"
      @value={{this.page}}
      class="font-small form-control form-control-sm m-0 me-1"
      id="userPage"
      min="1"
      max={{@maxPage}}
      {{on "input" this.handlePageInputOnInput}}
    />
    <p class="d-none d-xl-inline m-0 label-paddingtop">
      /
      {{@maxPage}}
    </p>
  </span>
  <BsButton @type="primary" @size="sm" class="color-btn" {{on "click" this.nextPage}}>
    <App::Icon @icon="ion:play-circle-outline" width="20" class="m-0 p-0" />
  </BsButton>
  <BsButton @type="primary" @size="sm" class="color-btn" {{on "click" this.lastPage}}>
    <App::Icon @icon="ion:play-forward-circle-outline" width="20" class="m-0 p-0" />
  </BsButton>
</div>