<BsModal @open={{@open}} @backdropClose={{false}} @onHide={{@onHidden}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">
        {{#if (eq this.transfertType "DEPOSIT")}}
          Identifier la Catégorie pour 'Dépôt'
        {{else}}
          Identifier la Catégorie pour 'Retrait'
        {{/if}}
      </h4>
    </modal.header>
    <modal.body>
      <BsAlert @visible={{true}} @fade={{true}} @type="warning" @dismissible={{true}}>
        <strong>Disclaimer : </strong>
        la catégorisation des TX ne devrait avoir lieu
        <strong>QUE</strong>
        lorsque tous vos portefeuilles sont importés (via CSV, JSON ou autres moyen). Si vous êtes sûr de vouloir
        continuer, sélectionner la nouvelle catégorie. Sinon veuillez importer tous vos portefeuilles...
      </BsAlert>
      <label for="categ-select">
        <h5>Nouvelle catégorie :</h5>
      </label>
      <select name="categ" id="categ-select" class="form-select form-select-sm" {{on "change" this.updateCateg}}>
        <option value="" selected>---------------</option>
        {{#each this.categories as |item|}}
          <option value={{item}}>{{t (concat "components.tx-table.categ-update-modal.categories." item)}}</option>
        {{/each}}
      </select>
    </modal.body>
    <modal.footer>
      {{#if this.categoryModified}}
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex">
            <BsButton class="btn" @type="primary" {{on "click" this.revertCateg}}>Annuler Catégorisation</BsButton>
          </div>
          <div class="d-flex">
            {{#if this.toConfirm}}
              <BsButton class="btn btn-primary" @onClick={{this.modifyCateg}}>Confirmer</BsButton>
            {{else}}
              <div>
                <BsTooltip @placement="right">Vous devez sélectionner une catégorie avant de pouvoir confirmer...</BsTooltip>
                <BsButton class="btn btn-secondary" @disabled={{true}} @onClick={{null}}>Confirmer</BsButton>
              </div>
            {{/if}}
            <BsButton class="ms-2" @onClick={{@onHidden}}>Annuler</BsButton>
          </div>
        </div>
      {{else}}
        {{#if this.toConfirm}}
          <BsButton
            data-test-categ-update-modal-confirm-button
            class="btn btn-primary"
            @onClick={{this.modifyCateg}}
          >Confirmer</BsButton>
        {{else}}
          <div>
            <BsTooltip @placement="right">Vous devez sélectionner une categorie avant de pouvoir confirmer </BsTooltip>
            <BsButton class="btn btn-secondary" @disabled={{true}} @onClick={{null}}>Confirmer</BsButton>
          </div>
        {{/if}}
        <BsButton @onClick={{@onHidden}}>Annuler</BsButton>
      {{/if}}
    </modal.footer>
  </div>
</BsModal>