<div id="intro-report" class="px-2 p-md-3 px-md-5">
  <div
    data-title="Rapports"
    data-intro="Bienvenue 👋 Sur cette page, vous aurez la possibilité de générer les rapports afin de vous aider dans le remplissage de vos formulaires d'imposition : CERFA-3916(bis), CERFA-2086..."
  >
    <BsAccordion @selected="taxpayer" @onChange={{this.onAccordionItemChange}} as |acc|>
      <acc.item @value="taxpayer" as |aitem|>
        <aitem.title
          data-title="Contribuable"
          data-intro="Via cette section 1, vous pourrez rentrer ici vos nom, prénom et adresse email..."
        >
          <strong>Données du contribuable</strong>
        </aitem.title>
        <aitem.body>
          <Reporting::Person />
        </aitem.body>
      </acc.item>
      <acc.item @value="accounts" as |aitem|>
        <aitem.title
          data-title="CERFA 3916"
          data-intro="Cliquez sur cette zone... Au clique, une section apparait. Via cette section 2, vous pourrez rentrer toutes les informations nécessaires pour le formulaire 3916 (consulter la documentation pour savoir ce qu'est un formulaire 3916)."
        >
          <strong>Données de comptes utilisateurs (CERFA 3916)</strong>
        </aitem.title>
        <aitem.body>
          {{#if this.reports}}
            <BsTab
              data-title="CERFA 3916"
              data-position="left"
              data-intro="Pour chaque portefeuille 'custodial' détecté, CryptoFiscaFacile vous proposera..."
              as |tab|
            >
              {{#each this.sortedReports as |wallet|}}
                <tab.pane @title={{wallet.name}}>
                  <Reporting::UserData @wallet={{wallet}} />
                </tab.pane>
              {{/each}}
            </BsTab>
            <hr />
            <div class="d-flex me-auto">
              <BsButton @type="primary" {{on "click" (fn (mut this.addWalletModalVisible) true)}} class="mx-3">
                Ajouter Portefeuille
              </BsButton>
              <BsButton
                data-title="CERFA 3916"
                data-intro="Après toute modification, cliquez sur le bouton Enregistrer afin de retenir les informations."
                disabled={{this.saveAccountsTask.isRunning}}
                @type="primary"
                @onClick={{this.saveAccData}}
              >Enregistrer</BsButton>
              {{#if this.success}}
                <BsAlert
                  class="m-0 mx-3 py-1 text-center"
                  @visible={{true}}
                  @fade={{true}}
                  @fadeDuration={{800}}
                  @type="success"
                  @dismissible={{false}}
                >
                  Enregistré avec succès !
                </BsAlert>
              {{/if}}
              {{#if this.error}}
                <BsAlert
                  class="m-0 mx-3 py-1 text-center"
                  @visible={{true}}
                  @fade={{true}}
                  @fadeDuration={{800}}
                  @type="danger"
                  @dismissible={{false}}
                >
                  Problème dans l'enregistrement !
                </BsAlert>
              {{/if}}
            </div>
          {{else}}
            <div class="d-flex justify-content-center">
              <h5>Aucun Portefeuille à l'étranger détecté.</h5>
            </div>
            <div class="d-flex justify-content-center">
              <BsButton @type="primary" {{on "click" (fn (mut this.addWalletModalVisible) true)}}>Ajouter portefeuille</BsButton>
            </div>
          {{/if}}
        </aitem.body>
      </acc.item>
      <acc.item @value="cashin-choice" as |aitem|>
        <aitem.title
          data-title="CERFA 2086"
          data-position="top"
          data-intro="Cliquez sur cette zone... Au clique, une section apparait. Via cette section 3, vous pourrez rentrer toutes les informations nécessaires pour le formulaire 2086 (consulter la documentation pour savoir ce qu'est un formulaire 2086)."
        >
          <strong>Intégration catégories spécifiques (CERFA 2086/2042/2047)</strong>
        </aitem.title>
        <aitem.body class="mb-2">
          {{#if this.cerfas2086CashinChoice}}
            <Reporting::CerfaBnc @cerfas={{this.cerfas2086CashinChoice}} />
          {{else}}
            <div class="d-flex justify-content-center">
              <h5>Aucune modification à apporter dans cette section.</h5>
            </div>
          {{/if}}
        </aitem.body>
      </acc.item>
      <acc.item @value={{this.accItemReportsName}} as |aitem|>
        <aitem.title
          data-title="Génération des rapports"
          data-position="top"
          data-intro="Cliquez sur cette zone... Au clique, une section apparait. Via cette dernière section, vous pourrez générer vos aides à déclaration pour différents formulaires..."
        >
          <strong>Génération des rapports fiscaux</strong>
        </aitem.title>
        <aitem.body>
          {{#if this.notEmptyReports}}
            <div class="px-1 container-fluid">
              <div class="row flex-column flex-lg-row align-items-center my-2 my-md-3 my-lg-5">
                <div
                  class="col-lg-3 mb-4 mb-lg-2 text-center"
                  data-title="Génération des rapports"
                  data-position="top"
                  data-intro="Ici, vous pourrez générer les informations à rentrer dans le formulaire 3916. Un fichier sera généré afin de vous indiquer toutes les données de compte d'actifs numériques utiles pour votre déclaration."
                >
                  <div class="card-modal mt-1">
                    <div class="set-image">
                      <img src="reports/logo-impots-gouv-180x180.png" alt="gouv" />
                    </div>
                    <div class="ribbon-wrapper-2">
                      <div class="ribbon-2">
                        3916
                      </div>
                    </div>
                    {{#if this.wasm.get3916XlsxTask.isRunning}}
                      <BsButton @type="secondary" class="mt-3" disabled={{true}}>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Génération
                      </BsButton>
                    {{else if this.is3916Downloadable}}
                      <a
                        class="btn btn-primary mt-3"
                        download={{this.filename}}
                        href={{this.fileURL}}
                        {{on "click" (fn this.buildCerfaLink "3916" this.wasm.cerfa3916)}}
                      >
                        <BsTooltip @placement="top">Assurez-vous d'avoir au préalable bien fourni ci-dessus les dates
                          correctes ainsi que tous vos identifiants, avant de télécharger ce document.</BsTooltip>
                        Télécharger
                      </a>
                    {{else}}
                      <BsButton @type="secondary" class="mt-3" {{on "click" (fn this.displayReportErrorModal 3916)}}>
                        <BsTooltip @placement="top">Le fichier ne peut être généré. Cliquez pour vérifier l'erreur.</BsTooltip>
                        Télécharger
                      </BsButton>
                    {{/if}}
                  </div>
                </div>
                <div
                  class="col-lg-3 mb-4 mb-lg-2 text-center"
                  data-title="Génération des rapports"
                  data-position="top"
                  data-intro="Ici, vous pourrez générer les informations à rentrer dans le formulaire 2086. Un fichier sera généré afin de vous indiquer les montants et les mentions reportables dans le dit formulaire pour votre déclaration."
                >
                  <div class="card-modal mt-1">
                    <div class="set-image">
                      <img src="reports/logo-impots-gouv-180x180.png" alt="gouv" />
                    </div>
                    <div class="ribbon-wrapper-2">
                      <div class="ribbon-2">
                        2086
                      </div>
                    </div>
                    {{#if this.wasm.get2086XlsxTask.isRunning}}
                      <BsButton @type="secondary" class="mt-3" disabled={{true}}>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Génération
                      </BsButton>
                    {{else if this.is2086Downloadable}}
                      <a
                        class="btn btn-primary mt-3"
                        download={{this.filename}}
                        href={{this.fileURL}}
                        {{on "click" (fn this.buildCerfaLink "2086" this.wasm.cerfa2086)}}
                      >
                        <BsTooltip @placement="top">Assurez-vous d'avoir au préalable bien sélectionné l'option adéquate
                          ci-dessus, avant de télécharger ce document.</BsTooltip>
                        Télécharger
                      </a>
                    {{else}}
                      <BsButton @type="secondary" class="mt-3" {{on "click" (fn this.displayReportErrorModal 2086)}}>
                        <BsTooltip @placement="top">Cliquez pour vérifier les erreurs.</BsTooltip>
                        Télécharger
                      </BsButton>
                    {{/if}}
                  </div>
                </div>
                <div
                  class="col-lg-3 mb-4 mb-lg-2 text-center"
                  data-title="Génération des rapports"
                  data-position="top"
                  data-intro="Ici, vous pourrez générer les informations sur la fiscalité de l'année en cours à déclarer l'an prochain. Un fichier sera généré afin de vous indiquer les montants et les mentions reportables de l'année en cours."
                >
                  <div class="card-modal mt-1">
                    <div class="set-image">
                      <div class="stock pb-4 ps-4">
                        <img src="reports/Logo_new.png" alt="CFF" width="100px" height="100px" />
                      </div>
                    </div>
                    <div class="ribbon-wrapper-2">
                      <div class="ribbon-2">
                        2086 previsio.
                      </div>
                    </div>
                    {{#if this.wasm.get2086XlsxUpToTodayTask.isRunning}}
                      <BsButton @type="secondary" class="mt-3" disabled={{true}}>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Génération
                      </BsButton>
                    {{else if this.is2086UpToTodayDownloadable}}
                      <a
                        class="btn btn-primary mt-3"
                        download={{this.filename}}
                        href={{this.fileURL}}
                        {{on "click" (fn this.buildCerfaLink "2086_PREV" this.wasm.cerfa2086UpToToday)}}
                      >
                        <BsTooltip @placement="top">Assurez-vous d'avoir au préalable bien sélectionné l'option adéquate
                          ci-dessus, avant de télécharger ce document.</BsTooltip>
                        Télécharger
                      </a>
                    {{else}}
                      <BsButton @type="secondary" class="mt-3" {{on "click" (fn this.displayReportErrorModal 2086)}}>
                        <BsTooltip @placement="top">Cliquez pour vérifier les erreurs.</BsTooltip>
                        Télécharger
                      </BsButton>
                    {{/if}}
                  </div>
                </div>
                <div
                  class="col-lg-3 mb-4 mb-lg-2 text-center"
                  data-title="Génération des rapports"
                  data-position="top"
                  data-intro="Enfin, CryptoFiscaFacile vous permettra enfin de télécharger un tableau qui répertorie les TX et les balances de tous vos actifs."
                >
                  <div class="card-modal mt-1">
                    <div class="set-image">
                      <div class="stock pb-4 ps-4">
                        <img src="reports/Logo_new.png" alt="CFF" width="100px" height="100px" />
                      </div>
                    </div>
                    <div class="ribbon-wrapper-2">
                      <div class="ribbon-2">
                        Fiche Stock
                      </div>
                    </div>
                    {{#if this.wasm.getStocksXlsxTask.isRunning}}
                      <BsButton @type="secondary" class="mt-3" disabled={{true}}>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Génération
                      </BsButton>
                    {{else if this.isStocksDownloadable}}
                      <a
                        class="btn btn-primary mt-3"
                        download={{this.filename}}
                        href={{this.fileURL}}
                        {{on "click" this.ficStock}}
                      >
                        Télécharger
                      </a>
                    {{else}}
                      <BsButton @type="secondary" class="mt-3" disabled="true">
                        <BsTooltip @placement="top">Le fichier ne peut être généré. Veuillez contacter le support.</BsTooltip>
                        Télécharger
                      </BsButton>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          {{else}}
            <div class="d-flex justify-content-center">
              <h5>Aucune donnée - Veuillez d'abord importer vos transactions.</h5>
            </div>
          {{/if}}
        </aitem.body>
      </acc.item>
    </BsAccordion>
  </div>
</div>

<UserWallets::AddModal
  @open={{this.addWalletModalVisible}}
  @onHide={{fn (mut this.addWalletModalVisible) false}}
  @onWalletAdded={{this.reloadReports}}
/>

<Reporting::ReportErrorModal
  @open={{this.reportErrorModalVisible}}
  @type={{this.reportErrorModalType}}
  @onHidden={{this.closeReportErrorModal}}
/>