<BsModal @open={{@open}} @onHidden={{@onHidden}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">
        Erreur
      </h4>
    </modal.header>
    <modal.body>
      <div class="container">
        {{#if (eq @type 3916)}}
          <BsAlert class="m-0 py-1" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
            {{this.wasm.errorMessage3916}}
          </BsAlert>
          <p class="mt-4"><strong>Vous ne possédez pas de portefeuille de type Custodial hors de France, il n'est donc
              pas utile de fournir à l'administration un formulaire CERFA 3916.</strong>
          </p>
        {{else if (eq @type 2086)}}
          <BsAlert class="m-0 py-1" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
            {{this.errorMessage2086}}
          </BsAlert>
          <p class="mt-4"><strong>Veuillez vérifier la complétude des transactions sur la page Transactions, ou à défaut
              vous rapprocher du support pour toute aide complémentaire.</strong>
          </p>
        {{/if}}
      </div>
    </modal.body>
    <modal.footer>
      <BsButton {{on "click" @onHidden}}>OK</BsButton>
    </modal.footer>
  </div>
</BsModal>