<BsModal @open={{@open}} @onShow={{this.fetchCoinDetail}} @backdropClose={{false}} @onHide={{@onHidden}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">
        {{#if this.wasm.getCoinDetailTask.isRunning}}
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Récupération des informations
        {{else}}
          {{#if this.coin.name}}
            <img class="mr-1" src={{this.coin.image}} alt="coin" />
            <span data-test-coin-detail-modal-coin-name>{{this.coin.name}}</span>
            <span class="badge bg-secondary">{{uppercase this.coin.symbol}}</span>
          {{else}}
            <span data-test-coin-detail-modal-coin-name>Jeton inconnu</span>
          {{/if}}
        {{/if}}
      </h4>
    </modal.header>

    {{#if this.wasm.getCoinDetailTask.isIdle}}
      <modal.body>
        {{#if this.coin.name}}
          <dl class="row">
            <dt>Prix</dt>
            <dd>
              {{#if this.hasCurrentPriceEur}}
                <span data-test-coin-detail-modal-coin-price-eur class="display-6">{{format-number
                    this.coin.marketData.currentPriceEur
                    style="currency"
                    currency="EUR"
                  }}</span>
                {{! Commented now because price change result from coingecko is wrong }}
                {{!-- {{#if this.priceChange24hEur}}
                  <span
                    class="badge rounded-pill bg-{{if (gt this.priceChange24hEur 0) 'success' 'danger'}}"
                  >{{format-number this.priceChange24hEur minimumFractionDigits=2 style="percent"}}</span>
                {{/if}} --}}
              {{/if}}
              <br />
              {{#if this.hasCurrentPriceUsd}}
                {{format-number this.coin.marketData.currentPriceUsd style="currency" currency="USD"}}<br />
              {{/if}}
              {{#if this.hasCurrentPriceUsd}}
                {{format-number
                  this.coin.marketData.currentPriceBtc
                  style="currency"
                  minimumFractionDigits=8
                  currency="BTC"
                }}<br />
              {{/if}}
            </dd>
            <hr class="offset-1 col-10" />
            {{#if this.coin.marketData.marketCapEur}}
              <dt class="col-4">Market cap</dt>
              <dd class="col-8">{{format-number
                  this.coin.marketData.marketCapEur
                  style="currency"
                  maximumFractionDigits=0
                  currency="EUR"
                }}</dd>
            {{/if}}
            {{#if this.coin.marketData.circulatingSupply}}
              <dt class="col-4">Circulating Supply</dt>
              <dd class="col-8">{{format-number this.coin.marketData.circulatingSupply maximumFractionDigits=0}}</dd>
            {{/if}}
            {{#if this.coin.marketData.totalSupply}}
              <dt class="col-4">Total Supply</dt>
              <dd class="col-8">{{format-number this.coin.marketData.totalSupply maximumFractionDigits=0}}</dd>
            {{/if}}
            {{#if this.coin.marketData.maxSupply}}
              <dt class="col-4">Max Supply</dt>
              <dd class="col-8">{{format-number this.coin.marketData.maxSupply maximumFractionDigits=0}}</dd>
            {{/if}}
          </dl>
        {{else}}
          <BsAlert
            data-test-api-blockchains-url
            class="mt-4"
            @visible={{true}}
            @fade={{true}}
            @type="warning"
            @dismissible={{false}}
          >
            <strong>Note : </strong>
            Le jeton n'a pas été trouvé sur coingecko
          </BsAlert>
        {{/if}}
      </modal.body>
    {{/if}}
    <modal.footer>
      <BsButton @onClick={{@onHidden}}>Fermer</BsButton>
    </modal.footer>
  </div>
</BsModal>