<div class="card custom-cardstyle-types mb-2">
  <div class="col-12">
    <div class="card-body d-flex flex-column pt-1 pb-2">
      <div class="form-group d-flex justify-content-between w-100 mb-3">
        <h3 class="card-title font-weight-bold mt-1 ms-2">Types</h3>
        <div class="input-group w-75 my-1 ms-2">
          <Calendar @dates={{@dates}} @onChange={{@onChange}} @synth="true" />
        </div>
      </div>
      <div class="d-flex cards custom-cardsynth-parent" {{horizontal-mouse-scroll}}>
        <div class="d-flex card-deck custom-cardsynth-fils mb-1">
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon @icon="flat-color-icons:bullish" height="25" />&ensp;Cashin</h4>
              <h1>{{this.unprocessedSynthTx.txCntCashIn}}</h1>
            </div>
          </div>
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon @icon="flat-color-icons:bearish" height="25" />&ensp;Cashout</h4>
              <h1>{{this.unprocessedSynthTx.txCntCashOut}}</h1>
            </div>
          </div>
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon @icon="flat-color-icons:candle-sticks" height="25" />&ensp;Echange</h4>
              <h1>{{this.unprocessedSynthTx.txCntExchanges}}</h1>
            </div>
          </div>
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon @icon="flat-color-icons:electro-devices" height="25" />&ensp;Minage</h4>
              <h1>{{this.unprocessedSynthTx.txCntMinings}}</h1>
            </div>
          </div>
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon @icon="flat-color-icons:export" height="25" />&ensp;Intérêts</h4>
              <h1>{{this.unprocessedSynthTx.txCntInterests}}</h1>
            </div>
          </div>
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon @icon="flat-color-icons:internal" height="25" />&ensp;Remises</h4>
              <h1>{{this.unprocessedSynthTx.txCntCommercialRebates}}</h1>
            </div>
          </div>
          <div class="card card-primary card-outline custom-cardsynth">
            <div class="card-body">
              <h4 class="card-title"><App::Icon
                  @icon="flat-color-icons:currency-exchange"
                  height="25"
                />&ensp;AirDrops</h4>
              <h1>{{this.unprocessedSynthTx.txCntAirDrops}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>