@use '@fontsource/inter/scss/mixins' as Inter;
@use '@fontsource/lato/scss/mixins' as Lato;
@use '@fontsource/quicksand/scss/mixins' as Quicksand;

@include Inter.faces($directory: '@fontsource/inter', $weights: all);
@include Lato.faces($directory: '@fontsource/lato', $weights: all);
@include Quicksand.faces($directory: '@fontsource/quicksand', $weights: all);
