{{! Edit modals Configuration HTML }}
<BsModal
  data-test-configuration-modal
  @open={{@open}}
  @onShow={{this.onShow}}
  @onHidden={{@onHidden}}
  @backdropClose={{false}}
  as |modal|
>
  <div class="modal-fullscreen-sm-down">
    <modal.header @closeButton={{this.application.hasIndexedDb}}>
      <h4 class="modal-title">Configuration</h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <h6><strong>Fonctionnalités :</strong></h6>
        <table class="w-100">
          <tbody>
            <tr>
              <td class="w-75">
                <span class="ms-4">Persistance des données</span>
              </td>
              <td class="text-center">
                {{#if this.application.hasIndexedDb}}
                  <span class="badge rounded-pill bg-success">Opérationnelle</span>
                {{else}}
                  <span class="badge rounded-pill bg-danger">Désactivée</span>
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
        {{#if this.application.hasIndexedDb}}
          <hr />
          <h6><strong>Import configuration :</strong></h6>
          <div class="form-check mb-3">
            <label class="form-check-label" for="dropzone-active-checkbox">
              Voulez-vous importer votre configuration ?
            </label>
            <input
              class="me-1 form-check-input"
              type="checkbox"
              value={{this.dropZoneDisabled}}
              id="dropzone-active-checkbox"
              checked={{readonly this.dropZoneDisabled}}
              {{on "change" this.dropZoneEnabled}}
            />
          </div>
          {{#if this.dropZoneDisabled}}
            <div class="w-100">
              <div class="input-group justify-content-evenly">
                {{! template-lint-disable require-input-label }}
                <input
                  type="file"
                  class="form-control upload"
                  id="fileConfsInput"
                  aria-describedby="file-input"
                  aria-label="Upload"
                  {{on "change" this.upload}}
                />
                <BsButton @type="primary" @onClick={{this.onImport}}>IMPORTER</BsButton>
              </div>
            </div>
          {{/if}}
          <hr />
          <h6><strong>Proxy :</strong></h6>
          <div class="form-check">
            <Input @value={{this.proxy}} class="form-control mb-1" id="proxy" placeholder={{this.defaultProxy}} />
          </div>
          <div class="d-flex flex-row-reverse mb-3">
            <BsButton
              @type="primary"
              disabled={{or this.saveConfigTask.isRunning (not this.proxyUpdated)}}
              {{on "click" this.onSave}}
            >
              ENREGISTRER</BsButton>
            {{#if this.saveConfigTaskSuccess}}
              <BsAlert
                class="m-0 mx-3 py-1 text-center"
                data-test-reports-person-success
                @visible={{true}}
                @fade={{true}}
                @fadeDuration={{800}}
                @type="success"
                @dismissible={{false}}
              >
                Enregistré avec succès !
              </BsAlert>
            {{/if}}
            {{#if this.saveConfigTaskError}}
              <BsAlert
                class="m-0 mx-3 py-1 text-center"
                @visible={{true}}
                @fade={{true}}
                @fadeDuration={{800}}
                @type="danger"
                @dismissible={{false}}
              >
                Problème dans l'enregistrement !
              </BsAlert>
            {{/if}}
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
              <h6><strong>Pour les développeurs :</strong></h6>
            </div>
            <div class="d-flex flex-row-reverse">
              <BsButton @type="primary" @onClick={{this.onSetDebug}}>
                {{this.activated}}
                VERBOSE
              </BsButton>
            </div>
          </div>
        {{else}}
          <BsAlert class="mt-3 py-1" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
            <strong>Attention :</strong>
            la persistance des données n'est pas assurée dans votre configuration actuelle. Veuillez utiliser un
            navigateur compatible et/ou éviter les modes incognito ou navigation privée !
          </BsAlert>
        {{/if}}
      </div>
    </modal.body>
    {{#if this.application.hasIndexedDb}}
      <modal.footer>
        <b data-test-configuration-modal-version class="me-auto">Version:
          <App::ExternalLink
            href="https://gitlab.com/c1560/cryptofiscafacile/-/releases/v{{this.application.version}}"
          >{{app-version versionOnly=this.production}}
          </App::ExternalLink></b>
        <BsButton {{on "click" this.close}}>Fermer</BsButton>
      </modal.footer>
    {{/if}}
  </div>
</BsModal>