<span
  data-title="Bienvenue"
  data-intro="L'état du moteur de l'outil (la partie qui gère les données et les calculs de CFF). Celui ci peut-être:
  <ul>
    <li>Jaune: En cours de démarrage</li>
    <li>Vert: En cours de fonctionnement</li>
    <li>Rouge: ARRÊTÉ, la page doit être rechargée pour relancer le moteur</li>
  </ul>"
  class="head-icon {{this.status}}"
  {{offcanvas-hider "offcanvas-filter"}}
>
  {{#if (eq this.wasm.status "HALTED")}}
    <App::Icon @icon="mdi:engine-off-outline" height="25" />
  {{else}}
    <App::Icon @icon="mdi:engine-outline" height="25" />
  {{/if}}
  {{#if this.tooltipText}}
    <BsTooltip @title={{this.tooltipText}} />
  {{/if}}
</span>