<nav class="justify-content-between slide-in-top header">
  <div class="hstack gap-3 justify-content-around align-items-center">
    <div class="d-flex flex-column justify-content-start ms-3 ms-md-1 my-2 my-md-2">
      <h1 class="header-title mb-md-1">{{@title}}</h1>
      <p class="header-subtitle d-none d-sm-inline">{{@description}}</p>
    </div>
    <div class="hstack gap-4 ms-auto align-items-center">
      {{! Icons block}}
      <div class="me-2 d-lg-flex align-items-center justify-content-center">
        {{#if this.onPage}}
          <a
            data-title="Bienvenue"
            data-intro="Un petit coup de pouce pour les développeurs ici !"
            href="#"
            {{on "click" this.setDonationModal}}
            class="head-icon me-3"
            {{offcanvas-hider "offcanvas-filter"}}
          >
            <App::Icon @icon="ion:gift-outline" />
          </a>
          <a
            data-title="Bienvenue"
            data-intro="Vous trouverez grâce à cette icône un calendrier pour vous aider à planifier à temps votre déclaration. Ici, impossible d'être en retard !"
            href="#"
            {{on "click" this.setCalendarModal}}
            class="head-icon me-3"
            {{offcanvas-hider "offcanvas-filter"}}
          >
            <App::Icon @icon="ion:calendar-outline" />
          </a>
          <a
            data-title="Bienvenue"
            data-intro="Ce bouton CONFIGURATION vous permettra, dans l'hypothèse où vous travaillez hors ligne, de vous prévenir en cas de mise à jour de l'application. Dans ce cas, une pastille rouge sera visible... Soyez attentif !"
            href="#"
            {{on "click" this.setConfModal}}
            class="head-icon"
            {{offcanvas-hider "offcanvas-filter"}}
          >
            <App::Icon @icon="ion:flower-sharp" />
          </a>
        {{else}}
          <a
            data-title="Bienvenue"
            data-intro="Un petit coup de pouce pour les développeurs ici !"
            href="#"
            {{on "click" this.setDonationModal}}
            class="head-icon me-3"
            {{offcanvas-hider "offcanvas-filter"}}
          >
            <App::Icon @icon="ion:gift-outline" />
          </a>
          <a
            data-title="Bienvenue"
            data-intro="Vous trouverez grâce à cette icône un calendrier pour vous aider à planifier à temps votre déclaration. Ici, impossible d'être en retard !"
            href="#"
            {{on "click" this.setCalendarModal}}
            class="head-icon me-3"
          >
            <App::Icon @icon="ion:calendar-outline" />
          </a>
          <a
            data-title="Bienvenue"
            data-intro="Ce bouton CONFIGURATION vous permettra d'obtenir un statut de la persistance de vos donénes, la possiblité d'importer un fichier de configuration et dans l'hypothèse où vous travailleriez hors ligne de vous prévenir en cas de mise à jour de l'application (Dans ce cas, une pastille rouge sera visible...)"
            href="#"
            {{on "click" this.setConfModal}}
            class="head-icon"
          >
            <App::Icon @icon="ion:flower-sharp" />

            {{#unless this.application.hasIndexedDb}}
              <span
                class="position-absolute bottom-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
              >
                <span class="visually-hidden"></span>
              </span>
              <BsTooltip @placement="bottom">Action requise</BsTooltip>
            {{/unless}}
          </a>
        {{/if}}
      </div>
      <div class="vr align-self-center d-none d-xl-block h-25"></div>
      <App::Header::EngineIndicator />
      <div class="vr align-self-center d-none d-xl-block h-25"></div>
      {{! Identity people's block}}
      <div class="user-panel mt-3 pb-3 me-4 d-none d-xl-flex align-items-center">
        <LinkTo @route="reports" class="no-underline">
          <img src="/header/people.png" alt="people" class="me-3 gender-img" />
        </LinkTo>
        <div class="people-text info">
          <LinkTo @route="reports" class="no-underline"><div class="identity d-block">{{this.infos.surname}}
              {{this.infos.name}}</div></LinkTo>
          <LinkTo @route="reports" class="no-underline"><div class="number d-block">{{this.infos.email}}</div></LinkTo>
        </div>
      </div>
    </div>
  </div>
</nav>

<App::Header::ConfigurationModal @open={{this.confModal}} @onHidden={{this.close}} />

{{! Edit modals Calendar HTML }}
<BsModal @open={{this.calendarModal}} @backdropClose={{false}} @onHidden={{this.hiddenCal}} @size="lg" as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Calendriers prévisionnels</h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <BsTab @type="pills" as |tab|>
          <tab.pane @title="Déclaration des revenus" class="mt-3">
            <div class="custom-modalbody">
              <h6>Voici le calendrier prévisionnel de la période de déclaration des revenus de 2022 :</h6>
              <div class="history-tl-container">
                <ul class="tl">
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      06 avril 2023<br />
                      00:00
                    </div>
                    <div class="item-title">Ouverture de la saison d'imposition</div>
                    <div class="item-detail">Ouverture du service de déclaration des revenus 2022 par internet</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      18 mai 2023<br />
                      23:00 PM
                    </div>
                    <div class="item-title">Déclaration Papier</div>
                    <div class="item-detail">Date limite de déclaration 2023 sur les revenus 2022 en version papier</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      23 mai 2023<br />
                      23:59 PM
                    </div>
                    <div class="item-title">Déclaration En ligne zone 1</div>
                    <div class="item-detail">Date limite de déclaration 2023 sur les revenus 2022 par internet pour les
                      départements 01 (Ain) à 19 (Corrèze)</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      30 mai 2023<br />
                      23:59 PM
                    </div>
                    <div class="item-title">Déclaration En ligne zone 2</div>
                    <div class="item-detail">Date limite de déclaration 2023 sur les revenus 2022 par internet pour les
                      départements 20 (Corse) à 54 (Meurthe et Moselle)</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      07 juin 2023<br />
                      23:59 PM
                    </div>
                    <div class="item-title">Déclaration En ligne zone 3</div>
                    <div class="item-detail">Date limite de déclaration 2023 sur les revenus 2022 par internet pour les
                      départements 55 (Meuse) à 976 (La Réunion)</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      Entre le 24 juillet<br />
                      et le 4 août
                    </div>
                    <div class="item-title">Avis d'imposition sur les revenus 2022</div>
                    <div class="item-detail">Mise à disposition de votre avis d'imposition 2023 d'après votre
                      déclaration sur les revenus 2022</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      A partir de<br />
                      Début août
                    </div>
                    <div class="item-title">Correction de l'imposition</div>
                    <div class="item-detail">Après la date limite de dépôt et une fois votre avis reçu ou mis à
                      disposition, vous pourrez encore, si besoin, modifier cette déclaration via le service de
                      correction en ligne</div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                      Fermeture
                      <br />
                      mi-décembre 2023
                    </div>
                    <div class="item-title">Fin de correction de l'imposition</div>
                    <div class="item-detail">Après fermeture du service "corriger ma déclaration", vous ne pourrez plus
                      modifier votre déclaration du tout</div>
                  </li>
                </ul>
              </div>
              <h6><strong>A noter : c'est au moment de la déclaration de vos revenus 2022 que vous connaîtrez le taux de
                  prélèvement à la source qui s'appliquera à vos revenus à partir d'août 2023.</strong></h6>
            </div>
          </tab.pane>
          <tab.pane @title="Régularisation de l'impôt" class="mt-3">
            <div class="custom-modalbody">
              <h6>La régularisation intervient l'année suivant le prélèvement de l'impôt à la source afin de corriger la
                situation dans le cas où vous auriez trop payé ou pas assez par rapport à l'impôt réellement dû.</h6>
              <p class="text">La régularisation de l'impôt n'est possible qu'après la déclaration des revenus réellement
                perçus.</p>
              <h5>Vous avez trop versé d'impôt à la source ?</h5>
              <p class="text">Vous allez bénéficier d'un remboursement : Celui-ci sera effectué par virement bancaire
                sur votre compte
                <strong class="yellow-text">le 24 juillet ou le 7 août 2023</strong>. Si vous n'avez pas communiqué de
                compte bancaire, vous recevrez votre remboursement par chèque.</p>
              <p class="text"><strong>Important :</strong>
                vous avez jusqu'au 1er juillet inclus de l'année de déclaration pour mettre à jour votre compte bancaire
                utilisé pour le remboursement du trop perçu.</p>
              <h5>Vous devez verser un complément d'impôt ?</h5>
              <p class="text">Si le montant qu'il vous reste à payer est inférieur ou égal à 300 euros, vous serez
                prélevé de cette somme en une fois
                <strong class="yellow-text">le 26 septembre 2023 </strong>
                (date prévisionnelle).</p>
              <p class="text">Si le montant est supérieur à 300 €, vous serez prélevé en quatre mensualités :
                <strong class="yellow-text">les 26 septembre, 24 octobre, 24 novembre et 26 décembre 2023</strong>.</p>
              <h5>Une correction après fin de saison déclarative ?</h5>
              <p class="text">Si vous devez porter correction à votre déclaration après la période de correction (après
                fermeture du service "corriger ma déclaration"), vous devrez présenter une réclamation. Vous avez alors
                jusqu'au
                <strong class="yellow-text">31 décembre N + 2</strong>
                pour le faire en ligne depuis la messagerie sécurisée de votre espace Particulier, rubrique "Je signale
                une erreur sur le calcul de mon impôt" ou par courrier à votre centre des finances publiques.</p>
            </div>
          </tab.pane>
        </BsTab>
      </div>
    </modal.body>
    <modal.footer class="justify-content-between">
      <div class="d-flex justify-content-end w-100">
        <div>
          <BsButton {{on "click" this.close}}>
            Fermer</BsButton>
        </div>
      </div>
    </modal.footer>
  </div>
</BsModal>

{{! Edit modals Donation HTML }}
<BsModal @open={{this.donationModal}} @backdropClose={{false}} @onHidden={{this.hiddenDon}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Donation</h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <BsAlert class="ms-2 me-4 text-center" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
          Si vous souhaitez faire un don à l'outil afin de soutenir l'initiative et d'encourager les développeurs (pour
          par exemple des achats de noms de domaine, de l'hébergement, etc.), voici les addresses de don en crypto :
        </BsAlert>
        <div class="d-flex flex-column align-items-center w-100">
          <span class="donate mb-3">
            <span class="donate-in-btc">
              <span class="text">&#3647;</span>
              <span>bc1qpeeg8pu7a692nqt8kpxg5py5f35wl30rq2dfwf</span>
            </span>
          </span>
          <span class="donate mb-3">
            <span class="donate-in-btc-lightning">
              <span class="text">
                <img src="/doc/btc-lightning.svg" alt="bitcoin-lightning" />
              </span>
              vexedlan65@walletofsatoshi.com
            </span>
          </span>
        </div>
      </div>
    </modal.body>
    <modal.footer class="justify-content-between">
      <div class="d-flex justify-content-end w-100">
        <div>
          <BsButton {{on "click" this.close}}>
            Fermer</BsButton>
        </div>
      </div>
    </modal.footer>
  </div>
</BsModal>