<div class="card custom-walletlist h-100 m-0">
  <h3 class="card-title font-weight-bold mt-2 ms-3">Portefeuilles</h3>
  <div class="card-body rad ms-1 me-2">
    {{#if this.wasm.getWalletsTask.isRunning}}
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    {{else}}
      {{#if this.wallets}}
        <div class="row custom-slide h-100" {{horizontal-mouse-scroll}}>
          {{#each this.wallets as |wallet|}}
            <button
              class="col-3 {{if (eq this.selected wallet) 'selected'}}"
              type="button"
              {{on "click" (fn this.onSelect wallet)}}
            >
              <img src="{{wallet.icon}}" alt="{{wallet.name}}" width="40px" height="40px" />
              <span>{{wallet.name}}</span>
            </button>
          {{/each}}
        </div>
      {{else}}
        <div class="row align-items-center custom-slide h-100">
          <div class="col">
            <p class="m-1">
              <strong>Aucun portefeuille...</strong>
              <LinkTo class="links" @route="wallets">Ajouter ?</LinkTo>
            </p>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>