<ul
  class="car-items"
  data-title="Vos portefeuilles"
  data-intro="Enfin, l'application en déduit la liste de tous vos 'portefeuilles' d'actifs numériques. Vous pouvez cliquer sur un compte et visualiser rapidement le récapitulatif des transactions globales de ce portefeuille!"
>
  {{#if @wallets}}
    {{#each @wallets as |wallet|}}
      <li class="car-item">
        <div class="car-item-cards">
          <p class="car-item-cards-title">{{wallet.name}}</p>
          <img src="{{wallet.icon}}" alt="{{wallet.name}}" />
        </div>
      </li>
    {{/each}}
  {{else}}
    <li class="car-item">
      <div class="car-item-cards">
        <p class="car-item-cards-title">Aucun Wallet</p>
        <img src="crypto/default.png" alt="default" />
      </div>
    </li>
  {{/if}}
</ul>