<h3 class="card-title font-weight-bold mt-2 ms-3 mb-0">Statistiques
  <span class="small-text">au {{format-date this.endDate}}</span></h3>
<div class="card-body px-1 d-flex justify-content-between">
  <div id="chartdiv" class="w-65">
    {{#if this.isRunning}}
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    {{else}}
      {{#if this.portfolio}}
        <Ac5::Piechart @data={{this.portfolio}} @categoryField="coin" @valueField="value" />
      {{else}}
        <div class="row align-items-center h-100">
          <div class="col text-center">
            <p class="m-1">
              {{#if this.hasWallets}}
                <strong>Aucun actif</strong>
              {{else}}
                <strong>Aucun actif importé...</strong>
                <LinkTo class="links" @route="wallets">Ajouter ?</LinkTo>
              {{/if}}
            </p>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="d-flex flex-column w-35 pe-3 totals">
    <div class="subtotals {{if this.bnc 'mb-2' 'mb-4'}}">
      <div class="subtotals-two">
        <span>Valeur Portefeuille</span>
      </div>
      <div class="subtotals-one">
        {{#if this.totalValue}}
          <span>{{format-number this.totalValue maximumFractionDigits="0"}} €</span>
        {{else}}
          <span>- €</span>
        {{/if}}
      </div>
    </div>
    <div class="subtotals {{if this.bnc 'mb-3' 'mb-4'}}">
      <div class="subtotals-two">
        <span>PV/MV Latente</span>
        {{#if this.statsError}}
          <span>
            <App::Icon @icon="ion:alert-circle" @color="red" width="20" />
            <BsTooltip>{{this.statsError}}</BsTooltip>
          </span>
        {{/if}}
      </div>
      <div class="subtotals-three">
        {{#if this.unrealizedGainsLosses}}
          <span
            class="{{if (gte this.unrealizedGainsLosses 0) 'subtotals-positive' 'subtotals-negative'}}"
          >{{format-number this.unrealizedGainsLosses maximumFractionDigits="0" style="currency" currency="eur"}}</span>
        {{else}}
          <span>- €</span>
        {{/if}}
      </div>
    </div>
    <div class="subtotals mb-2">
      <div class="subtotals-two">
        <span>PV/MV Réalisée depuis 01/01/{{this.year}}</span>
        {{#if this.statsError}}
          <span>
            <App::Icon @icon="ion:alert-circle" @color="red" width="20" />
            <BsTooltip>{{this.statsError}}</BsTooltip>
          </span>
        {{/if}}
      </div>
      <div class="subtotals-four">
        {{#if this.realizedGainsLosses}}
          <span
            class="{{if (gte this.realizedGainsLosses 0) 'subtotals-positive' 'subtotals-negative'}}"
          >{{format-number this.realizedGainsLosses maximumFractionDigits="0" style="currency" currency="eur"}}</span>
        {{else}}
          <span>- €</span>
        {{/if}}
      </div>
    </div>
    {{#if this.bnc}}
      <div class="subtotals">
        <div class="subtotals-two">
          <span>Intérêts Réalisés (BNC)</span>
        </div>
        <div class="subtotals-four">
          <span class="{{if (gte this.bnc 0) 'subtotals-positive' 'subtotals-negative'}}">{{format-number
              this.bnc
              maximumFractionDigits="0"
              style="currency"
              currency="eur"
            }}</span>
        </div>
      </div>
    {{/if}}
  </div>
</div>