<h4>Ce que propose CryptoFiscaFacile...</h4>
<p>Après avoir importé toutes vos transactions (<strong>n'hésitez pas à lire le manuel en section 5.</strong>), les
  portefeuilles d'actifs apparaitront...</p>
<h5>CERFA 3916 - Comptes à l’étranger</h5>
<p>Afin de pouvoir vous aider à générer rapidement ce formulaire, qui pour rappel consiste
  <strong>uniquement</strong>
  à déclarer vos comptes, CryptoFiscaFacile vous permet de donner toutes les informations nécessaires à ces
  déclarations, via la page
  <LinkTo @route="reports">Rapports</LinkTo>
  et sa section "Données de comptes utilisateurs (CERFA 3916)" dédiée, à remplir avec soin :</p>
<p>1. Ici se retrouve la liste de <strong>TOUS</strong> vos portefeuilles 'Custodial' :</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/custodial.png" alt="custodial" class="w-100" />
</div>

<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  Note: Attention, tous vos comptes '<strong>Non Custodial</strong>' n'apparaîtront pas ici. C’est donc normal que cette
  liste ne corresponde pas tout à fait à la liste de tous vos portefeuilles.
</BsAlert>

<p class="list-step">2. Pour chacun de ces portefeuilles 'Custodial' :
  <ol>
    <li>a. Vous devrez ajouter, le cas échéant, le nombre de 'COMPTES' détenus (il se peut que vous ayez plusieurs
      comptes sur un même portefeuille)</li>
    <li>b. Puis vous devrez vérifier attentivement la date d’ouverture. CryptoFiscaFacile vous propose une date, basée
      sur la toute première TX que le moteur aura détectée sur ce portefeuille. Cette méthode est empirique et nécessite
      un contrôle</li>
    <li>c. Si un compte a été clos durant l’exercice fiscal concerné (par exemple : pour 2022, si vous avez clôturé un
      compte en 2021, c’est ici que vous devrez le déclarer). Cochez la case et entrez la date de clôture effective</li>
    <li>d. Enfin, entrez l’identification de votre ou vos comptes sur ce portefeuille. Ce champ est obligatoire et peut
      autant être une adresse e-mail qu'un numéro bien précis</li>
  </ol>
</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/custodial_step.png" alt="custodial-guide" class="w-100" />
</div>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  Note : afin de trouver les dates d’ouverture et de fermeture, il est souvent conseillé de retrouver les anciens
  e-mails échangés avec cette plateforme. Dans le cas où aucun e-mail n’a été gardé, il est possible de prendre contact
  avec la plateforme et d’en demander la date effective (bien que parfois il n’y ait pas de réponse).
</BsAlert>