<h4>Ce que propose CryptoFiscaFacile...</h4>
<h5>Bénéfices Non Commerciaux</h5>
<h6 class="red">Pour le Minage/StaKing</h6>
<p>
  En conformité avec la législation, le minage et le staKing devraient être considérés comme imposables au titre des
  revenus non commerciaux non professionnels.
</p>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
  CryptoFiscaFacile le fera nativement pour vous.
</BsAlert>
<p>En revanche, cela requerra à ce titre de compléter le formulaire 2042C (5KU) applicable au régime BNC/Micro BNC.
</p>

<h5>Choix utilisateur</h5>
<h6 class="red">Intérêts/Parrainages/Airdrops</h6>
<p>
  Tout comme le proposent les applications de déclaration crypto actuelles, il est parfois admis pour les intérêts,
  parrainages et airdrops de ne pas déclarer les tokens obtenus au titre de l’année de perception, mais de les
  considérer comme acquis à titre "gratuit" (valeur 0) puis d’appliquer le régime des plus/moins values lors de leur
  cession (cf. section 4.).
</p>

<p>Afin de coller au mieux à la législation et d'éviter de potentielles incompréhensions au niveau de l'administration,
  CryptoFiscaFacile propose aux contribuables les 2 choix suivants :</p>
<ul>
  <li>Soit opter pour une valeur d'acquisition à 0 : dans ce cas, sélectionner ce choix fera gonfler votre plus value
    latente, mais en contrepartie, simplifiera votre déclaration.</li>
  <li>Soit entrer au portefeuille avec valeur du jour : ici, sélectionner ce choix impliquera une déclaration au titre
    des revenus non commerciaux non professionnels donc potentiellement avantageux pour le Prix Total Acquisition, mais
    requerra à ce titre :
    <ul>
      <li>de déclarer dans le formulaire 2047 (2TR) pour les intérêts à l'étranger</li>
      <li>de déclarer dans le formulaire 2042C PRO (5KU/5LU/5MU) sous le régime BNC pour les Parrainages</li>
    </ul>
  </li>
</ul>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  Ce choix sera à faire dans la page
  <LinkTo @route="reports">Rapports</LinkTo>, section dédiée aux formulaires 2086/2042/2047.
</BsAlert>

<h5>Pour les Remises Commerciales</h5>
<p>Il faut donc considérer les sommes perçues comme des 'Cashin' et indiquer la valeur des actifs numériques au jour de
  réception comme prix d’acquisition</p>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
  CryptoFiscaFacile le fera nativement pour vous.
</BsAlert>