<h4>Possession Comptes d’actifs numériques</h4>
<div>
  <p>
    En vertu de l'<strong>article 1649-bis C du Code général des impôts</strong>, toute personne physique domiciliée en
    France est tenue de déclarer tous ses comptes
    <strong>ouverts, utilisés</strong>
    et/ou
    <strong>clos</strong>
    à l'étranger.</p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    En principe, il s'agira d'avertir l'administration fiscale de tout(s) compte(s) détenu(s) à l'extérieur de la
    France, en passant par les comptes "bancaires" classiques, jusqu'aux comptes d'actifs numériques : ce dernier sujet
    est
    <strong>couvert par CryptoFiscaFacile</strong>.
  </BsAlert>
  <h6 class="red">Comptes entrant dans le champ d'application :</h6>
  <p>Tout compte d'actifs numériques "Custodial" détenu à l’étranger entre dans le champ d'application de la loi, et à
    ce titre doit être déclaré, qu’il y ait eu KYC ou non, qu’il y ait eu dépôt dessus ou non. Il s'agira par exemple
    (liste non exhaustive) des portefeuilles comme :
    <ul>
      <li>Binance</li>
      <li>Coinbase</li>
      <li>Revolut</li>
      <li>FTX</li>
      <li>Kraken</li>
      <li>Huobi</li>
    </ul>
  </p>
  <h6 class="red">Comptes n'entrant pas dans le champ d'application :</h6>
  <p>– Tout compte d'actifs numériques "Custodial" ouvert en France n'entre pas dans le champ d'application de la loi.
    Il s'agira par exemple (liste non exhaustive) des portefeuilles comme :
    <ul>
      <li>Coinhouse</li>
      <li>Deskoin</li>
      <li>Zebitex</li>
    </ul>
  </p>
  <p>– Également tout autre compte d'actifs numériques "non Custodial" (un compte non Custodial n’a pas d’appartenance
    géographique par nature) n'entre pas dans le champ d'application de la loi. En effet, Il s'agira par exemple (liste
    non exhaustive) de :
    <ul>
      <li>Ledger</li>
      <li>Metamask</li>
      <li>Trustwallet</li>
      <li>Maiar</li>
    </ul>
  </p>
</div>