<h4>Couverture</h4>
<h5>Plateformes prises en charge par CryptoFiscaFacile Version 2</h5>
<p>Vous retrouverez la couverture des plateformes d'échange à cette URL :</p>
<p>
  <App::ExternalLink
    href="https://gitlab.com/c1560/cryptofiscafacile/-/wikis/Plateformes-support"
  >https://gitlab.com/c1560/cryptofiscafacile/-/wikis/Plateformes-support</App::ExternalLink>
</p>

<h5>Blockchains prises en charge par CryptoFiscaFacile Version 2</h5>
<p>Vous retrouverez la couverture des blockchains à cette URL :</p>
<p>
  <App::ExternalLink
    href="https://gitlab.com/c1560/cryptofiscafacile/-/wikis/Plateformes-support"
  >https://gitlab.com/c1560/cryptofiscafacile/-/wikis/Plateformes-support</App::ExternalLink>
</p>

<h5>Portefeuilles pris en charge par CryptoFiscaFacile Version 2</h5>
<p>Vous retrouverez la couverture des portefeuilles DEX à cette URL :</p>
<p>
  <App::ExternalLink
    href="https://gitlab.com/c1560/cryptofiscafacile/-/wikis/Plateformes-support"
  >https://gitlab.com/c1560/cryptofiscafacile/-/wikis/Plateformes-support</App::ExternalLink>
</p>