<h4>Présentation de CryptoFiscaFacile Version 2</h4>
<h5>Les différentes phases</h5>
<div>
  <p>CryptoFiscaFacile 2 a été créée en s'appuyant sur 3 phases :
  </p>
  <ul>
    <li class="pb-2"><strong>Phase 1</strong> : Ajout de toutes vos transactions</li>
    <li class="pb-2"><strong>Phase 2</strong> : Vérification de la complétude de vos transactions</li>
    <li class="pb-2"><strong>Phase 3</strong> : Génération de vos données fiscales</li>
  </ul>
  <p>Dans toutes les parties suivantes, vous aurez la possibilité de rapidement appréhender la législation en vigueur,
    ainsi que ce que propose CryptoFiscaFacile dans ce cadre, avec toutes les actions à effectuer afin d'obtenir un
    résultat cohérent sur vos formulaires déclaratifs.</p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    A tout moment vous aurez la possibilité de cliquer sur l'icône
    <App::Icon @icon="ion:help-sharp" class="align-middle" width="30" />
    de l'aide interactive en bas à droite de l'application afin de vous aider dans toutes les étapes.
  </BsAlert>
</div>
<h4>Terminologie</h4>
<div>
  <ul>
    <li class="pb-2"><strong>Actifs numériques</strong>
      : cryptomonnaies, comme par exemple BTC, ETH, XRP, USDC, etc</li>
    <li class="pb-2"><strong>BNC (Bénéfices non commerciaux)</strong>
      : catégorie d'imposition sur le revenu, applicable aux personnes qui exercent une activité professionnelle non
      commerciale, à titre individuel ou comme associés.</li>
    <li class="pb-2"><strong>BIC (Bénéfices Industriels et commerciaux)</strong>
      : bénéfices réalisés par des personnes physiques qui exercent une activité commerciale, industrielle ou
      artisanale.</li>
    <li class="pb-2"><strong>Cashin</strong>
      : le cashin représente la somme investie, un achat d’actif numérique avec des FIAT.</li>
    <li class="pb-2"><strong>Cashout</strong>
      : le cashout correspond au prix de cession valorisé en euro de tout ou partie de vos actifs numériques</li>
    <li class="pb-2"><strong>Compte d’actifs numériques</strong>
      : tout compte permettant de stocker des actifs numériques qui peut être 'custodial' : vous ne possédez pas les
      clés privées (type compte exchange), à l’inverse d’un compte 'non custodial' : où vous possédez les clés privées
      (type hot ou cold wallet).</li>
    <li class="pb-2"><strong>Cession à titre onéreux</strong>
      : toute cession d’actifs numériques contre une monnaie FIAT, un bien (achat d’une tesla en BTC par exemple) ou un
      service (achat d’un abonnement en crypto sur un marketplace en ligne).</li>
    <li class="pb-2"><strong>CUMP</strong> : coût unitaire moyen pondéré.</li>
    <li class="pb-2"><strong>Custodial (Portefeuille)</strong>
      : Se dit d’un portefeuille dont le tiers ‘possède‘ les clés privés des actifs numériques que détient
      l’utilisateur. Celui-ci en est tout de même le possesseur légal. Exemple : Binance détient les clés privées de vos
      actifs bien que vous en soyez possesseur au sens légal. A opposer à ‘Non Custodial’ (Wallets DeFi par exemple).</li>
    <li class="pb-2"><strong>Earning</strong>
      : en français “épargner”, l’earning correspond à une épargne générant des intérêts. Souvent confondue avec le
      StaKing ou le lending.</li>
    <li class="pb-2"><strong>FIAT (Monnaie)</strong>
      : toute monnaie ayant cours légal sur un territoire donné, euros EUR, dollars USD, etc.</li>
    <li class="pb-2"><strong>Hold</strong>
      : action de conserver ses actifs numériques sans objectif de les vendre (aka HODL)</li>
    <li class="pb-2"><strong>IR (Impôt sur le Revenu)</strong>
      : autre nom du bareme progressif. En France les revenus sont imposés par tranche en fonction de leur importance,
      de 0% (inférieur à un seuil annuel de revenu, ex.: 10 225€ annuel pour 2021) jusqu’à 45% (supérieur à un seuil
      annuel de revenu, comme 160 366€ annuel pour 2021).</li>
    <li class="pb-2"><strong>Lending</strong>
      : le lending est une fonctionnalité de la finance décentralisée qui permet aux utilisateurs de prêter et
      d'emprunter des cryptos actifs, en général en fournissant des collatéraux.</li>
    <li class="pb-2"><strong>PEPS</strong> : Premier Entrant Premier Sortant (FIFO).</li>
    <li class="pb-2"><strong>PS (Prélèvement sociaux)</strong>: Prélèvements des revenus dit du patrimoine d’un total de
      17,2% (contribution sociale généralisée (CSG) 9,20 %, contribution au remboursement de la dette sociale (CRDS)
      0,50 % et prélèvement de solidarité 7,5 %).</li>
    <li class="pb-2"><strong>Stacking</strong>
      : le stacking correspond au fait d’acquérir et d’accumuler des tokens suivant une stratégie long termiste. Le
      stacking est souvent confondu avec le staKing voire l’earning ou le lending.</li>
    <li class="pb-2"><strong>Staking</strong>
      : le staking correspond au fait de déléguer ses tokens en vue de valider les transactions sur une blockchain Proof
      of Stake. En contrepartie des nouveaux tokens vous sont rétribués et ils viennent s’ajouter à ceux que vous
      possédez déjà.</li>
    <li class="pb-2"><strong>Valeur du portefeuille</strong>
      : Total de l’ensemble de ses actifs numériques stockés sur les plateformes d'échanges, sur des portefeuilles non
      custodial, sur des plateformes de lending, etc.</li>
  </ul>
</div>