<div class="w-100">
  <h4>Foire aux questions</h4>
  <h5>Quelle plateforme dois-je déclarer et quand ?</h5>
  <p>Tout compte (plateforme d'échange, etc.) ouvert en année N-1 est à déclarer en année N.</p>

  <h5>Si je retire simplement ma mise initiale, suis-je imposé ?</h5>
  <p>“Retirer sa mise initiale” n’éxonère pas d’une plus-value éventuelle.</p>
</div>