<BsTab @customTabs={{true}} as |tab|>
  <div class="d-flex align-items-start h-100 pt-4 pe-4">
    <BsNav @stacked={{true}} @type="pills" aria-orientation="vertical" class="me-lg-3">
      <Documentation::NavItem @tab={{tab}} @tabId="definitions">
        1.<span class="d-none d-md-inline">Généralités</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="comptes">
        2.<span class="d-none d-md-inline">Comptes</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="legislation-comptes">
        2.1.<span class="d-none d-md-inline">Législation</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="cff-comptes">
        2.2.<span class="d-none d-md-inline">Application</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="revenus">
        3.<span class="d-none d-md-inline">Revenus</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="legislation-revenus">
        3.1.<span class="d-none d-md-inline">Législation</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="cff-revenus">
        3.2.<span class="d-none d-md-inline">Application</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="plus-value">
        4.<span class="d-none d-md-inline">Plus-Value</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="manuel-intro">
        5.<span class="d-none d-md-inline">Manuel CFF</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="manuel-portefeuilles">
        5.1.<span class="d-none d-md-inline">Portefeuilles</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="manuel-transactions">
        5.2.<span class="d-none d-md-inline">Transactions</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="manuel-rapports">
        5.3.<span class="d-none d-md-inline">Rapports</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="manuel-csvcustom">
        5.4.<span class="d-none d-md-inline">Perso.</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="couverture">
        6.<span class="d-none d-md-inline">Couverture</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="sources">
        7.<span class="d-none d-md-inline">Sources</span>
      </Documentation::NavItem>
      <Documentation::NavItem @tab={{tab}} @tabId="mentions">
        8.<span class="d-none d-md-inline">Mentions</span>
      </Documentation::NavItem>
    </BsNav>
    <div class="tab-content custom-doc px-lg-5">
      <tab.pane @id="definitions">
        <Documentation::Definitions />
      </tab.pane>
      <tab.pane @id="comptes">
        <Documentation::Comptes />
      </tab.pane>
      <tab.pane @id="legislation-comptes">
        <Documentation::LegisComptes />
      </tab.pane>
      <tab.pane @id="cff-comptes">
        <Documentation::CffComptes />
      </tab.pane>
      <tab.pane @id="revenus">
        <Documentation::Revenus />
      </tab.pane>
      <tab.pane @id="legislation-revenus">
        <Documentation::LegisRevenus />
      </tab.pane>
      <tab.pane @id="cff-revenus">
        <Documentation::CffRevenus />
      </tab.pane>
      <tab.pane @id="plus-value">
        <Documentation::PlusValue />
      </tab.pane>
      <tab.pane @id="manuel-intro">
        <Documentation::ManuelIntro />
      </tab.pane>
      <tab.pane @id="manuel-portefeuilles">
        <Documentation::ManuelPortefeuilles />
      </tab.pane>
      <tab.pane @id="manuel-transactions">
        <Documentation::ManuelTransactions />
      </tab.pane>
      <tab.pane @id="manuel-rapports">
        <Documentation::ManuelRapports />
      </tab.pane>
      <tab.pane @id="manuel-csvcustom">
        <Documentation::ManuelCustom />
      </tab.pane>
      <tab.pane @id="couverture">
        <Documentation::Couverture />
      </tab.pane>
      <tab.pane @id="sources">
        <Documentation::Sources />
      </tab.pane>
      <tab.pane @id="mentions">
        <Documentation::Mentions />
      </tab.pane>
    </div>
  </div>
</BsTab>