<h4>Ce que dit la loi...</h4>
<h5>Déclaration des plateformes d'échanges à l’étranger</h5>
<div>
  <p>
    Tout compte d’actifs numériques ou de fonds en FIAT, détenu, utilisé, ouvert et fermé à l’étranger doit être
    déclaré. Cela n’impacte pas votre fiscalité car les montants détenus ne sont pas à déclarer.
  </p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
    Toute ouverture/clôture lors de l’année N est à déclarer en année N+1, puis tous les ans jusqu’à clôture (année N+1
    de la clôture également).
  </BsAlert>
  <p>
    <strong><em>Exemple</em></strong>
    : Vous avez ouvert votre compte Coinbase en 2021, il faudra donc le déclarer lors de la déclaration 2022.</p>
  <ul>
    <li class="mb-2">
      Formulaire 3916 : sur la déclaration en ligne (si la plateforme étrangère propose des fonds en euro également). Si
      vous avez déjà déclaré vos comptes d’actifs numériques avant 2020 sur le formulaire 3916, il est automatiquement
      proposé à l’actualisation lors d’une nouvelle déclaration.
    </li>
    <li>
      Formulaire n°3916-BIS : depuis 2021, sur la déclaration en ligne, fusionné avec le 3916
    </li>
  </ul>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Si vous ne saviez pas qu’il fallait déclarer ces comptes, que vous souhaitez remédier à cette situation mais que
    vous vous demandez si vous risquez une amende pour non-déclaration les années passées : n’hésitez pas à ajouter une
    mention expresse (zone de texte à la fin de la déclaration) pour attester de votre bonne foi en expliquant que vous
    ne le saviez pas avant mais que c’est désormais corrigé. Vous pouvez également prendre contact avec votre SIP
    (centre des impôts dédié aux particuliers) si vous souhaitez vous mettre en règle mais que la période déclarative ne
    s’ouvre que plusieurs mois plus tard. Vous pourrez corriger votre déclaration, cf. le calendrier prévisionnel sur le
    bandeau haut.
  </BsAlert>
</div>
<hr />
<h5>Ressources utiles</h5>
<h6>Formulaires 3916 et 3916-bis unifiés</h6>
<div>
  <p>
    Depuis 2021, il est dorénavant possible de le faire en ligne en cochant la case 8UU (Divers - compte à l’étranger).
  </p>
  <p>
    Il est recommandé de mettre son numéro de compte, son identifiant ou toute référence unique. Dans le cas où
    l’information n’existe pas, il est conseillé d’indiquer son adresse e-mail de connexion. A noter que si les champs
    n’acceptent pas les caractères spéciaux, nous proposons de mettre
    <strong>xxx AROBASE domaine POINT com en toutes lettres</strong>. Il est conseillé d’utiliser le formulaire en ligne
    car il sera recopié d’année en année vous évitant de devoir recommencer chaque année, et il n'est pas sûr que votre
    SIP accepte encore les PDF 3916-bis via la messagerie sécurisée.
  </p>
  <p><strong>Exemple avec Binance (formulaire en ligne)</strong></p>
  <div class="d-flex justify-content-center mb-2">
    <img src="/doc/3916.png" alt="cerfa3916" />
  </div>
</div>
<h6>Spécificités de déclaration multiple</h6>
<div>
  <p>Lorsque vous possédez/avez utilisé à la fois de la monnaire FIAT et des actifs numériques sur une plateforme
    d'échange, il y aura deux déclarations 3916/3916-bis à faire (formulaire en ligne fusionné en un seul) :
    <ul>
      <li>L’une pour les actifs numériques : 3916-bis</li>
      <li>L’autre pour le FIAT : 3916.
        <p>Si vous n’avez pas d’IBAN nominatif (Binance par exemple) alors il faut indiquer la même référence / n° de
          compte que pour le formulaire d’actifs numériques</p>
      </li>
    </ul>
  </p>
</div>
<h6>Aide pour le numéro de compte</h6>
<div>
  <ul>
    <li><strong><em>Crypto.com</em></strong>
      : L’exchange et l’application sont deux comptes différents. Plusieurs déclarations sont donc potentiellement à
      faire :
      <ul>
        <li>CdC App FIAT en Grande Bretagne (avant déménagement Brexit) : IBAN en GBXX fournis pour faire des dépôts
          FIAT</li>
        <li>CdC App Fiat en Lituanie (après déménagement Brexit) : IBAN en LTXX fournis pour faire des dépôts FIAT</li>
        <li>CdC App Visa Wirecard (avant scandale Wirecard) : N° de compte CdC App</li>
        <li>CdC App Visa Payrnet (après scandale Wirecard) : N° de compte CdC App</li>
        <li>CdC App Crypto : N° de compte CdC App</li>
        <li>CdC Exchange FIAT : N° de compte CdC App</li>
        <li>CdC Exchange Crypto : N° de compte CdC App</li>
      </ul>
    </li>
    <li><strong>Binance</strong> : N° de compte : user ID</li>
    <li><strong>Coinbase</strong> : N° de compte : référence disponible dans les rapports Excel ou PDF</li>
    <li><strong>Kraken</strong> : N° de compte : username dispo dans ses paramètres de compte</li>
    <li><strong>Bittrex</strong>
      : N° de compte : e-mail ou "memo deposit code" (info dans la rubrique SEPA transfer, ça a l’air de nous identifier
      de manière unique et pérenne)</li>
    <li><strong>Bitstamp</strong> : N° de compte : user ID</li>
  </ul>
</div>