<h4>Ce que dit la loi...</h4>
<h5>Catégories applicables</h5>
<h6 class="red">Minage (Proof of Work, ou PoW)</h6>
<div>
  <p>Action de participer au consensus d'une blockchain, de type Proof of Work (PoW). En contrepartie, les mineurs
    reçoivent des frais de minage et des 'block rewards'. Ces items sont considérés par la législation française comme
    des benéfices non commerciaux (BNC).</p>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Si le chiffre d’affaires est inférieur à 72 600€, Le minage relèvera du Régime Micro BNC (case 5KU du formulaire
    2042C PRO). S’il est supérieur, celui-ci relèvera du régime BNC réel (formulaire 2053)
  </BsAlert>
</div>

<h6 class="red">StaKing (Proof of Stake, ou PoS)</h6>
<div>
  <p>Action de blocage d'un capital sur un nœud de réseau, pour participer à la validation des blocs. Cela revient à une
    participation au consensus de type Proof of Stake (PoS).</p>

  <p>
    La législation fiscale n’évoque que le minage comme participation au réseau mais le staking pourrait rentrer dans
    cette définition vu que les actifs numériques ainsi obtenus “constituent la contrepartie de la participation du
    contribuable à la création ou au fonctionnement du système d’unité de compte virtuelle”. Ces actifs numériques
    suivraient alors le même mode d’imposition que le minage.</p>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Assimilé au minage.
  </BsAlert>
</div>

<h6 class="red">Parrainage (seulement si signicatif)</h6>
<p>Ce sont toutes les récompenses de type revenus pour avoir recommandé les services d'une plateforme à une tierce
  personne.</p>

<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
  Si la valeur des récompenses est réellement significative, comprenez ici à l’appréciation de votre SIP (ceci est très
  subjectif, mais en l’absence de rescrit fiscal à l'heure où nous écrivons ces lignes, il est important de le noter),
  le parrainage relèvera du Régime BNC, toute comme le minage...
</BsAlert>

<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  Si le chiffre d’affaires est inférieur à 72 600€, Le minage relève du Régime Micro BNC (case 5KU du formulaire 2042C
  PRO). S’il est supérieur, du régime BNC réel (formulaire 2053)
</BsAlert>

<h6 class="red">Earning / Lending / StaCKing</h6>
<div>
  <p>Ce sont toutes les réceptions d'intérêts à l'étaranger. Par exemple : les plateformes comme Nexo, Celsius,
    Crypto.com Earn, 'Staking CRO' (Exchange, Appli, nommé ainsi par Crypto.com même si assimilable à du staCKing), etc.
  </p>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    La loi demande de valoriser ces réceptions au taux du jour et d'en faire la somme afin de la déclarer dans la case
    2TR du formulaire 2047 et ce sera à reporter sur la déclaration principale.
  </BsAlert>
</div>

<h6 class="red">Cashback</h6>
<div>
  <p>Le cashback est considéré comme une remise commerciale. Il n’est donc pas fiscalisable (Cela n'exonère pas, par
    contre, d’une plus-value éventuelle lors de la cession des actifs numériques reçus en cashback).
  </p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
    Il faut considérer les sommes perçues en cashback comme des 'cashin' et indiquer la valeur des actifs numériques au
    jour de réception comme prix d’acquisition.
  </BsAlert>
</div>

<h6 class="red">Airdrop (fortuit)</h6>
<div>
  <p>
    Un airdrop est une distribution 'gratuite' de tokens. Cette distribution est généralement réalisée par les créateurs
    de la monnaie en question. Alors que certains créateurs de cryptos privilégient les ICO, d'autres utilisent les
    airdops ou une combinaison des deux pour distribuer les jetons de leur monnaie.
  </p>
  <p><strong>Aucune action de l'utilisateur n'est possible pour qualifier les Airdrop de "fortuits". Ceux-ci sont non
      fiscalisables (fiscalité similaire aux Remises Commerciales et aux CashBack)</strong>
  </p>
</div>
<hr />
<h5>Formulaires déclaratifs</h5>
<h6>Formulaire 2042</h6>
<div>
  <div class="d-flex justify-content-center">
    <img src="/doc/2042.png" alt="cerfa2042" />
  </div>
</div>
<h6>Formulaire 2047</h6>
<div>
  <div class="d-flex justify-content-center">
    <img src="/doc/2047.png" alt="cerfa2047" />
  </div>
</div>
<h6>Formulaire 2778-SD (associé au 2047)</h6>
<div>
  <div class="d-flex justify-content-center">
    <img src="/doc/2778sd.png" alt="cerfa2778sd" />
  </div>
</div>