<h4>Portefeuilles</h4>
<h5>Phase 1 : Ajout de toutes vos transactions</h5>
<p>Première étape cruciale dans votre déclaration, le rapatriement de toutes vos données de comptes d'actifs et de leurs
  transactions est nécessaire afin de lister toutes les transactions entrant dans le champ d'application de la loi.</p>
<p>
  Pour cette phase, il sera important de collecter ces données, via les moyens mis à votre disposition par
  l'application. Il s'agira de le permettre en utilisant l'un ou l'autre des moyens suivants :
  <ul>
    <li>Collecter ces données via des API</li>
    <li>Collecter les fichiers de type 'CSV' (sorte de tableur)</li>
    <li>Extraire des données via des fichiers JSON (fichier de structure de données)</li>
  </ul>
</p>

<h6 class="red">Ajout de TX via API (Vue Outils)</h6>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/wallet_api.png" alt="api" class="w-50" />
</div>
<p>Une des possibilités offertes afin de rapatrier les transactions est l’utilisation d’API, si et seulement si la
  plateforme d’échange (Binance, Kraken…) concernée en fournit la capacité. Concrètement il s’agira de donner les droits
  à CryptoFiscaFacile sur la lecture de l’historique des transactions de la plateforme afin d’en importer le contenu
  dans votre base de données locale. Les procédures pour chaque plateforme d’échange afin de créer la connexion vous
  seront systématiquement données sur la page OUTILS.</p>
<p>Néanmoins, toutes les plateformes d’échanges ne fournissent pas de capacité d’API, c’est pourquoi d’autres méthodes
  vous sont fournies…</p>

<h6 class="red">Ajout de fichiers CSV</h6>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/csv_import.png" alt="import" class="w-75" />
</div>
<p>La méthode la plus répandue consiste à extraire de la plateforme un fichier, généralement de type CSV, qui répertorie
  toutes les transactions survenues sur un laps de temps défini.</p>
<p>Il est possible qu’une plateforme d'échange vous propose uniquement l’extraction sur une courte période (ex. : cas de
  Binance avant 2022). Il sera donc nécessaire de réitérer l’opération autant de fois qu’il le faut afin d’en extraire
  les transactions sur la plage de temps souhaitée.</p>
<p>Chaque plateforme a sa façon propre d’extraire ces fichiers, c’est pourquoi il est impossible d’en répertorier leur
  intégralité. Néanmoins, sur chaque plateforme un centre d’aide est disponible et vous détaillera les manipulations.</p>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
  Évitez d’ouvrir vos fichiers CSV dans Excel ou toute suite bureautique, elles ont tendance à les modifier sans vous le
  dire et cela le rendrait inutilisable par CryptoFiscaFacile.
</BsAlert>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  <div class="d-flex justify-content-center mb-4">
    <img src="/doc/support.png" alt="support" class="w-75" />
  </div>
  Si lors de l’ajout de fichier CSV dans CryptoFiscaFacile, un bouton
  <strong>SUPPORT</strong>
  apparaît, cela veut dire qu'une ou plusieurs transactions à l’intérieur de ce fichier ne sont pas bien gérées par
  CryptoFiscaFacile. Dans ce cas veuillez suivre les instructions afin que nous puissions ajouter leur support dans les
  meilleurs délais.
</BsAlert>

<h6 class="red">Extractions particulières de fichiers sources</h6>
<p>CryptoFiscaFacile fournit également, via la même interface que pour les fichiers CSV, une autre manière de rapatrier
  ses transactions. Il s'agira d'extractions dans des cas particuliers où l’extraction via API ou par CSV s'avèrera être
  délicate ou indisponible.</p>
<p>Voici les procédures à suivre pour chaque plateforme couverte par l’application :</p>
<p><strong><em>Crypto.com Exchange</em></strong></p>
<ol>
  <li>S'identifier sur l'exchange dans son navigateur</li>
  <li>Clic droit puis choisir "Inspecter"</li>
  <li>Sélectionner l’onglet “Console”</li>
  <li>Copier le script suivant dans la console
    <Documentation::Script />
  </li>
  <li>Attendre quelques secondes et accepter (si nécessaire) le téléchargement du fichier JSON</li>
</ol>
<p>Vous vous retrouvez donc avec un fichier JSON, que l’application sera capable d’accepter via la page PORTEFEUILLES.</p>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  A ce stade, CryptoFiscaFacile n'identifie que la procédure spécifique ci-dessus. Si d'aventure d'autres méthodes
  étaient nécessaires, CryptoFiscaFacile produira une mise à jour de l'application ainsi que la documentation associée.
</BsAlert>
<p><strong><em>Xumm wallet</em></strong></p>
<ol>
  <li>Settings - Activer "Show payments fees as separate transactions</li>
  <li>Export - Choisir les colonnes tx_type,direction,amount,date,currency,is_fee,fee,hash</li>
</ol>

<h6 class="red">Ajout de TX grâce aux extractions Blockchain</h6>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/bc_api.png" alt="blockchain" class="w-50" />
</div>
<p>Une dernière méthode est fournie, capable de rapatrier des transactions sur les blockchains directement (BTC, ETH,
  Tezos…), grâce à vos adresses blockchain.</p>
<p>Ce principe sera principalement utilisé pour couvrir par exemple la DeFi (Finance Décentralisée) ou les portefeuilles
  ‘non custodial’, afin de traiter la complétude de toutes les transactions.</p>
<p>Important : n’entrez QUE les adresses des wallets non custodial que vous POSSEDEZ (dont vous détenez ou avez détenu
  les clés privées des actifs numériques) et aucun portefeuille avec lequel vous avez interagi (ex : si vous avez
  interagi avec un SmartContract, il ne faut pas en donner l'adresse à CryptoFiscaFacile, suivant le principe "not your
  key, not your crypto, not to declare" !).</p>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  Attention, ce n’est pas parce que vous entrez ces adresses et extrayez ces transactions que le portefeuille sera
  déclaré. Il est bien dit que la possession des portefeuilles non Custodial ne sont pas à déclarer ! D’ailleurs,
  CryptoFiscaFacile ne vous demandera jamais de date d’ouverture/fermeture ou ID pour ces portefeuilles.
</BsAlert>
<p><strong><em>Exemple</em></strong>: vous avez effectué un transfert depuis Crypto.com APP vers le portefeuille
  Crypto.com Wallet DeFi, en utilisant la mainnet crypto.org. l’injection du CSV Crypto.com APP fera apparaître une
  transaction de type “Retrait”, mais CryptoFiscaFacile ne sera pas capable de retrouver l’équivalent "Dépôt" afin d’en
  déduire la catégorie fiscale. Pour ce faire, il faudra interroger la blockchain crypto.org afin de voir une
  transaction de type “Dépôt” du même montant (modulo les frais). Ainsi CryptoFiscaFacile sera en mesure de déduire la
  réelle catégorie fiscale qui sera dans ce cas “Transfert” et de prendre en compte la balance du Wallet DeFi dans votre
  portefeuille global.</p>
<br />