<h4>Rapports</h4>
<h5>Phase 3 : Génération de vos données fiscales</h5>
<h6 class="red">Contribuable</h6>
<p>Il s’agira ici uniquement de rentrer vos informations d'identification (nom, prénom et adresse e-mail), qui seront
  reportées sur les fichiers que vous génèrerez ci-après.</p>

<h6 class="red">3916 - Données de comptes utilisateurs</h6>
<p>Afin de vous appuyer dans la déclaration de tous vos comptes d'actifs numériques, cette section vous permettra de
  donner les informations.
</p>
<p>Reportez-vous à la section 2.2 pour les détails...
</p>

<h6 class="red">2086/2042/2047 - Spécificités Catégories</h6>
<p>Afin de générer le ou les rapports en question, il sera obligatoire de faire un choix pour l’exercice fiscal concerné
  sur les catégories suivantes :
  <ul>
    <li>Intérêt : Les Intérêts sont des 'intérêts' à l'étranger donc nécessitent le remplissage de la case 2TR du
      formulaire 2047,</li>
    <li>Parrainage : Les Parrainages vont s'additionner aux TX relatives au Minage, donc micro-BNC : case 5KU du
      formulaire 2042-C-PRO,</li>
    <li>AirDrop : Les Airdrops fortuits sont eux non imposables (pas besoin de les déclarer ailleurs),</li>
  </ul>
</p>
<p>Ces catégories doivent au choix être ajoutées au portefeuille avec valeur nulle, ou bien ajoutées au portefeuille
  avec une valorisation du jour de la transaction.</p>

<h6 class="red">Génération des rapports</h6>
<p>Dans le cas où toutes les précédentes étapes ont été remplies, il sera possible de générer vos documents :</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/gen.png" alt="generation" class="w-100" />
</div>
<ul>
  <li class="mb-3"><strong>Génération 3916</strong>
    : cette partie vous permettra de télécharger les informations relatives aux déclarations de vos comptes à
    l’étranger, donc liées aux CERFA 3916. Ces informations tiendront compte des données entrées en section
    <strong>3916 - Comptes à l’étranger</strong></li>
  <li class="mb-3"><strong>Génération 2086</strong>
    : cette partie vous permettra de télécharger les informations relatives aux déclarations de vos plus values, donc
    liées CERFA 2086. Ces informations tiendront compte des données entrées en section
    <strong>2086/2042/2047 - Spécificités Catégories</strong></li>
  <li class="mb-3"><strong>Fiche de Stock</strong>
    : CryptoFiscaFacile vous permet également à titre officieux de télécharger un tableur rassemblant par onglet chaque
    actif numérique détenu, ainsi que les transactions et la balance</li>
</ul>
<br />