<h4>Transactions</h4>
<h5>Phase 2 : Vérification de la complétude de vos transactions</h5>
<p>Cette page vous fournit une table qui regroupe
  <strong>TOUTES</strong>
  les transactions effectives de votre portefeuille. Celle-ci vous facilitera la tâche, car le moteur CryptoFiscaFacile
  aura permis d’éviter les doublons, de rapprocher les transactions inter-plateformes, et d'identifier les potentielles
  transactions en attente de catégorisation.</p>

<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
  Afin d’assurer une mise à disposition cohérente des informations, il est
  <strong>PLUS QUE RECOMMANDE</strong>
  d’avoir importé TOUTES vos transactions de TOUTES vos plateformes, pour ensuite commencer à catégoriser le restant.
  Sans quoi vous vous exposez à des calculs erronés pour les formulaires d’imposition.
</BsAlert>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
  Le ‘restant‘ s’entend par les transactions dont la catégorie est DEPOT ou RETRAIT et pour lesquelles une icône
  apparaît sur la droite du tableau. Pour ces transactions, il sera important de choisir la bonne ou la meilleure
  catégorie. A défaut, CryptoFiscaFacile appliquera la catégorie la moins avantageuse pour vous : Retrait = CashOut
  (sortie du PF et cession imposable), dépôt = Don reçu (60%).
</BsAlert>
<p>
  Pour ce faire et afin de rendre la tâche plus aisée, 3 types d’actions seront à votre disposition :
  <ol>
    <li>le bouton <em>FILTRER</em> afin de ne sélectionner que les transactions qui vous intéressent</li>
    <li>le bouton <em>VALIDER</em> afin de visualiser s’il reste des problèmes dans la complétude des calculs</li>
    <li>L'icône de <em>CATÉGORISATION</em> afin de donner la réelle catégorie de la transaction</li>
  </ol>
</p>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  Note : Actions 2 et 3 qui devront être répétées autant de fois que nécessaire.
</BsAlert>

<h6 class="red">Informations Table</h6>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/table.png" alt="table" class="w-100" />
</div>
<p>
  Au sein de cette table, vous retrouverez les informations suivantes :
  <ul>
    <li><strong>Multi</strong>
      : Faire une sélection multiple des TX ‘RETRAIT’ ou 'DÉPÔT' afin de les catégoriser en groupe via l'icône
      <App::Icon @icon="ion:build" width="15" /></li>
    <li><strong>Date</strong> : date de la transaction dans le fuseau horaire Français (Paris)</li>
    <li><strong>Portefeuille</strong>
      : plateforme (portefeuille ou wallet, custodial ou non custodial) d’échange d’actifs numériques</li>
    <li><strong>Catégorie</strong>
      : catégorie fiscale induite par la transaction et déduite par le moteur CryptoFiscaFacile</li>
    <li><strong>De/Sortie</strong>
      : L'intitulé DE se réfère à tout échange de symboles (par ex. : DE 50 000 EUR (vers) 1 BTC), tandis que l'intitulé
      SORTIE se comprend comme le coin qui sortira du portefeuille dans le cas d'un retrait</li>
    <li><strong>Vers/Entrée</strong>
      : L'intitulé VERS se réfère à tout échange de symboles (par ex. : (de) 50 000 EUR VERS 1 BTC), tandis que
      l'intitulé ENTRÉE se comprend comme le coin qui entrera dans le portefeuille dans le cas d'un dépôt.</li>
    <li><strong>Frais</strong> : la colonne FRAIS vous donnera les frais éventuels de la transaction</li>
    <li><strong>Configuration/État</strong>
      : 2 types d’informations apparaîtront ici :
      <ul>
        <li>Un statut de chaque TX</li>
        <li>Une icône de CATÉGORISATION
          <App::Icon @icon="ion:build" class="align-middle" width="15" />
          qui vous permettra de choisir une catégorie pour remplacer le type par défaut ‘RETRAIT’ ou 'DÉPÔT' (ex. : TX
          qui sera finalement relative à un AIRDROP...)</li>
        <li><em>(Optionnel)</em>
          Une icône
          <App::Icon @icon="ion:arrow-undo" class="align-middle" width="15" />
          vous permettant de défaire une fusion.</li>
        <li><em>(Optionnel)</em>
          Une icône
          <App::Icon @icon="ion:calculator" class="align-middle" width="15" />
          vous permettant de modifier la conversion en monnaie FIAT d'un cashOut.</li>
      </ul>
    </li>
  </ul>
</p>

<h6 class="red">Catégorisation</h6>
<p>Chaque transaction doit être catégorisée afin de subir le traitement fiscal adéquat.</p>
<p>En voici la logique :
</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/categ.png" alt="categsflow" class="w-75" />
</div>
<p>La majorité des Transactions seront catégorisées automatiquement par CryptoFiscaFacile, mais pour les transactions
  restantes, de type RETRAIT ou DÉPÔT, vous devrez le faire manuellement grâce à l'icône de CATÉGORISATION.</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/line.png" alt="table-circled" class="w-100" />
</div>

<p>Dans ce cas, une boîte de dialogue vous proposera les catégories possibles :
  <ul>
    <li>Pour un
      <em>RETRAIT</em>
      <ul>
        <li>CashOut</li>
        <li>Don (émis)</li>
        <li>Ignorer (exclure la transaction de tous calculs)</li>
      </ul>
    </li>
    <li>Pour un
      <em>DEPOT</em>
      <ul>
        <li>Airdrop</li>
        <li>Cashin</li>
        <li>Don (reçu)</li>
        <li>Fork</li>
        <li>Intérêts</li>
        <li>Minage</li>
        <li>Parrainage</li>
        <li>Remise Commerciale</li>
        <li>Ignorer (exclure la transaction de tous calculs)</li>
      </ul>
    </li>
  </ul>
</p>

<h6 class="red">Validation</h6>
<p>Partie importante du processus en phase 2, les 4 étapes que CryptoFiscaFacile vous proposent via le bouton VALDER de
  la page
  <LinkTo @route="transactions">Transactions</LinkTo>
  vous permettront de vérifier la complétude de
  <strong>tous vos imports</strong>, en calculant les balances de tokens, en détectant les dépôts et retraits
  incohérents ou manquants ainsi qu'en proposant des alternatives ou des choix de fusion :</p>
<ol>
  <li class="mb-3"><strong>Step 1 / 4</strong>
    : vous permettra de vous avertir d'incohérences sur les types d'origine et de destination des transactions. Pour ce
    problème, il conviendra de contacter le support afin d'en déterminer la cause réelle.</li>
  <li class="mb-3"><strong>Step 2 / 4</strong>
    : il se peut que le moteur CryptoFiscaFacile ne parviennent pas à rapprocher 2 transactions Dépôts et Retrait. Afin
    de manuellement et potentiellement rattraper ces erreurs, CryptoFiscaFacile vous présentera différentes possibilités
    afin de fusionner des transactions en Transfert (le cas échéant).</li>
  <li class="mb-3"><strong>Step 3 / 4</strong>
    : il peut arriver lorsque tous les portefeuilles n'ont pas été importés, que l'outil détecte des balances négatives.
    Cette étape vous permettra de potentiellement choisir une fusion de transactions afin de régler le problème des
    balances négatives sur certains tokens.</li>
  <li class="mb-3"><strong>Step 4 / 4</strong>
    : enfin si vous avez participé à des ICO de tokens, la dernière étape vous permettra d'en faire part à
    CryptoFiscaFacile. Il s'agira de sélectionner les transactions en lien, puis de fusionner les-dites transactions
    afin que CryptoFiscaFacile intègre au moteur le type "ICO". Les calculs fiscaux pouvant être impactés par cette
    détection, il est donc important de l'intégrer à l'outil.</li>
</ol>
<br />