<h4>Ajout de fichiers Excel ou CSV personalisés</h4>
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
  Si votre plateforme ne propose pas l'extraction de vos transactions, si votre plateforme n'existe plus ou si vous
  pensez avoir importé un maximum de transactions mais qu'il reste des erreurs (ex. : il vous reste des TX de catégorie
  RETRAIT sans aucun DEPOT en face), CryptoFiscaFacile accepte des fichiers de transactions personalisés à créer
  manuellement.
</BsAlert>

<h5 class="red">Catégories disponibles</h5>
<p>Les catégories suivantes permettant de catégoriser vos transactions sont les suivantes :</p>
<ul>
  <li>Achat Fiat-Crypto: <i>Cashin</i>, ceux-ci doivent être frais Fiat <b>inclus</b></li>
  <li>Cession Crypto-Fiat : <i>Cashout</i>, ceux-ci doivent être frais Fiat <b>exclus</b></li>
  <li>Dépôt : <i>Depot</i>, tout montant crypto déposé sur une plateforme</li>
  <li>Don : <i>Don</i>, toute donation reçue ou émise</li>
  <li>Échange : <i>Echange</i>, toute transaction crypto à crypto</li>
  <li>Frais : <i>Frais</i>, toute transaction uniquement de frais</li>
  <li>Intérêt : <i>Interets</i>, tout montant portant intérêts (stacking, earning...)</li>
  <li>Minage : <i>Minage</i>, tout montant portant intérêts de minage</li>
  <li>Parrainage : <i>Parrainage</i>, tout montant lié à du parrainage, émis ou reçu</li>
  <li>Remise Commerciale : <i>Remise Commerciale</i>, toute remise perçue</li>
  <li>Retrait : <i>Retrait</i>, tout montant crypto retiré d'une plateforme</li>
</ul>

<h5 class="red">Types de Fichiers</h5>
<p>Veuillez trouver ci-dessous les modèles pré-complétés :</p>
<ul>
  <li><a href="/CryptoFiscaFacile-Custom.csv" download> Modèle CSV </a></li>
  <li><a href="/CryptoFiscaFacile-Custom.xlsx" download> Modèle Excel </a></li>
</ul>
<br />
<p>Afin de compléter manuellement la liste des transactions, CryptoFiscaFacile vous met à disposition un fichier Excel
  (2007+, utilisable sur LibreOffice ou toute autre application bureautique également) qu'il vous suffira de remplir
  manuellement avec toutes les transactions manquantes :
</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/xls-custom.png" alt="xlsx" class="w-100" />
</div>
<p>Sur le même principe que le fichier Excel ci-dessus, CryptoFiscaFacile vous propose un format plus classique, le CSV.
  Sans en-tête, il suffira de rentrer uniquement les valeurs pour chaque transactions.
</p>
<div class="d-flex justify-content-center mb-4">
  <img src="/doc/csv-custom.png" alt="csv" class="w-100" />
</div>
<p>
  <ul>
    <li><strong>(A)</strong>
      : L'en-tête permet à l'application de déterminer la plateforme et de vous fournir les données nécessaires au
      formulaire CERFA 3916 (déclaration de comptes à l'étranger).</li>
    <li><strong>(B)</strong>
      : Le corps du tableau vous permet d'ajouter manuellement les transactions, de différentes catégories.
    </li>
  </ul>
</p>
<br />
<h5 class="red">Formalisme</h5>
<br />
<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
  <strong>Attention de bien respecter globalement le formalisme fourni en exemple</strong>
</BsAlert>

<BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
  <strong>Spécificités concernant les dates :
  </strong>
  <ul>
    <li>
      Veillez à bien respecter le format des dates dans chaque fichier. Pour le fichier Excel : il est important de
      garder les dates sous forme de texte. Pour ce faire, veillez à bien laisser le caracètre
      <em><strong> ' </strong></em>
      dans la cellule en début de chaine.</li>
    <li>Par ailleurs, celles-ci doivent correspondre à des dates avec une zone de temps 'Europe/Paris'. </li>
  </ul>
</BsAlert>
<br />