<h4>Manuel CryptoFiscaFacile Version 2</h4>
<h5>Les différentes phases</h5>
<div>
  <p>Pour rappel, CryptoFiscaFacile version 2 a été créée en s'appuyant sur 3 phases :
  </p>
  <ul>
    <li class="pb-2"><strong>Phase 1</strong>
      - Portefeuilles : Ajout de toutes vos plateformes d'échange et de blockchains afin de rapatrier TOUTES vos
      transactions</li>
    <li class="pb-2"><strong>Phase 2</strong>
      - Transactions : Vérification de la complétude de TOUTES vos transactions</li>
    <li class="pb-2"><strong>Phase 3</strong> - Rapports : Génération de vos données fiscales à déclarer</li>
  </ul>
  <p>Dans les parties suivantes, vous aurez la possibilité de vous familiariser avec ce que propose CryptoFiscaFacile
    dans ce cadre.</p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Il est important de
    <strong>respecter l'ordre de ces 3 phases</strong>
    afin que l'outil puisse correctement générer vos données fiscales. Le risque de ne pas suivre l'ordre des phases est
    d'obtenir des valeurs erronéés et de ce fait créer une déclaration caduque.
  </BsAlert>
  <br />
  <p>
    <strong>De plus, CryptoFiscaFacile vous permet de pallier au manque de transaction(s), menant potentiellement à des
      calculs erronés.</strong>
  </p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Pour ce faire, l'application met à disposition des utilisateurs des fichiers de type
    <em>'Perso.'</em>
    (Personnalisé) à compléter manuellement des transactions manquantes.
  </BsAlert>
</div>