<h4>CGU et Mentions Légales</h4>
<h5 class="mt-4">Identité</h5>
<div>
  <p class="m-0"><em>Nom</em> : CryptoFiscaFacile </p>
  <p class="m-0"><em>URL</em>
    :
    <a href="https://crypto.fiscafacile.com/">https://crypto.fiscafacile.com</a>
  </p>
  <p class="m-0"><em>Propriétaire</em> : CryptoFiscaFacile</p>
  <p class="mt-0"><em>Responsable de publication</em> : CryptoFiscaFacile</p>

  <p class="m-0"><em>Conception et réalisation</em> : CryptoFiscaFacile</p>
  <p class="m-0"><em>Hébergement</em>
    :
    <App::ExternalLink href="https://www.cloudflare.com/cdn/">Cloudflare, Inc</App::ExternalLink></p>
  <p class="mt-0"><em>Mesure d'audiences</em>
    :
    <App::ExternalLink href="https://www.cloudflare.com/web-analytics/">Cloudflare, Inc</App::ExternalLink></p>
</div>

<h5 class="mt-4">Conditions d'utilisation</h5>
<div>
  <p>L’utilisation de la présente application implique l’acceptation pleine et entière des conditions générales
    d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à
    tout moment.</p>
</div>

<h5 class="mt-4">Informations</h5>
<div>
  <p>Les informations, calculs et documents du site sont présentés à titre indicatif, n’ont pas de caractère exhaustif,
    et ne peuvent engager la responsabilité du propriétaire.</p>

  <p>Le propriétaire de l'application ne peut être tenu responsable des dommages directs et indirects consécutifs à
    l’accès ou l'obtention de la dite l'application.</p>
</div>

<h5 class="mt-4">Propriété intellectuelle</h5>
<div>
  <p class="m-0">Application sous licence
    <em>MIT</em>. Voir
    <App::ExternalLink href="https://choosealicense.com/licenses/mit/">cette page</App::ExternalLink>
    pour tout détail.</p>
</div>

<h5 class="mt-4">Liens</h5>
<div>
  <p><strong><em>Liens sortants : </em></strong>
    Le propriétaire de l'application décline toute responsabilité et n’est pas engagé par le référencement via des liens
    hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur
    pertinence.</p>

  <p><strong><em>Liens entrants : </em></strong>
    Le propriétaire de l'application se réserve le droit de demander la suppression d’un lien s’il estime que le site
    source ne respecte pas les règles ainsi définies.</p>
</div>

<h5 class="mt-4">Confidentialité</h5>
<div>
  <p>L'application ne recueille pas d’informations personnelles, ni ne les stocke sur des infrastructures de réseau, et
    n’est pas assujettie à déclaration auprès de la CNIL.</p>
</div>

<h5 class="mt-4">Copyright</h5>
<div>
  <p class="m-0">Copyright © 2021-present</p>
</div>