<button
  class="nav-link ms-0 ms-xl-2 {{if (eq @tab.activeId @tabId) 'active'}}"
  type="button"
  role="tab"
  aria-selected="{{eq @tab.activeId @tabId}}"
  onclick={{fn @tab.select @tabId}}
>
  {{yield}}
</button>