<h4>Déclarations liées aux Plus/Moins Values</h4>
<h5>Différence entre occasionnel et habituel (professionnel)</h5>
<div>
  <p>
    La nuance est sujet à interprétation par l'administration fiscale. Cela dépend du nombre de trades, de leur
    fréquence, du volume tradé, si la personne est salariée en parellèle, du montant et des gains, de la répartition
    entre ses revenus salariaux et de cryptomonnaies.
  </p>
  <p>
    <strong>Extrait du BOFIP détaillant cette caractérisation :</strong>
    “Les critères d'exercice habituel ou occasionnel de l'activité résultent de l'examen, au cas par cas, des
    circonstances de fait dans lesquelles les opérations d'achat et de revente sont réalisées (les délais séparant les
    dates d'achat et de revente, le nombre d'actifs numériques vendus, les conditions de leur acquisition, etc.)”.
  </p>
  <p>Un seul critère ne fait pas basculer en habituel, c’est un ensemble de faisceaux d’indices qui peut pousser
    l’administration fiscale à vous requalifier mais ces requalifications sont rares car ce sont des procédures longues
    qui finissent souvent devant la justice.
  </p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
    <strong>CryptoFiscaFacile ne traite que de l'occasionnel...</strong>
  </BsAlert>
</div>
<hr />

<h5 class="red">Plus/Moins value lors d’une cession</h5>
<p>Chaque contribuable possède un patrimoine, en l'occurrence un portefeuille 'global'. Ce portefeuille évolue avec le
  temps, avec des rentrées de liquidités (que l'on nomme CashIn), et des sorties de capital (CashOut). Ces sorties de
  portefeuille s'appellent des cessions, et sont à ce titre assujetties au régime des Plus/Moins Values.</p>

<div>
  <p>
    Pour ces cessions, contre monnaies FIAT, biens ou services, il conviendra de s'assurer :
    <ul>
      <li>Qu'un formulaire CERFA 2086 soit rempli de manière cohérente</li>
      <li>De manière vulgarisée, pour calculer la plus value :
        <ul>
          <li><em>Plus ou moins-value brute = Prix de cession – [Prix Total d'Acquisition x Prix de cession / Valeur
              globale du portefeuille]</em></li>
        </ul>
      </li>
    </ul>
  </p>
  <p>
    <strong>Dans tous ces cas, le régime de la Flat-tax s'appliquera : 30% | 12,8% IR + 17,2% PS.</strong>
  </p>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
    <strong>Ces informations sont données à titre indicatif. CryptoFiscaFacile fera les calculs pour vous..</strong>
  </BsAlert>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Note 1 : les 'stablecoins' ne sont pas assimilés à du FIAT mais bien à des actifs numériques donc les cessions
    crypto-crypto bénéficient pour l'instant d’un sursis d’imposition. C'est-à-dire que ces transactions génèrent une
    plus value latente qui sera imposée seulement lors d’une cession à titre onéreux contre du FIAT ou lors de l’achat
    d’un bien et service.
  </BsAlert>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Note 2 : les moins values ne sont pas reportables d’une année sur l’autre.
  </BsAlert>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Note 3 : les dépenses avec une carte bancaire crypto de type Binance ou Ledger sont fiscalisables (chaque dépense =
    une cession) si vous avez rechargé votre carte avec des cryptos. Si vous avez rechargé cette carte en FIAT (euros,
    dollars, etc) et dépensé directement en FIAT alors les dépenses ne sont pas assimilables à des cessions d'actifs
    numériques.
  </BsAlert>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Note 4 : l’utilisation d’une carte bancaire Crypto.com fonctionne suivant les principes suivants :
    <ul>
      <li>la carte peut être rechargée en FIAT directement depuis le portefeuille FIAT Crypto.com (euros, GBP), dans ce
        cas les dépenses sont directement en FIAT.
        <strong>Ces dépenses ne sont donc pas assimilables à des cessions.</strong></li>
      <li>la carte peut aussi être rechargée depuis le portefeuille crypto. Dans ce cas, une cession Crypto vers FIAT
        est effectuée lors du chargement de la carte.<strong>
          Il y aura dans cette situation des cessions imposables à chaque chargement de la carte.</strong></li>
    </ul>
  </BsAlert>
</div>