<h4>Déclarations liées aux Revenus</h4>
<h5>Séparation Revenus et Plus/moins Values</h5>
<div>
  <p>
    Dans tous les cas de figure, il faut séparer les revenus de la plus/moins value.
    <ul>
      <li><strong>Un revenu</strong>
        : un revenu perçu en crypto peut être un salaire, des intérêts de earning, des récompenses de stacking, des
        récompenses de minage. Même si vous 'holdez' et que vous ne souhaitez pas faire de cashout.</li>
      <li><strong>Une plus/moins value</strong> : c’est une cession contre monnaies FIAT, biens ou services.</li>
    </ul>
  </p>

  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    Fausse idée reçue sur une double imposition éventuelle :
    <ul>
      <li>Lorsque l’on mine 1 BTC (disons 10 000€ pour simplifier le calcul) : on est imposé sur ce revenu de 10 000€</li>
      <li>On souhaite hold ce 1 BTC pendant 6 mois</li>
      <li>Au bout de 6 mois, on souhaite faire une cession de ce BTC vers des euros (cession FIAT). Le cours actuel est
        de 50 000€ disons pour simplifier le calcul</li>
      <li>La plus-value entre le moment de perception du revenu et la cession est de 50 000 - 10 000 = 40 000€. La
        plus-value est donc de 40 000€. On est imposé sur ces 40 000€ (et non 50 000€) de plus-value au régime de la
        flat-tax soit 30%</li>
      <li>La première “assiette” est donc de 10 000€ et la seconde de 40 000€.</li>
    </ul>
    Une double imposition insinuerait que l’on soit taxé une première fois sur 10 000€ puis une deuxième fois sur la
    globalité des 50 000€ ce qui est faux, ce n’est pas ça, la deuxième fois on n'est taxé que sur la différence soit 40
    000€
    <strong>Il n’y a donc pas de double imposition.</strong>
  </BsAlert>
</div>
<hr />
<h5>Exemple complet sur la différence revenus vs plus-value</h5>
<div>
  <p>On partira du principe que votre portefeuille contient 0 crypto initialement pour simplifier le calcul. Les %
    utilisés sont élevés mais sont pris pour simplifier les calculs.</p>
  <p>
    <ul>
      <li class="mb-2">Le 1er janvier, j’achète 2 BTC ayant chacun une valeur de 10 000€ à la date d'achat soit un
        portefeuille de 20 000€</li>
      <li class="mb-2">Je stack 1 BTC sur une plateforme X qui me rapporte 10% APY (taux annuel) versé mensuellement.
        Cela fait une récompense de staking de 0.1 BTC sur l'année (0,008 versé mensuellement)</li>
      <li class="mb-2">Je place en lending/earn l'autre 1 BTC sur une plateforme Y qui rapporte 20% APY (taux annuel),
        versé hebdomadairement. Cela fait des intérêts de 0.2 BTC sur l'année (0,0038 versé hebdomadairement)</li>
      <li class="mb-2">A la fin de l'année j’ai donc un portefeuille total de 2.3 BTC (2+0.1+0.2). Dans toutes les
        situations A/B/C, j’ai donc 0.1 BTC de stacking à déclarer + 0.2 BTC d'intérêts à déclarer. Que je revende ou
        pas. Les valeurs en euros sont à prendre au jour de la réception mensuelle. Ensuite pour la méthodologie, voir
        rubrique “Déclaration par catégorie”
        <ul>
          <li class="mb-1"><strong>Situation A</strong>
            : Je suis un holder et ne revends rien. J’ai donc 0€ de plus ou moins value à déclarer en plus de la
            déclaration stacking/lending</li>
          <li class="mb-1"><strong>Situation B</strong>
            : Je souhaite TOUT revendre le 31déc pour m'acheter le cadeau de mes rêves. Le BTC vaut 20 000€ désormais.
            J’ai toujours 0.1 BTC de stacking à déclarer + 0.2 BTC d'intérêts à déclarer. Mais en plus de ça j’ai la
            plus-value globale sur les 2.3 BTC à déclarer vu que le BTC est passé de 10 000 à 20 000€</li>
          <li class="mb-1">
            <strong>Situation C</strong>
            : Je souhaite TOUT revendre le 31déc car je veux me débarrasser de mes cryptos. Le BTC vaut 5 000€
            désormais, dommage... J’ai toujours 0.1 BTC de stacking à déclarer + 0.2 BTC d'intérêts à déclarer. Mais en
            plus de ça j’ai la moins-value sur les 2.3 BTC à déclarer vu que le BTC est passé de 10 000 à 5 000€
          </li>
        </ul>
      </li>
    </ul>
  </p>
</div>