<BsButton {{on "click" this.onTransmit}} class="btn btn-primary btn-sm">
  SCRIPT
</BsButton>

{{! Modal for TX VALIDATION PROCESS HTML }}
<BsModal @open={{this.transmitModal}} @backdropClose={{false}} @onHidden={{this.hidden}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Script</h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <BsAlert class="m-0 py-1 text-center" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
          <strong>Voici le script à coller dans la console de votre navigateur :</strong>
        </BsAlert>
        <div class="mx-2 my-3 corps">
          <label for="unknowns" class="form-label"></label>
          <div class="d-flex">
            <textarea class="form-control textsm" id="unknowns" rows="20" readonly>{{this.code}}</textarea>
            <CopyButton
              class="btn btn-primary color"
              @target="#unknowns"
              @onSuccess={{this.onSuccess}}
              @onError={{this.onError}}
            >
              <App::Icon @icon="ion:clipboard-outline" />
              <BsTooltip @placement="right">Copier texte
              </BsTooltip>
            </CopyButton>
          </div>
        </div>
      </div>
    </modal.body>
    <modal.footer>
      <BsButton {{on "click" this.close}}>Fermer</BsButton>
    </modal.footer>
  </div>
</BsModal>