<h4>Sources</h4>
<h5>Sources - Textes de lois et réglementation</h5>
<div>
  <ul>
    <li>
      <App::ExternalLink
        href="https://bofip.impots.gouv.fr/bofip/11967-PGP.html/identifiant=BOI-RPPM-PVBMC-30-10-20190902"
      >https://bofip.impots.gouv.fr/bofip/11967-PGP.html/identifiant=BOI-RPPM-PVBMC-30-10-20190902</App::ExternalLink>
    </li>
    <li>
      <App::ExternalLink
        href="https://bofip.impots.gouv.fr/bofip/11968-PGP.html/identifiant=BOI-RPPM-PVBMC-30-20-20190902"
      >https://bofip.impots.gouv.fr/bofip/11968-PGP.html/identifiant=BOI-RPPM-PVBMC-30-20-20190902</App::ExternalLink>
    </li>
    <li>
      <App::ExternalLink
        href="https://bofip.impots.gouv.fr/bofip/11969-PGP.html/identifiant=BOI-RPPM-PVBMC-30-30-20190902"
      >https://bofip.impots.gouv.fr/bofip/11969-PGP.html/identifiant=BOI-RPPM-PVBMC-30-30-20190902</App::ExternalLink>
    </li>
    <li>
      <App::ExternalLink
        href="https://bofip.impots.gouv.fr/bofip/2824-PGP.html/identifiant=BOI-BNC-CHAMP-10-10-20-40-20190902#1080_0304"
      >https://bofip.impots.gouv.fr/bofip/2824-PGP.html/identifiant=BOI-BNC-CHAMP-10-10-20-40-20190902#1080_0304</App::ExternalLink>
    </li>
    <li>
      <App::ExternalLink
        href="https://www.legifrance.gouv.fr/codes/id/LEGIARTI000038612228/2019-05-24/"
      >https://www.legifrance.gouv.fr/codes/id/LEGIARTI000038612228/2019-05-24/</App::ExternalLink>
    </li>
    <li>
      <App::ExternalLink
        href="https://bofip.impots.gouv.fr/bofip/11978-PGP.html/identifiant=ACTU-2019-00174"
      >https://bofip.impots.gouv.fr/bofip/11978-PGP.html/identifiant=ACTU-2019-00174</App::ExternalLink>
    </li>
  </ul>
</div>

<h5 class="mt-3">Remerciements</h5>
<div>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
    <App::ExternalLink href="https://t.me/fiscalitecryptofr">
      <img
        src="https://img.shields.io/badge/Telegram-Fiscalit%C3%A9%20crypto%20FR-32AFED?style=for-the-badge&logo=telegram"
        alt="telegram-fisca"
      /></App::ExternalLink>
    Merci au groupe
    <strong>Fiscalité Crypto FR</strong>
    pour leur aide précieuse.
  </BsAlert>
</div>

<h5 class="mt-3">Support</h5>
<div>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
    <App::ExternalLink href="https://t.me/cryptofiscafacile">
      <img
        src="https://camo.githubusercontent.com/9cc612b51632747b453e8a14b5764032481dd0111b68fd859019da324a3ec504/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f54656c656772616d2d43727970746f4669736361466163696c652d3332414645443f7374796c653d666f722d7468652d6261646765266c6f676f3d74656c656772616d266c6f676f436f6c6f723d7768697465"
        alt="telegram-fisca"
      /></App::ExternalLink>
    Pour tout Support à l'utilisation de l'application, merci de venir nous voir sur notre canal Telegram.
  </BsAlert>
</div>

<h5 class="mt-3">Contribution</h5>
<div>
  <BsAlert class="ms-2 me-4" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
    <App::ExternalLink href="https://discord.gg/PndJKReU9E">
      <img
        src="https://img.shields.io/badge/Discord-CryptoFiscaFacile-5865f2?style=for-the-badge&logo=discord&logoColor=white"
        alt="discord-fisca"
      />
    </App::ExternalLink>
    N'hésitez pas à nous solliciter sur le
    <strong>discord CryptoFiscaFacile</strong>.
  </BsAlert>
</div>

<h5 class="mt-4">Disclaimer</h5>
<div>
  <BsAlert class="ms-2 me-4 text-center" @visible={{true}} @fade={{true}} @type="danger" @dismissible={{false}}>
    <strong>CryptoFiscaFacile ne fournit ni conseil en fiscalité, ni conseil en investissement !</strong>
  </BsAlert>
</div>