{{page-title "CryptoFiscaFacile"}}
<div id="ember-bootstrap-wormhole"></div>
<div class="container-fluid overflow-hidden" id="intro-synth">
  <div class="row vh100 overflow-auto flex-sm-nowrap">
    <div class="col-12 col-sm-3 col-xl-2 col-md-2 col-lg-2 px-sm-2 px-0 bg-white d-flex sticky-top max-width">
      <App::MainSidebar />
    </div>
    <div class="visually-hidden">
    </div>
    <div class="col d-flex flex-column h-sm-100">
      <main class="row overflow-auto mainframe h-100">
        <div class="col px-1 h-100">
          {{outlet}}
        </div>
      </main>
    </div>
    <Help @target={{this.application.helpTarget}} />
  </div>
</div>
<App::NewVersionModal @open={{this.newVersionModalVisible}} @onHidden={{this.onNewVersionModalHidden}} />