<div data-test-api-blockchains class="m-4 w-100 pe-5">
  <h5>Veuillez fournir vos données :</h5>
  <BsForm @formLayout="vertical" @onSubmit={{this.submitBc}} as |form|>
    <label for={{this.idAddr}} class="text-tools mb-1">Adresse de blockchain</label>
    <input
      data-test-api-blockchains-input-address
      class="form-control"
      type="text"
      id={{this.idAddr}}
      autocomplete="on"
      placeholder={{this.address}}
      value={{this.address}}
      {{on "change" this.setAddress}}
      required
      data-title="Adresse"
      data-intro="Veuillez tout d'abord ici rentrer votre (ou une de vos) adresse de blockchain. Ces adresses sont généralement visibles lorsque vous souhaitez faire un 'Dépôt' sur la crypto concernée..."
    />
    {{#if @blockchain.key}}
      <label for={{this.idPub}} class="mt-2 mb-1 text-tools">Clé API</label>
      <input
        class="form-control"
        type="text"
        id={{this.idPub}}
        value={{this.pub}}
        placeholder={{if this.pub this.pub "Facultatif, mais recommandé"}}
        {{on "change" this.setPub}}
      />
    {{/if}}
    <div
      class="d-flex mt-3"
      data-title="Retenez vos clés"
      data-intro="Pour ne pas rentrer à chaque fois vos informations, vous pouvez les sauvegarder en cochant ici la case!"
    >
      {{#if this.toStore}}
        <input
          class="form-check-input ms-1 me-2"
          type="checkbox"
          id={{this.idstoreYes}}
          {{on "change" this.setCheckStore}}
          checked
        />
        <label for={{this.idstoreYes}}>Cocher pour sauvegarder vos informations</label>
      {{else}}
        <input
          class="form-check-input ms-1 me-2"
          type="checkbox"
          id={{this.idstoreBlockNo}}
          {{on "change" this.setCheckStore}}
        />
        <label for={{this.idstoreBlockNo}}>Cocher pour sauvegarder vos informations</label>
      {{/if}}
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:information-circle-outline" width="20" />
        <BsTooltip @placement="right">Ceci implique le stockage des informations blockchain dans la base de votre
          navigateur, localement sur votre machine. En cochant cette case, vous autorisez explicitement ce stockage.
        </BsTooltip>
      </span>
    </div>
    <BsAlert
      data-test-api-blockchains-url
      class="mt-4"
      @visible={{true}}
      @fade={{true}}
      @type="success"
      @dismissible={{false}}
    >
      <strong>Note : </strong>
      Le rapatriement de vos transactions sur l'adresse entrée est effectué sur
      <App::ExternalLink href="{{@blockchain.url}}">{{@blockchain.url}}</App::ExternalLink>
    </BsAlert>
    <div class="d-flex align-items-center w-75">
      <form.submitButton
        data-test-api-blockchains-sync-button
        data-title="Synchroniser"
        data-intro="Débuter la synchronisation en cliquant sur ce bouton. Cela peut prendre plusieurs minutes si vous avez beaucoup de transactions. Une barre de progression apparaitra afin de visualiser cet avancement."
        disabled={{this.isRunning}}
      >Synchroniser</form.submitButton>
      {{#if this.progressError}}
        <BsAlert
          class="m-0 mx-3 py-1 text-center"
          @visible={{true}}
          @fade={{true}}
          @fadeDuration={{800}}
          @type="danger"
          @dismissible={{false}}
        >
          {{this.progressError}}
        </BsAlert>
      {{else}}
        {{#if this.isRunning}}
          <BsProgress class="ms-2 spinner" as |pg|>
            <pg.bar
              @value={{this.progressBlock}}
              @minValue={{0}}
              @maxValue={{100}}
              @showLabel={{true}}
              @type="success"
            />
          </BsProgress>
        {{else if (eq this.progressBlock 100)}}
          <BsAlert
            class="m-0 mx-3 py-1 text-center"
            @visible={{true}}
            @fade={{true}}
            @fadeDuration={{800}}
            @type="success"
            @dismissible={{false}}
          >
            Chargé avec succès !
          </BsAlert>
        {{/if}}
      {{/if}}
    </div>
  </BsForm>
</div>