<div data-test-api-exchanges class="m-4">
  <h5>Veuillez fournir vos données API:</h5>
  <BsForm @formLayout="vertical" @onSubmit={{this.submitExch}} as |form|>
    <label for={{this.idPub}} class="text-tools mb-1">Clé API (Public Key)</label>
    <input
      data-test-api-exchanges-input-pub
      class="form-control"
      type="text"
      id={{this.idPub}}
      name="publickey"
      placeholder={{this.pub}}
      value={{this.pub}}
      {{on "change" this.setPub}}
      required
      data-title="API Key"
      data-intro="Après avoir créé vos clés sur la plateforme, veuillez rentrer ici la clé 'public' ou API key..."
    />
    <label for={{this.idPriv}} class="mt-2 mb-1 text-tools">Clé Privée (Private ou Secret Key)</label>
    <input
      data-test-api-exchanges-input-priv
      class="form-control"
      type="password"
      id={{this.idPriv}}
      name="privatekey"
      autocomplete="off"
      value={{this.priv}}
      placeholder={{if
        this.priv
        "&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
        ""
      }}
      {{on "change" this.setPriv}}
      required
      data-title="Clé secrète"
      data-intro="Puis rentrer ici la clé dite 'privée' ou Private Key..."
    />
    <span class="text-tools-nota"><strong>Important</strong>: pour votre sécurité, n'oubliez pas de donner les
      persmissions uniquement en lecture à l'API créée sur
      {{@wallet.name}}.</span>

    <div
      class="d-flex mt-2 mb-4"
      data-title="Retenez vos clés"
      data-intro="Pour ne pas rentrer à chaque fois vos clés, vous pouvez les sauvegarder en cochant ici la case!"
    >
      {{#if this.toStore}}
        <input
          class="form-check-input ms-1 me-2"
          type="checkbox"
          id={{this.idstoreYes}}
          {{on "change" this.setCheckStore}}
          checked
        />
        <label for={{this.idstoreYes}}>Cocher pour sauvegarder vos informations</label>
      {{else}}
        <input
          class="form-check-input ms-1 me-2"
          type="checkbox"
          id={{this.idstoreNo}}
          {{on "change" this.setCheckStore}}
        />
        <label for={{this.idstoreNo}}>Cocher pour sauvegarder vos informations</label>
      {{/if}}
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:information-circle-outline" width="20" />
        <BsTooltip @placement="right">Ceci implique le stockage de vos clés dans la base de votre navigateur, localement
          sur votre machine. Pour information, ces clés seront stockées de manière à réduire leur exposition. Néanmoins
          cela n'empêche pas la divulgation si par ailleurs votre machine vient à être infectée ou compromise. En
          cochant cette case, vous autorisez explicitement ce stockage.
        </BsTooltip>
      </span>
    </div>
    <BsAlert data-test-api-exchanges-url @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
      <strong>Tips : </strong>
      Pour vous aider à créer vos clés API, rendez vous à cette adresse :
      <App::ExternalLink href="{{@wallet.url}}">{{@wallet.url}}</App::ExternalLink>
    </BsAlert>
    <div class="d-flex">
      <form.submitButton
        data-test-api-exchanges-sync-button
        data-title="Synchroniser"
        data-intro="Débuter la synchronisation en cliquant sur ce bouton. Cela peut prendre plusieurs minutes si vous avez beaucoup de transactions. Une barre de progression apparaitra afin de visualiser cet avancement."
        disabled={{this.isRunning}}
      >Synchroniser</form.submitButton>
      <div class="d-flex align-items-center w-75">
        {{#if this.progressError}}
          <BsAlert
            data-test-api-exchanges-progress-error
            class="m-0 mx-3 py-1 text-center"
            @visible={{true}}
            @fade={{true}}
            @fadeDuration={{800}}
            @type="danger"
            @dismissible={{false}}
          >
            {{this.progressError}}
          </BsAlert>
        {{else}}
          {{#if this.isRunning}}
            <BsProgress class="ms-2 spinner" as |pg|>
              <pg.bar
                @value={{this.progressWallet}}
                @minValue={{0}}
                @maxValue={{100}}
                @showLabel={{true}}
                @type="success"
              />
            </BsProgress>
          {{else if (eq this.progressWallet 100)}}
            <BsAlert
              class="m-0 mx-3 py-1 text-center"
              @visible={{true}}
              @fade={{true}}
              @fadeDuration={{800}}
              @type="success"
              @dismissible={{false}}
            >
              Chargé avec succès !
            </BsAlert>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </BsForm>
</div>