{{! template-lint-disable no-duplicate-id }}
<div class="p-0" id="intro-tool">
  <div
    class="row gx-1"
    data-title="Outils"
    data-intro="Bienvenue 👋 Sur cette page il vous sera possible d'ajouter des transactions automatiquement sans fichier à importer!"
  >
    <div class="col-12 col-lg-6 pe-2 pb-3">
      <div
        class="card custom-cardtool"
        data-title="API Exchange"
        data-intro="Cette carte vous permet d'utiliser vos clés API des plateformes d'échange afin de rapatrier automatiquement les transactions de cette plateforme..."
      >
        <div class="card-body">
          <h5 class="card-title font-weight-bold mb-3 mt-2 ms-3">API (Pour les plateformes suivantes)</h5>
          <div class="card-text">
            {{#if this.isFecthingTools}}
              <div class="h-100">
                <ul class="nav nav-tabs placeholder-glow">
                  <li class="nav-item placeholder">
                    <p class="placeholder-glow">
                    </p>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane show active fade">
                    <div class="m-4">
                      <ContentLoader>
                        <rect x="0" y="0" rx="3" ry="3" width="250" height="10"></rect>
                        <rect x="10" y="20" rx="3" ry="3" width="400" height="20"></rect>
                        <rect x="20" y="50" rx="3" ry="3" width="170" height="10"></rect>
                        <rect x="0" y="80" rx="3" ry="3" width="250" height="10"></rect>
                        <rect x="20" y="100" rx="3" ry="3" width="400" height="20"></rect>
                        <rect x="10" y="140" rx="3" ry="3" width="80" height="10"></rect>
                      </ContentLoader>
                      <p></p>
                      <ContentLoader />
                      <a
                        href="#"
                        tabindex="-1"
                        class="btn btn-primary disabled placeholder col-2 mt-4"
                        aria-hidden="true"
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            {{else}}
              {{#if (gt this.wallets.length 0)}}
                <BsTab as |tab|>
                  {{#each this.wallets as |wallet|}}
                    <tab.pane @title="{{wallet.name}}">
                      <Api::Exchanges @wallet={{wallet}} />
                    </tab.pane>
                  {{/each}}
                </BsTab>
              {{else}}
                <div class="mt-5 line-height-tools none">
                  <h4>Aucun portefeuille à afficher. Veuillez contacter le support</h4>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div
        class="card custom-cardtool"
        data-title="API Blockchains"
        data-intro="Cette carte vous permet d'utiliser vos données blockchain (et API quand nécessaire) afin de rapatrier automatiquement les transactions des blockchains prises en compte par CryptoFiscaFacile. Il s'agit du même principe que pour les API d'échanges, hormis l'adresse à renseigner. Le cas échéant, vous pourrez rentrer une clé publique pour la blockchain concernée (par ex.: pour ETH, avoir une clé publique permettra de rapatrier plus rapidement vos transactions)..."
      >
        <div class="card-body">
          <h5 class="card-title font-weight-bold mb-3 mt-2 ms-3">API (Blockchains suivantes)</h5>
          <div class="card-text">
            {{#if this.isFecthingTools}}
              <div class="h-100">
                <ul class="nav nav-tabs placeholder-glow">
                  <li class="nav-item placeholder">
                    <p class="placeholder-glow">
                    </p>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane show active fade">
                    <div class="m-4">
                      <ContentLoader>
                        <rect x="0" y="0" rx="3" ry="3" width="250" height="10"></rect>
                        <rect x="10" y="20" rx="3" ry="3" width="400" height="20"></rect>
                        <rect x="20" y="50" rx="3" ry="3" width="170" height="10"></rect>
                        <rect x="0" y="80" rx="3" ry="3" width="250" height="10"></rect>
                        <rect x="20" y="100" rx="3" ry="3" width="400" height="20"></rect>
                        <rect x="10" y="140" rx="3" ry="3" width="80" height="10"></rect>
                      </ContentLoader>
                      <p></p>
                      <ContentLoader />
                      <a
                        href="#"
                        tabindex="-1"
                        class="btn btn-primary disabled placeholder col-2 mt-4"
                        aria-hidden="true"
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            {{else}}
              {{#if (gt this.blockchains.length 0)}}
                <BsTab as |tab|>
                  {{#each this.blockchains as |block|}}
                    <tab.pane @title="{{block.name}}">
                      <Api::Blockchains @blockchain={{block}} />
                    </tab.pane>
                  {{/each}}
                </BsTab>
              {{else}}
                <div class="mt-5 line-height-tools none">
                  <h4>Aucune Blockchain à afficher. Veuillez contacter le support.</h4>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>