{{#if this.txEmpty}}
  <td>
    <p class="text-center mb-0">-</p>
  </td>
  <td></td>
{{else}}
  <td>
    {{#each @values as |value|}}
      <div class="d-flex">
        <div class="w-75">
          <span class="tx-table-quantity">
            {{#if @secretMode}}
              *******
            {{else}}
              {{format-number value.quantity maximumFractionDigits="5"}}
              <BsTooltip @placement="left" @title={{format-number value.quantity maximumFractionDigits="20"}} />
            {{/if}}
          </span>
        </div>
        <div class="w-25 ms-2">
          <p class="tx-table-currency">
            <BsButton
              @type="link"
              class="stylebtn p-0 text-decoration-none"
              @onClick={{(fn @onShowCoinDetail value.currency)}}
            >{{value.currency}}</BsButton>
            <BsTooltip @placement="top" @title={{value.currency}} />
          </p>
        </div>
      </div>
    {{/each}}
  </td>
  <td> </td>
{{/if}}