<BsButton
  data-test-categ-update-button
  @type="none"
  class="p-0 pb-1 mx-1 shadow-none"
  {{on "click" @onClick}}
  {{offcanvas-hider "offcanvas-filter"}}
>
  <App::Icon @icon="ion:build" @color="rgba(230, 193, 110, 0.75)" width="20" />
  <BsTooltip @placement="right" @triggerEvents="hover">Modifier la catégorie</BsTooltip>
</BsButton>