<td>
  {{#if this.checkable}}
    {{#if this.checkableDisabled}}
      <Input
        @type="checkbox"
        @checked={{@selected}}
        class="form-check-input mt-0"
        disabled={{this.checkableDisabled}}
        id={{this.checkableId}}
        {{on "change" this.onSelect}}
      />
    {{else}}
      <Input
        @type="checkbox"
        @checked={{@selected}}
        class="form-check-input mt-0"
        id={{this.checkableId}}
        {{on "change" this.onSelect}}
      />
    {{/if}}
  {{/if}}
</td>
<td>{{format-date @tx.date}} {{format-time @tx.date format="hhmmss"}}</td>
<td>
  <div class="flex">
    {{@tx.wallet}}
    {{#if @tx.note}}
      <span class="d-inline-block ms-1">
        <App::Icon {{on "click" this.onCopy}} @icon="ion:information-circle-outline" width="15" />
        <BsTooltip @placement="top" @viewportSelector="table">{{@tx.note}}</BsTooltip>
      </span>
    {{/if}}
  </div>
</td>
<td>
  <div class="d-flex">
    {{#if (eq @tx.category "Ignoré")}}
      <div class="categ-layout-ignored">
        {{@tx.category}}
      </div>
    {{else if (eq @tx.category "Dépôt")}}
      <div class="categ-layout-depwith">
        {{@tx.category}}
      </div>
    {{else if (eq @tx.category "Retrait")}}
      <div class="categ-layout-depwith">
        {{@tx.category}}
      </div>
    {{else if (eq @tx.category "Inconnu")}}
      <div class="categ-layout-unknown">
        {{@tx.category}}
      </div>
    {{else if (eq @tx.category "ICO")}}
      <div class="categ-layout-ico">
        {{@tx.category}}
      </div>
    {{else}}
      <div class="categ-layout">
        {{@tx.category}}
      </div>
    {{/if}}
  </div>
</td>
<TxTable::TxItem::TxValues @values={{@tx.from}} @onShowCoinDetail={{@onShowCoinDetail}} @secretMode={{@secretMode}} />
<TxTable::TxItem::TxValues @values={{@tx.to}} @onShowCoinDetail={{@onShowCoinDetail}} @secretMode={{@secretMode}} />
<TxTable::TxItem::TxValues @values={{@tx.fee}} @onShowCoinDetail={{@onShowCoinDetail}} @secretMode={{@secretMode}} />
<td>
  <div class="d-flex">
    {{! template-lint-disable no-duplicate-id }}
    {{#if (eq @tx.category "Retrait")}}
      <TxTable::TxItem::CategUpdateButton @onClick={{this.onUpdateCategory}} />
    {{else if (eq @tx.category "Dépôt")}}
      <TxTable::TxItem::CategUpdateButton @onClick={{this.onUpdateCategory}} />
    {{else if (eq @tx.category "Ignoré")}}
      <div>
        <TxTable::TxItem::LineStatus
          @id={{@tx.id}}
          @status={{"secondary"}}
          @title={{"Transaction qui ne sera pas prise en compte dans les calculs d'imposition"}}
          @text={{"Dés."}}
        />
      </div>
      <div>
        {{#if (eq @tx.original_category "Dépôt")}}
          <TxTable::TxItem::CategUpdateButton @onClick={{this.onUpdateCategory}} />
        {{else if (eq @tx.original_category "Retrait")}}
          <TxTable::TxItem::CategUpdateButton @onClick={{this.onUpdateCategory}} />
        {{/if}}
      </div>
    {{else if (eq @tx.category "Inconnu")}}
      <TxTable::TxItem::LineStatus
        @id={{@tx.id}}
        @status={{"danger"}}
        @title={{"Transaction à valider avant tout calcul pour votre imposition"}}
        @text={{"X"}}
      />
    {{else}}
      {{#if (eq @tx.original_category "Dépôt")}}
        <div>
          <TxTable::TxItem::LineStatus
            @id={{@tx.id}}
            @status={{"success"}}
            @title={{"Transaction acceptée"}}
            @text={{"OK"}}
          />
        </div>
        {{#if (eq @tx.category "CashIn")}}
          <div>
            <TxTable::TxItem::ChangeFiat @id={{@tx.id}} @values={{@tx.from}} />
          </div>
        {{else if (eq @tx.category "CashOut")}}
          <div>
            <TxTable::TxItem::ChangeFiat @id={{@tx.id}} @values={{@tx.to}} />
          </div>
        {{/if}}
        <div>
          <TxTable::TxItem::CategUpdateButton @onClick={{this.onUpdateCategory}} />
        </div>
      {{else if (eq @tx.original_category "Retrait")}}
        <div>
          <TxTable::TxItem::LineStatus
            @id={{@tx.id}}
            @status={{"success"}}
            @title={{"Transaction acceptée"}}
            @text={{"OK"}}
          />
        </div>
        {{#if (eq @tx.category "CashIn")}}
          <div>
            <TxTable::TxItem::ChangeFiat @id={{@tx.id}} @values={{@tx.from}} />
          </div>
        {{else if (eq @tx.category "CashOut")}}
          <div>
            <TxTable::TxItem::ChangeFiat @id={{@tx.id}} @values={{@tx.to}} />
          </div>
        {{/if}}
        <div>
          <TxTable::TxItem::CategUpdateButton @onClick={{this.onUpdateCategory}} />
        </div>
      {{else}}
        <div>
          <TxTable::TxItem::LineStatus
            @id={{@tx.id}}
            @status={{"success"}}
            @title={{"Transaction acceptée"}}
            @text={{"OK"}}
          />
        </div>
        {{#if (eq @tx.category "CashIn")}}
          <div>
            <TxTable::TxItem::ChangeFiat @id={{@tx.id}} @values={{@tx.from}} />
          </div>
        {{else if (eq @tx.category "CashOut")}}
          <div>
            <TxTable::TxItem::ChangeFiat @id={{@tx.id}} @values={{@tx.to}} />
          </div>
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if @tx.merged}}
      <TxTable::TxItem::Unmerged @id={{@tx.id}} />
    {{/if}}

    {{#if (eq @tx.category "Retrait")}}
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:alert-circle" @color="red" width="30" />
        <BsTooltip @placement="top" @viewportSelector="table">TX RETRAIT :Transaction à identifier pour ne pas la
          traiter en Cashout dans les calculs d'imposition</BsTooltip>
      </span>
    {{else if (eq @tx.category "Dépôt")}}
      <span class="d-inline-block ms-1">
        <App::Icon @icon="ion:alert-circle" @color="red" width="30" />
        <BsTooltip @placement="top" @viewportSelector="table">TX DEPOT : Transaction à identifier pour ne pas la traiter
          en Don dans les calculs d'imposition</BsTooltip>
      </span>
    {{/if}}
  </div>
</td>