<BsButton
  data-bs-dismiss="offcanvas"
  data-bs-target="#offcanvasFilter"
  aria-label="Close"
  @type="light"
  @onClick={{this.unMerge}}
  class="d-flex justify-content-evenly align-items-center align-content-center custom-filter-flex p-0 pe-1 pb-1 bg-white"
>
  <span class="categ-icon">
    <App::Icon @icon="ion:arrow-undo" width="20" />
    <BsTooltip @placement="top">Transaction à dé-fusionner</BsTooltip>
  </span>
</BsButton>