<div data-test-reports-person class="px-md-5">
  <BsForm @onSubmit={{this.saveUserData}} as |form|>
    {{! Do not change for ember-bootstrap component !}}
    <label for="name" class="form-label">Nom</label>
    <input
      type="text"
      class="form-control report-input mb-3"
      {{on "input" this.setName}}
      id="name"
      value={{this.name}}
      required
    />
    {{! Do not change for ember-bootstrap component !}}
    <label for="surname" class="form-label">Prénom</label>
    <input
      type="text"
      class="form-control report-input mb-3"
      id="surname"
      value={{this.surname}}
      {{on "input" this.setSurname}}
      required
    />
    {{! Do not change for ember-bootstrap component !}}
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      class="form-control report-input mb-3"
      id="email"
      value={{this.email}}
      {{on "input" this.setEmail}}
      required
    />
    <div class="d-flex">
      <form.submitButton
        data-test-reports-person-button
        disabled={{not this.updated}}
        class="h-38"
      >Enregistrer</form.submitButton>
      {{#if this.success}}
        <BsAlert
          class="m-0 mx-3 py-1 text-center"
          data-test-reports-person-success
          @visible={{true}}
          @fade={{true}}
          @fadeDuration={{800}}
          @type="success"
          @dismissible={{false}}
        >
          Enregistré avec succès !
        </BsAlert>
      {{/if}}
      {{#if this.error}}
        <BsAlert
          class="m-0 mx-3 py-1 text-center"
          @visible={{true}}
          @fade={{true}}
          @fadeDuration={{800}}
          @type="danger"
          @dismissible={{false}}
        >
          Problème dans l'enregistrement !
        </BsAlert>
      {{/if}}
    </div>
  </BsForm>
</div>