<BsButton
  @type={{"none"}}
  class="wallet-action-icon {{if (eq this.deletingFile (not this.deletingThisFile)) 'wallet-action-icon-locked'}}"
  disabled={{this.deletingFile}}
  {{on "click" this.delete}}
>
  {{#if this.deletingThisFile}}
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  {{else}}
    <App::Icon @icon="ion:trash-sharp" width="18" />
    <BsTooltip @placement="right">Supprimer fichier</BsTooltip>
  {{/if}}
</BsButton>