<div class="d-flex flex-column m-1 m-lg-3 mb-0">
  <div class="d-flex mb-lg-3">
    <div class="mx-4">
      <img src="{{@wallet.logo}}" alt="{{@wallet.name}}" width="50px" height="50px" />
    </div>
    <div class="mx-2 mx-lg-4">
      <div class="links">
        <App::ExternalLink href="{{@wallet.url}}">{{@wallet.url}}</App::ExternalLink>
      </div>
    </div>
    <div class="me-2 d-none d-lg-flex flex-column mx-1">
      <p class="text-address m-0"><strong>{{@wallet.legal}}</strong></p>
      <p class="text-address m-0">{{@wallet.address}}</p>
    </div>
    <div
      class="mx-1 mx-lg-3"
      data-title="CERFA 3916"
      data-intro="...En plus d'un compte standard, d'ajouter un compte au portefeuille : il arrive parfois que vous ayez du créer plusieurs comptes pour un même portefeuille; il sera donc important de les déclarer..."
    >
      <BsButton @type="primary" @onClick={{this.addAccount}} class="add-icon">Ajouter Compte</BsButton>
    </div>
  </div>
  <div
    class="container px-2 px-lg-5"
    data-title="CERFA 3916"
    data-position="top"
    data-intro="...le compte ou les comptes, avec :..."
  >
    <BsTab as |tab|>
      {{#each this.buffer as |account|}}
        <tab.pane @title="Compte {{account.id}}">
          <Reporting::UserData::Account @account={{account}} @firsttx={{@wallet.firsttx}} @lasttx={{@wallet.lasttx}} />
        </tab.pane>
      {{/each}}
    </BsTab>
  </div>
</div>