<div class="mx-2 my-3 {{@id}}">
  <label for={{@id}} class="form-label">{{@label}}</label>
  <div class="d-flex">
    {{yield}}
    <CopyButton
      class="btn btn-primary color"
      @target="#{{@id}}"
      @onSuccess={{this.onSuccess}}
      @onError={{this.onError}}
    >
      <App::Icon @icon="ion:clipboard-outline" />
      <BsTooltip @placement="right">Copier texte</BsTooltip>
    </CopyButton>
  </div>
</div>