<BsButton {{on "click" this.onTransmit}} class="btn btn-primary btn-sm">
  SUPPORT
  <BsTooltip @placement="right">Une erreur a été détectée... Il s'agit peut être d'une catégorie de transaction inconnue
    du moteur ou un fichier qui aurait été modifié par la plateforme. Veuillez cliquer pour en savoir plus !
  </BsTooltip>
</BsButton>

{{! Modal for TX VALIDATION PROCESS HTML }}
<BsModal @open={{this.transmitModal}} @backdropClose={{false}} @onHidden={{this.hidden}} as |modal|>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Contact Support</h4>
    </modal.header>
    <modal.body>
      <div class="container">
        <BsAlert class="m-0 py-1 text-center" @visible={{true}} @fade={{true}} @type="warning" @dismissible={{false}}>
          <strong>Ce fichier contient des transactions "inconnues" du moteur CryptoFiscaFacile.</strong>
        </BsAlert>
        <BsAlert class="my-2 py-1 text-center" @visible={{true}} @fade={{true}} @type="success" @dismissible={{false}}>
          Veuillez donc nous transmettre les informations ci-dessous par e-mail
        </BsAlert>
        {{#if this.nameRequired}}
          <div class="mx-2 my-3">
            <label for="name" class="form-label">Afin de l'ajouter, veuillez sélectionner le portefeuille lié à votre
              fichier :
              <span class="d-inline-block ms-1">
                <App::Icon @icon="ion:information-circle-outline" width="15" />
                <BsTooltip @placement="right">Le nom du portefeuille (ou plus généralement de la plateforme) nous sera
                  utile afin de déterminer tous les champs nécessaires à une transaction sur cette-dite plateforme.
                </BsTooltip>
              </span>
            </label>
            {{! template-lint-disable require-input-label }}
            <select name="categ" id="name" class="form-select" aria-label="select wallet" {{on "change" this.request}}>
              <option value="all" selected>--Toutes--</option>
              {{#each this.pfOptions as |pfOption|}}
                <option value={{pfOption}}>{{pfOption}}</option>
              {{/each}}
            </select>
          </div>
        {{else}}
          <UserWallets::Transmit::Content @id="destinataire" @label="Email de destination :">
            {{! template-lint-disable no-duplicate-id }}
            <input
              id="destinataire"
              class="form-control textsm"
              type="text"
              value="contact-project+c1560-cryptofiscafacile-29728701-issue-@incoming.gitlab.com"
              readonly
            />
          </UserWallets::Transmit::Content>
          <UserWallets::Transmit::Content @id="objet" @label="Objet de l'email :">
            {{! template-lint-disable no-duplicate-id }}
            <input
              id="objet"
              class="form-control textsm"
              type="text"
              value="[UNKNOWNS_OBJECT] Nouvelle(s) transaction(s) dans un fichier CSV/JSON"
              readonly
            />
          </UserWallets::Transmit::Content>
          <UserWallets::Transmit::Content @id="corps" @label="Corps du mail :">
            {{! template-lint-disable no-duplicate-id }}
            <textarea
              class="form-control textsm"
              id="corps"
              rows="6"
              readonly
            >{{this.name}};{{@data.unknowns}}</textarea>
          </UserWallets::Transmit::Content>
        {{/if}}
      </div>
    </modal.body>
    <modal.footer>
      <BsButton {{on "click" this.close}}>Fermer</BsButton>
    </modal.footer>
  </div>
</BsModal>