<div class="card custom-cardstyle-balances pb-2 h-40">
  <div class="card-body">
    <h3 class="card-title font-weight-bold">Balances
      <span class="small-text">au {{format-date @date}}</span>
    </h3>
    <App::PageNavigator
      @userPage={{this.page}}
      @maxPage={{this.maxPage}}
      @onUserPageChanged={{this.onUserPageChanged}}
      class="justify-content-center mb-1"
    />
    <div class="container table-balances">
      <div class="row head">
        <div class="col-4 col-xxl-6">Actif</div>
        <div class="col-8 col-xxl-6">Balance</div>
      </div>
      <div class="body">
        {{#if this.wasm.getSynthBalancesTask.isRunning}}
          <div class="row none p-1 text-center align-items-center">
            <div class="col-12">
              <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
              </div></div>
          </div>
        {{else}}
          {{#if this.pageSortedBalances}}
            {{#each this.pageSortedBalances as |balance|}}
              <div class="row line-balance {{if (lt balance.amount 0) 'negative-amount'}}">
                <div class="col-4 col-xxl-6">{{balance.coin}}</div>
                <div class="col-8 col-xxl-6">{{format-number balance.amount maximumFractionDigits="16"}}</div>
                {{#if (lt balance.amount 0)}}
                  <BsTooltip
                    @title="Attention, vous avez une balance négative de {{balance.coin}} le 
                    {{(format-date @date)}}. Veuillez vérifier vos transactions pour corriger cette balance"
                  />
                {{/if}}
              </div>
            {{/each}}
          {{else}}
            <div class="row none text-center align-items-center">
              <div class="col-12">Aucun actif</div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>