<BsButton
  data-test-change-fiat-button
  @type="none"
  class="p-0 pb-1 mx-1 shadow-none"
  {{on "click" this.modalVal}}
  {{offcanvas-hider "offcanvas-filter"}}
>
  <App::Icon @icon="ion:calculator" @color="rgba(230, 193, 110, 0.75)" width="20" />
  <BsTooltip @placement="top" @triggerEvents="hover">Modifier contre-valeur FIAT</BsTooltip>
</BsButton>

{{! NEW MODALS}}
<BsModal
  @open={{this.changeModal}}
  @backdropClose={{false}}
  @onSubmit={{this.modifyFiat}}
  @onHidden={{this.close}}
  as |modal|
>
  <div class="modal-fullscreen-sm-down">
    <modal.header>
      <h4 class="modal-title">Modifier Contre-valeur FIAT</h4>
    </modal.header>
    <modal.body>
      <label for="modifyFiat" class="form-label">Nouvelle(s) valeur(s) :</label>
      {{#each @values as |value|}}
        <TxTable::TxItem::ChangeFiat::InputFiat
          @value={{value}}
          @onChange={{this.selectedValue}}
          @invalid={{this.isInvalid}}
        />
      {{/each}}
    </modal.body>
    <modal.footer>
      {{#if this.toConfirm}}
        <BsButton class="btn btn-primary" @onClick={{this.modifyFiat}}>Modifier</BsButton>
      {{else}}
        <div>
          <BsTooltip @placement="left">Vous devez modifier la valeur avant de confirmer...</BsTooltip>
          <BsButton class="btn btn-secondary" @disabled={{true}} @onClick={{this.modifyFiatValid}}>Modifier</BsButton>
        </div>
      {{/if}}
      <BsButton @onClick={{this.close}}>Annuler</BsButton>
    </modal.footer>
  </div>
</BsModal>