<div class="input-group mb-3 w-50">
  {{! template-lint-disable require-input-label }}
  <input
    type="number"
    id="modifyFiat"
    name="modifyFiat"
    class="form-control ps-2 {{@invalid}}"
    step="0.01"
    placeholder={{format-number @value.quantity maximumFractionDigits="2"}}
    aria-label="Amount (to the nearest)"
    {{on "change" this.updateValue}}
  />
  <span class="input-group-text">
    {{@value.currency}}
  </span>
</div>